Repository DataDog/system-tests, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/system-tests-core, @DataDog/dd-trace-cpp, @DataDog/apm-dotnet, @DataDog/asm-dotnet, @DataDog/dd-trace-go-guild, @DataDog/apm-java, @DataDog/asm-java, @DataDog/opentelemetry, @DataDog/dd-trace-js, @DataDog/apm-php, @DataDog/apm-python, @DataDog/asm-python, @DataDog/ruby-guild, @DataDog/asm-ruby, @mabdinur, @DataDog/apm-sdk-api, @DataDog/remote-config, @DataDog/asm-libraries, @DataDog/debugger, @DataDog/libdatadog-telemetry, @DataDog/serverless, @DataDog/asm-php, @DataDog/apm-ecosystems

.github/CODEOWNERS:

* @DataDog/system-tests-core

/utils/build/docker/cpp/ @DataDog/dd-trace-cpp @DataDog/system-tests-core
/utils/build/docker/dotnet*/ @DataDog/apm-dotnet @DataDog/asm-dotnet @DataDog/system-tests-core
/utils/build/docker/golang*/ @DataDog/dd-trace-go-guild @DataDog/system-tests-core
/utils/build/docker/java*/ @DataDog/apm-java @DataDog/asm-java @DataDog/system-tests-core
/utils/build/docker/java_otel/ @DataDog/opentelemetry @DataDog/system-tests-core
/utils/build/docker/nodejs*/ @DataDog/dd-trace-js @DataDog/system-tests-core
/utils/build/docker/php*/ @DataDog/apm-php @DataDog/system-tests-core
/utils/build/docker/python*/ @DataDog/apm-python @DataDog/asm-python @DataDog/system-tests-core
/utils/build/docker/ruby*/ @DataDog/ruby-guild @DataDog/asm-ruby @DataDog/system-tests-core

/tests/parametric/ @mabdinur @DataDog/system-tests-core @DataDog/apm-sdk-api
/tests/otel_tracing_e2e/ @DataDog/opentelemetry @DataDog/system-tests-core
/tests/remote_config/ @DataDog/remote-config @DataDog/system-tests-core
/tests/appsec/ @DataDog/asm-libraries @DataDog/system-tests-core
/tests/debugger/ @DataDog/debugger @DataDog/system-tests-core
/tests/telemetry_intake/ @DataDog/apm-sdk-api @DataDog/system-tests-core
/tests/test_telemetry.py @DataDog/libdatadog-telemetry @DataDog/apm-sdk-api @DataDog/system-tests-core
/tests/serverless @DataDog/serverless @DataDog/system-tests-core

/manifests/cpp.yml @DataDog/dd-trace-cpp
/manifests/dotnet.yml @DataDog/apm-dotnet @DataDog/asm-dotnet
/manifests/golang.yml @DataDog/dd-trace-go-guild
/manifests/java.yml @DataDog/asm-java @DataDog/apm-java
/manifests/nodejs.yml @DataDog/dd-trace-js
/manifests/php.yml @DataDog/apm-php @DataDog/asm-php
/manifests/python.yml @DataDog/apm-python @DataDog/asm-python
/manifests/ruby.yml @DataDog/ruby-guild @DataDog/asm-ruby

# Allows everyone to easily make changes
/tests/telemetry_intake/static/ @DataDog/apm-ecosystems

Easy wins Test_V3_Login_Events_RC
  manifests/java.yml
Owners: @DataDog/asm-java, @DataDog/apm-java

Nit: Fix spelling of Node.js and .NET (#3786)
  .gitlab-ci.yml
  CHANGELOG.md
  docs/execute/README.md
  docs/execute/binaries.md
  docs/execute/troubleshooting.md
  docs/scenarios/README.md
  docs/scenarios/k8s_lib_injection.md
  docs/scenarios/onboarding.md
  docs/scenarios/parametric.md
  lib-injection/README.md
  tests/integrations/crossed_integrations/test_sqs.py
  tests/integrations/test_db_integrations_sql.py
  tests/integrations/test_dsm.py
  tests/integrations/utils.py
  tests/parametric/test_otel_env_vars.py
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_sampling_span_tags.py
  tests/test_config_consistency.py
  utils/_context/containers.py
  utils/build/build.sh
  utils/build/docker/nodejs/express/app.js
  utils/build/docker/nodejs/parametric/server.js
  utils/scripts/load-binary.sh
Owners: @DataDog/system-tests-core, @mabdinur, @DataDog/apm-sdk-api, @DataDog/dd-trace-js

Fix linting
  utils/build/docker/nodejs/express/debugger/log_handler.js
Owners: @DataDog/dd-trace-js, @DataDog/system-tests-core

Add debugger endpoint to express4
  tests/debugger/utils.py
  utils/build/docker/nodejs/express/app.js
  utils/build/docker/nodejs/express/debugger/index.js
  utils/build/docker/nodejs/express/debugger/log_handler.js
Owners: @DataDog/debugger, @DataDog/system-tests-core, @DataDog/dd-trace-js

fix
  manifests/nodejs.yml
Owners: @DataDog/dd-trace-js

Add debugger endpoint to express4-typescript
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4-typescript/debugger/index.ts
  utils/build/docker/nodejs/express4-typescript/debugger/log_handler.ts
Owners: @DataDog/dd-trace-js, @DataDog/system-tests-core

[nodejs] Enable DI PII and probe status tests
  manifests/nodejs.yml
  tests/debugger/probes/probe_status_log.json
  tests/debugger/probes/probe_status_log_line.json
  tests/debugger/probes/probe_status_log_method.json
  tests/debugger/test_debugger_pii.py
  tests/debugger/test_debugger_probe_status.py
Owners: @DataDog/dd-trace-js, @DataDog/debugger, @DataDog/system-tests-core

Fix Test_SCAStandalone_Telemetry for play
  tests/appsec/test_asm_standalone.py
Owners: @DataDog/asm-libraries, @DataDog/system-tests-core

Onboarding: wheel of missery python
  .gitlab-ci.yml
Owners: @DataDog/system-tests-core

[python] code injection (#3753)
  manifests/python.yml
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Owners: @DataDog/apm-python, @DataDog/asm-python, @DataDog/system-tests-core

add V3 support
  manifests/python.yml
  utils/build/docker/python/django/app/urls.py
Owners: @DataDog/apm-python, @DataDog/asm-python, @DataDog/system-tests-core

update python manifest
  manifests/python.yml
Owners: @DataDog/apm-python, @DataDog/asm-python

Only run tests against express4 and express4-typescript
  manifests/nodejs.yml
Owners: @DataDog/dd-trace-js

Push django-py3.13.base-v0 if needed
  utils/build/build_python_base_images.sh
Owners: @DataDog/system-tests-core

Push django-py3.13.base-v0 if needed (#3814)
  utils/build/build_python_base_images.sh
Owners: @DataDog/system-tests-core

Enable session fingerprinting in vertx
  manifests/java.yml
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
Owners: @DataDog/asm-java, @DataDog/apm-java, @DataDog/system-tests-core

changes for django
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/django/django_app/settings.py
Owners: @DataDog/apm-python, @DataDog/asm-python, @DataDog/system-tests-core

[python] deactivate v2 ATO tests (#3813)
  manifests/python.yml
Owners: @DataDog/apm-python, @DataDog/asm-python

Onboarding: Docker apps extract more info
  utils/build/virtual_machine/provisions/auto-inject/auto-inject-vm_logs.yml
Owners: @DataDog/system-tests-core

fix dd-trace-js verion
  manifests/nodejs.yml
  tests/appsec/iast/utils.py
Owners: @DataDog/dd-trace-js, @DataDog/asm-libraries, @DataDog/system-tests-core
