Repository DataDog/system-tests, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbeauchesne, @DataDog/system-tests-core, @DataDog/tracing-go, @Kyle-Verhoog, @DataDog/remote-config

one additional test case
  lib-injection/run-auto-lib-injection.sh
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/system-tests-core

minor fixes
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/system-tests-core

temporarily exclude more jobs
  .github/workflows/experimental.yml
  lib-injection/run-auto-lib-injection.sh
Owners: @DataDog/system-tests-core

separate test cases
  .github/workflows/experimental.yml
  lib-injection/run-auto-lib-injection.sh
  lib-injection/runner/action.yml
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/system-tests-core

add check-for-pod-metadata
  .github/workflows/experimental.yml
  lib-injection/run-auto-lib-injection.sh
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/system-tests-core

added spancontext
  parametric/otel_apps/golang/apm_test_otel_client.pb.go
  parametric/protos/apm_test_otel_client.proto
  parametric/protos/apm_test_otel_client_pb2.py
Owners: @DataDog/system-tests-core

feat(telemetry): add basic telemetry metrics tests
  run.sh
  tests/appsec/waf/test_telemetry.py
Owners: @DataDog/system-tests-core

feat(telemetry): fix exception
  tests/appsec/waf/test_telemetry.py
Owners: @DataDog/system-tests-core

fixes
  .github/workflows/experimental.yml
  lib-injection/run-auto-lib-injection.sh
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/system-tests-core

handle sigterm in python apps
  lib-injection/build/docker/python/dd-lib-python-init-test-django-gunicorn/django_app.py
  lib-injection/build/docker/python/dd-lib-python-init-test-django-uvicorn/django_app.py
  lib-injection/build/docker/python/dd-lib-python-init-test-django/django_app.py
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/system-tests-core

handle java sigterm
  lib-injection/build/docker/java/dd-lib-java-init-test-app/src/main/java/com/example/k8slibinjectionapp/K8sLibInjectionAppApplication.java
Owners: @DataDog/system-tests-core

modify and add telemetry schemas
  utils/interfaces/schemas/library/telemetry/proxy/api/v2/apmtelemetry-request.json
Owners: @DataDog/system-tests-core

handle node sigterm
  lib-injection/build/docker/nodejs/sample-app/index.js
Owners: @DataDog/system-tests-core

update artifact version
  lib-injection/runner/action.yml
Owners: @DataDog/system-tests-core

bump timeout rollout status to 2m
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/system-tests-core

added SetStatus method for apmClientServer
  parametric/otel_apps/golang/apm_test_otel_client.pb.go
  parametric/otel_apps/golang/apm_test_otel_client_grpc.pb.go
  parametric/otel_apps/golang/main.go
  parametric/protos/apm_test_otel_client.proto
  parametric/protos/apm_test_otel_client_pb2.py
  parametric/spec/otel_trace.py
  parametric/test_otel_tracer.py
Owners: @DataDog/system-tests-core, @Kyle-Verhoog

fixed errors in SetStatus
  parametric/conftest.py
  parametric/otel_apps/golang/apm_test_otel_client.pb.go
  parametric/otel_apps/golang/main.go
  parametric/protos/apm_test_otel_client.proto
  parametric/protos/apm_test_otel_client_pb2.py
  parametric/test_otel_tracer.py
Owners: @Kyle-Verhoog, @DataDog/system-tests-core

added ForceFlush function and testing
  parametric/apps/golang/apm_test_client.pb.go
  parametric/apps/golang/apm_test_client_grpc.pb.go
  parametric/conftest.py
  parametric/otel_apps/golang/apm_test_otel_client.pb.go
  parametric/otel_apps/golang/apm_test_otel_client_grpc.pb.go
  parametric/otel_apps/golang/main.go
  parametric/protos/apm_test_otel_client.proto
  parametric/protos/apm_test_otel_client_pb2.py
  parametric/protos/apm_test_otel_client_pb2_grpc.py
  parametric/test_otel_tracer.py
Owners: @DataDog/system-tests-core, @Kyle-Verhoog

add mismatching config test
  .github/workflows/experimental.yml
  lib-injection/build/docker/java/config-mismatch-clustername.yaml
  lib-injection/build/docker/nodejs/config-mismatch-clustername.yaml
  lib-injection/build/docker/python/config-mismatch-clustername.yaml
  lib-injection/run-auto-lib-injection.sh
  lib-injection/runner/action.yml
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/system-tests-core

test other tracers that they hasn't changed
  .github/workflows/ci.yml
Owners: @DataDog/system-tests-core

.github/CODEOWNERS:

* @cbeauchesne
* @DataDog/system-tests-core
/utils/build/docker/golang/* @DataDog/tracing-go
/parametric/* @Kyle-Verhoog 
/tests/remote_config/* @DataDog/system-tests-core @DataDog/remote-config
