Repository DataDog/system-tests, pull requests merged in 2023-09, with the labels that each got.

#1547 Skip failing test on ruby on appsec_rules_monitoring_with_errors scenario
  tests/appsec/waf/test_reports.py
Labels: run-all-scenarios

#1529 Deserialize agent metrics payload
  .github/workflows/update-agent-protobuf.yml
  utils/proxy/_decoders/agent.descriptor
  utils/proxy/_decoders/protobuf_schemas.py
  utils/proxy/_decoders/trace_payload.descriptor
  utils/proxy/_deserializer.py
  utils/scripts/update_protobuf.sh
Labels: run-all-scenarios

#1549 Use manifest file for NodeJS version declarations
  conftest.py
  manifests/nodejs.yml
  tests/appsec/api_security/test_schemas.py
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  tests/appsec/iast/sink/test_trust_boundary_violation.py
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_unvalidated_redirect_forward.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  tests/appsec/iast/sink/test_xpath_injection.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_cookie_name.py
  tests/appsec/iast/source/test_cookie_value.py
  tests/appsec/iast/source/test_header_name.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_name.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/appsec/test_PII.py
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_client_ip.py
  tests/appsec/test_conf.py
  tests/appsec/test_customconf.py
  tests/appsec/test_event_tracking.py
  tests/appsec/test_identify.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_logs.py
  tests/appsec/test_rate_limiter.py
  tests/appsec/test_reports.py
  tests/appsec/test_request_blocking.py
  tests/appsec/test_runtime_activation.py
  tests/appsec/test_traces.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/appsec/test_versions.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/appsec/waf/test_custom_rules.py
  tests/appsec/waf/test_exclusions.py
  tests/appsec/waf/test_miscs.py
  tests/appsec/waf/test_reports.py
  tests/appsec/waf/test_rules.py
  tests/appsec/waf/test_telemetry.py
  tests/debugger/test_debugger.py
  tests/remote_config/test_remote_configuration.py
  tests/test_distributed.py
  tests/test_identify.py
  tests/test_library_conf.py
  tests/test_scrubbing.py
  tests/test_semantic_conventions.py
  tests/test_standard_tags.py
Labels: run-all-scenarios

#1555 Fix a bug with ASM span tags reporting the number of WAF failed loaded rules
  tests/appsec/waf/test_reports.py
Labels: run-all-scenarios

#1559 Use manifest file for C++ versions declarations
  manifests/cpp.yml
  tests/debugger/test_debugger.py
  tests/integrations/test_dbm.py
  tests/integrations/test_dsm.py
  tests/parametric/test_dynamic_configuration.py
  tests/remote_config/test_remote_configuration.py
  tests/test_distributed.py
  tests/test_telemetry.py
Labels: run-all-scenarios

#1560 [APPSEC-11052] make sure the Rails app are running in production mode
  tests/appsec/test_request_blocking.py
  utils/build/docker/ruby/install_ddtrace.sh
  utils/build/docker/ruby/rails32.Dockerfile
  utils/build/docker/ruby/rails40.Dockerfile
  utils/build/docker/ruby/rails41.Dockerfile
  utils/build/docker/ruby/rails42.Dockerfile
  utils/build/docker/ruby/rails50.Dockerfile
  utils/build/docker/ruby/rails51.Dockerfile
  utils/build/docker/ruby/rails52.Dockerfile
  utils/build/docker/ruby/rails52/config/credentials.yml.enc
  utils/build/docker/ruby/rails60.Dockerfile
  utils/build/docker/ruby/rails60/config/credentials.yml.enc
  utils/build/docker/ruby/rails61.Dockerfile
  utils/build/docker/ruby/rails61/config/credentials.yml.enc
  utils/build/docker/ruby/rails70.Dockerfile
  utils/build/docker/ruby/rails70/bin/rails
  utils/build/docker/ruby/rails70/config/credentials.yml.enc
Labels: run-all-scenarios

#1528 Improve doc and debug logs for lib-injection tests
  lib-injection/README.md
  lib-injection/runner/action.yml
Labels: run-libinjection-scenarios

#1562 update to lowercase for api_security tests
  tests/appsec/api_security/test_schemas.py
Labels: run-all-scenarios

#1566 Fixing APPSEC_BLOCKING scenario
  tests/appsec/test_blocking_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/test_standard_tags.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
Labels: run-all-scenarios

#1567 Test values for library in decorator
  tests/appsec/test_alpha.py
  tests/appsec/test_reports.py
  tests/appsec/test_traces.py
  tests/appsec/waf/test_miscs.py
  tests/test_the_test/test_decorators.py
  utils/_decorators.py
Labels: run-all-scenarios

#1563 Use manifest file for golang version declarations
  manifests/golang.yml
  tests/appsec/api_security/test_schemas.py
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  tests/appsec/iast/sink/test_trust_boundary_violation.py
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_unvalidated_redirect_forward.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  tests/appsec/iast/sink/test_xpath_injection.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_cookie_name.py
  tests/appsec/iast/source/test_cookie_value.py
  tests/appsec/iast/source/test_header_name.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_name.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/appsec/test_PII.py
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_client_ip.py
  tests/appsec/test_conf.py
  tests/appsec/test_customconf.py
  tests/appsec/test_event_tracking.py
  tests/appsec/test_identify.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_logs.py
  tests/appsec/test_reports.py
  tests/appsec/test_request_blocking.py
  tests/appsec/test_runtime_activation.py
  tests/appsec/test_traces.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/appsec/test_versions.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/appsec/waf/test_custom_rules.py
  tests/appsec/waf/test_exclusions.py
  tests/appsec/waf/test_miscs.py
  tests/appsec/waf/test_reports.py
  tests/appsec/waf/test_rules.py
  tests/appsec/waf/test_telemetry.py
  tests/debugger/test_debugger.py
  tests/integrations/test_dbm.py
  tests/integrations/test_dsm.py
  tests/parametric/test_dynamic_configuration.py
  tests/remote_config/test_remote_configuration.py
  tests/test_distributed.py
  tests/test_identify.py
  tests/test_library_conf.py
  tests/test_scrubbing.py
  tests/test_semantic_conventions.py
  tests/test_standard_tags.py
  tests/test_telemetry.py
Labels: run-all-scenarios

#1570 Use manifest file for .NET tracer versions declarations
  docs/edit/coverage.md
  manifests/dotnet.yml
  tests/appsec/api_security/test_schemas.py
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  tests/appsec/iast/sink/test_trust_boundary_violation.py
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_unvalidated_redirect_forward.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  tests/appsec/iast/sink/test_xpath_injection.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_cookie_name.py
  tests/appsec/iast/source/test_cookie_value.py
  tests/appsec/iast/source/test_header_name.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_name.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/appsec/test_PII.py
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_client_ip.py
  tests/appsec/test_conf.py
  tests/appsec/test_customconf.py
  tests/appsec/test_event_tracking.py
  tests/appsec/test_identify.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_logs.py
  tests/appsec/test_rate_limiter.py
  tests/appsec/test_reports.py
  tests/appsec/test_request_blocking.py
  tests/appsec/test_runtime_activation.py
  tests/appsec/test_traces.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/appsec/waf/test_custom_rules.py
  tests/appsec/waf/test_exclusions.py
  tests/appsec/waf/test_miscs.py
  tests/appsec/waf/test_reports.py
  tests/appsec/waf/test_rules.py
  tests/appsec/waf/test_telemetry.py
  tests/debugger/test_debugger.py
  tests/integrations/test_dsm.py
  tests/parametric/test_dynamic_configuration.py
  tests/remote_config/test_remote_configuration.py
  tests/test_distributed.py
  tests/test_identify.py
  tests/test_library_conf.py
  tests/test_scrubbing.py
  tests/test_semantic_conventions.py
  tests/test_standard_tags.py
  tests/test_telemetry.py
Labels: run-all-scenarios

#1572 Move ruby version declaration to manifest file
  manifests/ruby.yml
  tests/appsec/api_security/test_schemas.py
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  tests/appsec/iast/sink/test_trust_boundary_violation.py
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_unvalidated_redirect_forward.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  tests/appsec/iast/sink/test_xpath_injection.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_cookie_name.py
  tests/appsec/iast/source/test_cookie_value.py
  tests/appsec/iast/source/test_header_name.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_name.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/appsec/test_PII.py
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_client_ip.py
  tests/appsec/test_conf.py
  tests/appsec/test_customconf.py
  tests/appsec/test_event_tracking.py
  tests/appsec/test_identify.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_logs.py
  tests/appsec/test_request_blocking.py
  tests/appsec/test_runtime_activation.py
  tests/appsec/test_traces.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/appsec/test_versions.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/appsec/waf/test_custom_rules.py
  tests/appsec/waf/test_exclusions.py
  tests/appsec/waf/test_miscs.py
  tests/appsec/waf/test_reports.py
  tests/appsec/waf/test_rules.py
  tests/appsec/waf/test_telemetry.py
  tests/debugger/test_debugger.py
  tests/integrations/test_dbm.py
  tests/integrations/test_dsm.py
  tests/parametric/test_dynamic_configuration.py
  tests/remote_config/test_remote_configuration.py
  tests/test_distributed.py
  tests/test_identify.py
  tests/test_library_conf.py
  tests/test_scrubbing.py
  tests/test_semantic_conventions.py
  tests/test_standard_tags.py
  tests/test_telemetry.py
Labels: run-all-scenarios

#1574 Remove temporary fix from PHP
  .github/workflows/ci.yml
Labels: run-all-scenarios

#1470 Test for RC client extra_services field
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/remote_config/test_remote_configuration.py
  utils/build/docker/dotnet/Controllers/CreateExtraServiceController.cs
Labels: run-all-scenarios

#1569 response body support for api security
  docs/weblog/README.md
  tests/appsec/api_security/test_schemas.py
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
  utils/proxy/_deserializer.py
Labels: run-all-scenarios

#1410 new integrations db weblog and related tests
  .github/workflows/ci.yml
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/ruby.yml
  tests/integrations/test_db_integrations_sql.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/build/build.sh
  utils/build/docker/java/app-integrations-db-sql.sh
  utils/build/docker/java/spring-boot/pom.xml
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/BaseCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/DBFactory.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/ICRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/IDBConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mssql/MssqlCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mssql/MssqlConnection.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mysql/MysqlCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mysql/MysqlConnection.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/postgres/PostgresCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/postgres/PostgresConnection.java
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/integrations/db/mssql.js
  utils/build/docker/nodejs/express4/integrations/db/mysql.js
  utils/build/docker/nodejs/express4/integrations/db/postgres.js
  utils/build/docker/nodejs/express4/integrations/db/resources/mssql.sql
  utils/build/docker/nodejs/express4/integrations/db/resources/mysql.sql
  utils/build/docker/nodejs/express4/integrations/db/resources/postgres.sql
  utils/build/docker/nodejs/express4/package.json
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/db/mssql.py
  utils/build/docker/python/flask/integrations/db/mysqldb.py
  utils/build/docker/python/flask/integrations/db/postgres.py
Labels: run-all-scenarios, build-python-base-images

#1565 Enable debugger snapshot tests
  .github/workflows/ci.yml
  scenario_groups.yml
  tests/debugger/test_debugger.py
  utils/_context/_scenarios.py
  utils/proxy/core.py
  utils/proxy/rc_mocked_responses_debugger_method_probes_snapshot.json
Labels: run-debugger-scenarios

#1578 api security tests for request cookies
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/nodejs.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/api_security/test_schemas.py
Labels: run-all-scenarios

#1544 [opentelemetry] Test OTLP log ingestion in Agent
  tests/otel_tracing_e2e/_test_validator_log.py
  tests/otel_tracing_e2e/test_e2e.py
  utils/_context/_scenarios.py
  utils/build/docker/agent.Dockerfile
  utils/build/docker/java_otel/spring-boot-native/src/main/java/com/datadoghq/springbootnative/App.java
  utils/interfaces/schemas/agent/api/v2/logs-request.json
Labels: run-open-telemetry-scenarios

#1573 Improve and clean manifest internals
  conftest.py
  manifests/parser/core.py
  tests/test_the_test/test_decorators.py
  tests/test_the_test/test_json_report.py
  utils/_decorators.py
Labels: run-all-scenarios

#1583 Fix DEBUGGER_METHOD_PROBES_SNAPSHOT scenario
  tests/debugger/test_debugger.py
Labels: run-debugger-scenarios

#1582 Move PHP Appsec version declaration to manifest file
  .github/CODEOWNERS
  conftest.py
  manifests/parser/core.py
  manifests/php_appsec.yml
  tests/appsec/api_security/test_schemas.py
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  tests/appsec/iast/sink/test_trust_boundary_violation.py
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_unvalidated_redirect_forward.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  tests/appsec/iast/sink/test_xpath_injection.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_cookie_name.py
  tests/appsec/iast/source/test_cookie_value.py
  tests/appsec/iast/source/test_header_name.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_name.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/appsec/test_alpha.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_conf.py
  tests/appsec/test_customconf.py
  tests/appsec/test_event_tracking.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_logs.py
  tests/appsec/test_reports.py
  tests/appsec/test_request_blocking.py
  tests/appsec/test_runtime_activation.py
  tests/appsec/test_traces.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/appsec/waf/test_custom_rules.py
  tests/appsec/waf/test_exclusions.py
  tests/appsec/waf/test_miscs.py
  tests/appsec/waf/test_reports.py
  tests/appsec/waf/test_rules.py
  tests/integrations/test_db_integrations_sql.py
  tests/remote_config/test_remote_configuration.py
  tests/test_standard_tags.py
Labels: run-all-scenarios

#1585 Move PHP versions declarations to manifest files
  manifests/php.yml
  tests/appsec/test_PII.py
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_client_ip.py
  tests/appsec/test_identify.py
  tests/appsec/test_logs.py
  tests/appsec/test_reports.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_telemetry.py
  tests/integrations/test_db_integrations_sql.py
  tests/integrations/test_dbm.py
  tests/integrations/test_dsm.py
  tests/parametric/test_dynamic_configuration.py
  tests/remote_config/test_remote_configuration.py
  tests/test_distributed.py
  tests/test_identify.py
  tests/test_library_conf.py
  tests/test_sampling_rates.py
  tests/test_scrubbing.py
  tests/test_semantic_conventions.py
  tests/test_standard_tags.py
  tests/test_telemetry.py
  tests/test_the_test/test_decorators.py
Labels: run-all-scenarios

#1575 Enable test_sample_rate_function for dotnet
  tests/test_sampling_rates.py
Labels: dotnet, run-sampling-scenario

#1581 [Debugger] Support multiple probes in single configuration
  utils/proxy/debugger/base_rcm.json
  utils/proxy/debugger/base_target.json
  utils/proxy/debugger/base_target_file.json
  utils/proxy/rc_debugger.py
  utils/proxy/rc_mocked_responses_debugger_line_probes_status.json
  utils/proxy/rc_mocked_responses_debugger_method_probes_snapshot.json
  utils/proxy/rc_mocked_responses_debugger_method_probes_status.json
Labels: run-debugger-scenarios

#1584 Marking some otel test as flaky
  tests/otel_tracing_e2e/test_e2e.py
Labels: run-open-telemetry-scenarios

#1580 add more test cases for Test_CustomBlockingResponse
  tests/appsec/blocking_rule.json
  tests/appsec/waf/test_blocking.py
Labels: run-all-scenarios

#1591 Final migration leftovers for version declaration
  conftest.py
  manifests/agent.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_reports.py
  tests/integrations/test_db_integrations_sql.py
  tests/integrations/test_dbm.py
  tests/integrations/test_dsm.py
  tests/otel_tracing_e2e/test_e2e.py
  tests/parametric/test_dynamic_configuration.py
  tests/test_standard_tags.py
  tests/test_telemetry.py
  tests/test_the_test/test_decorators.py
  tests/test_the_test/test_json_report.py
  utils/_decorators.py
Labels: run-all-scenarios

#1586 [Debugger] Add line probe snapshot tests
  .github/workflows/ci.yml
  scenario_groups.yml
  tests/debugger/test_debugger.py
  utils/_context/_scenarios.py
  utils/proxy/core.py
  utils/proxy/rc_mocked_responses_debugger_line_probes_snapshot.json
Labels: run-debugger-scenarios

#1597 Deserialize `_dd.appsec.s.` meta in v0.4 traces
  utils/proxy/_deserializer.py
Labels: run-all-scenarios

#1596 Remove bare pytest import and skips
  manifests/java.yml
  tests/appsec/test_conf.py
  tests/appsec/test_customconf.py
  tests/appsec/test_logs.py
  tests/appsec/test_rate_limiter.py
  tests/appsec/test_runtime_activation.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/appsec/waf/test_exclusions.py
  tests/appsec/waf/test_miscs.py
  tests/appsec/waf/test_reports.py
  tests/appsec/waf/test_rules.py
  tests/appsec/waf/test_telemetry.py
  tests/onboarding/test_onboarding_install.py
Labels: run-all-scenarios

#1593 [Node.js] enable cookie blocking tests
  manifests/nodejs.yml
  tests/appsec/test_blocking_addresses.py
Labels: run-all-scenarios

#1599 Support for run-appsec-scenarios
  .github/workflows/ci.yml
  .github/workflows/compute-scenarios.yml
  docs/CI/labels.md
Labels: run-appsec-scenarios

#1595 [DEBUGGER] Add span and span-decoration method probe snapshot tests
  tests/debugger/test_debugger.py
  utils/_context/_scenarios.py
  utils/build/docker/dotnet/Controllers/DebuggerController.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/DebuggerController.java
  utils/proxy/rc_mocked_responses_debugger_method_probes_snapshot.json
Labels: run-debugger-scenarios

#1602 Api security env variable
  docs/weblog/README.md
  manifests/python.yml
  tests/appsec/api_security/test_schemas.py
  utils/_context/_scenarios.py
  utils/build/docker/ruby/sinatra14/app.rb
  utils/build/docker/ruby/sinatra20/app.rb
  utils/build/docker/ruby/sinatra21/app.rb
Labels: run-appsec-scenarios

#1603 [Debugger] Add more line probe snapshots tests
  tests/debugger/test_debugger.py
  utils/_context/_scenarios.py
  utils/proxy/rc_mocked_responses_debugger_line_probes_snapshot.json
Labels: run-debugger-scenarios

#1604 Optimize python build
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
Labels: dev-x

#1607 Migrate few C++ leftovers in manifest file
  manifests/cpp.yml
  tests/appsec/test_versions.py
  tests/debugger/test_debugger.py
  tests/test_library_conf.py
  tests/test_miscs.py
  tests/test_profiling.py
  tests/test_sampling_rates.py
  tests/test_telemetry.py
Labels: run-all-scenarios

#1605 Migrate few leftovers in ruby manifest file
  manifests/ruby.yml
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/appsec/waf/test_addresses.py
  tests/debugger/test_debugger.py
  tests/test_profiling.py
  tests/test_sampling_rates.py
  tests/test_scrubbing.py
  tests/test_semantic_conventions.py
Labels: run-all-scenarios

#1609 Migrate few PHP leftovers in manifest file
  manifests/php.yml
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_reports.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_rules.py
  tests/debugger/test_debugger.py
  tests/remote_config/test_remote_configuration.py
  tests/test_profiling.py
Labels: run-all-scenarios

#1589 Extract parametric tracer version
  utils/_context/_scenarios.py
  utils/build/docker/dotnet/parametric/ddtracer_version.Dockerfile
  utils/build/docker/golang/parametric/ddtracer_version.Dockerfile
  utils/build/docker/golang/parametric/ddtracer_version.sh
  utils/build/docker/java/parametric/ddtracer_version.Dockerfile
  utils/build/docker/nodejs/parametric/ddtracer_version.Dockerfile
  utils/build/docker/nodejs/parametric/ddtracer_version.sh
  utils/build/docker/php/parametric/ddtracer_version.Dockerfile
  utils/build/docker/python/parametric/ddtracer_version.Dockerfile
  utils/build/docker/ruby/parametric/ddtracer_version.Dockerfile
Labels: run-parametric-scenario

#1610 Migrate some leftovers in manifest files
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/python.yml
  tests/apm_tracing_e2e/test_otel.py
  tests/apm_tracing_e2e/test_single_span.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/debugger/test_debugger.py
  tests/integrations/test_dbm.py
  tests/remote_config/test_remote_configuration.py
  tests/test_profiling.py
  tests/test_semantic_conventions.py
Labels: run-all-scenarios

#1600 feat(python): weak randomness vulnerability
  manifests/python.yml
  tests/appsec/iast/_test_iast_fixtures.py
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
Labels: run-appsec-scenarios

#1612 Hopefully, last manifest migration
  manifests/cpp.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/parser/core.py
  manifests/php.yml
  manifests/ruby.yml
  tests/apm_tracing_e2e/test_otel.py
  tests/apm_tracing_e2e/test_single_span.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/waf/test_miscs.py
  tests/debugger/test_debugger.py
  tests/integrations/test_cassandra.py
  tests/integrations/test_mongo.py
  tests/integrations/test_sql.py
  tests/otel_tracing_e2e/test_e2e.py
  tests/remote_config/test_remote_configuration.py
  tests/test_profiling.py
  tests/test_semantic_conventions.py
  tests/test_telemetry.py
  utils/_decorators.py
Labels: run-all-scenarios

#1538 Enable some tests in Java
  manifests/java.yml
  tests/appsec/test_blocking_addresses.py
  tests/test_data_integrity.py
Labels: run-all-scenarios, run-appsec-scenarios

#1611 chore(python): enable xpass tests
  manifests/python.yml
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_header_value.py
Labels: run-appsec-scenarios

#1601 Db Integrations scenario: add agent interface validations
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/test_db_integrations_sql.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/BaseCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mssql/MssqlCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/postgres/PostgresCRUDOperation.java
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/integrations/db/mssql.js
  utils/build/docker/nodejs/express4/integrations/db/mysql.js
  utils/build/docker/nodejs/express4/integrations/db/postgres.js
  utils/build/docker/nodejs/express4/integrations/db/resources/mysql.sql
  utils/build/docker/nodejs/express4/integrations/db/resources/postgres.sql
  utils/build/docker/python/flask/integrations/db/mssql.py
  utils/build/docker/python/flask/integrations/db/mysqldb.py
  utils/build/docker/python/flask/integrations/db/postgres.py
Labels: run-all-scenarios

#1606 python api security enabled again
  manifests/python.yml
  utils/_context/_scenarios.py
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
Labels: run-appsec-scenarios

#1616 feat(python): path traversal vulnerability
  manifests/python.yml
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_path_traversal.py
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
Labels: run-appsec-scenarios

#1617 Add weblog variant for python 3.12
  .github/workflows/ci.yml
  docs/execute/build.md
  manifests/python.yml
  tests/test_semantic_conventions.py
  tests/test_standard_tags.py
  utils/_context/containers.py
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/python3.12.base.Dockerfile
Labels: run-all-scenarios

#1561 HSTS missing header vulnerability tests for IAST
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php_appsec.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/sink/test_hsts_missing_header.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/AppSecIast.java
Labels: run-appsec-scenarios

#1623 update and activate remote config tests for extra services
  manifests/python.yml
  tests/remote_config/test_remote_configuration.py
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
Labels: run-all-scenarios

#1630 simplify rails 6.0 dockerfile
  utils/build/docker/ruby/rails60.Dockerfile
Labels: run-all-scenarios

#1635 Enabled test for extra tags in AppSecEvent report for Java
  manifests/java.yml
  tests/appsec/test_reports.py
Labels: run-appsec-scenarios

#1636 Add hsts and x content type missing headers to nodejs system tests
  manifests/nodejs.yml
  tests/appsec/iast/sink/test_hsts_missing_header.py
  tests/appsec/iast/sink/test_xcontent_sniffing.py
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/iast/index.js
Labels: run-appsec-scenarios
