Repository DataDog/system-tests, pull requests merged in 2023-11, with the labels that each got.

#1780 Fix Java parametric client OTel span kind mapping
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/OpenTelemetryClient.java
Labels: java, run-parametric-scenario

#1786 Java telemetry API version is now v2
  tests/appsec/waf/test_telemetry.py
Labels: run-appsec-scenarios

#1785 Fix integrations scenario on java
  tests/integrations/test_db_integrations_sql.py
Labels: run-all-scenarios

#1787 ddtracepy: skip failing db tests
  tests/integrations/test_db_integrations_sql.py
Labels: run-all-scenarios

#1789 Add label run-integration-scenarios
  .github/workflows/ci.yml
  .github/workflows/compute-scenarios.yml
Labels: run-integration-scenarios

#1790 Fix integration scenario
  tests/integrations/test_db_integrations_sql.py
Labels: bug, run-integration-scenarios

#1755 Prepare api security tests for dotnet
  tests/appsec/api_security/test_schemas.py
  utils/_weblog.py
  utils/build/docker/dotnet/Controllers/IastController.cs
  utils/build/docker/dotnet/Controllers/TagValueController.cs
  utils/build/docker/dotnet/Models/ApiSecurity/RequestBodyModel.cs
  utils/build/docker/dotnet/Models/ApiSecurity/ResponseBodyModel.cs
  utils/build/docker/dotnet/app.csproj
  utils/build/docker/dotnet/poc.Dockerfile
  utils/build/docker/dotnet/uds.Dockerfile
Labels: run-appsec-scenarios

#1752 Adjust extra_services assertions
  tests/remote_config/test_remote_configuration.py
Labels: run-appsec-scenarios

#1784 Shell execution tests
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/php_appsec.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/test_shell_execution.py
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4/app.js
Labels: run-appsec-scenarios

#1781 Telemetry logs request type schema
  utils/interfaces/schemas/miscs/telemetry/v1/telemetry_request.json
  utils/interfaces/schemas/miscs/telemetry/v2/events/logs.json
  utils/interfaces/schemas/miscs/telemetry/v2/telemetry_request.json
Labels: run-all-scenarios

#1791 Revamp DB integration test classes
  .github/workflows/ci.yml
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/python_otel.yml
  manifests/ruby.yml
  tests/integrations/__init__.py
  tests/integrations/sql_utils.py
  tests/integrations/test_db_integrations_sql.py
  tests/integrations/test_open_telemetry.py
Labels: run-integration-scenarios

#1760 [node.js] Enable RC extra services test [APPSEC-11927]
  manifests/nodejs.yml
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/nextjs/src/app/createextraservice/route.js
Labels: run-all-scenarios

#1655 Add parametric tests for OpenTelemetry -> Datadog name conventions
  manifests/cpp.yml
  manifests/php.yml
  manifests/ruby.yml
  tests/parametric/test_otel_span_methods.py
  utils/parametric/spec/otel_trace.py
Labels: run-parametric-scenario

#1651 Remove missing_feature for PHP in 128 bit trace id tests
  tests/parametric/test_128_bit_traceids.py
Labels: run-parametric-scenario

#1802 dotnet bug remote configuration
  tests/remote_config/test_remote_configuration.py
Labels: run-appsec-scenarios

#1799 [WIP] fix parametric scenario
  .github/workflows/ci.yml
  .github/workflows/parametric.yml
  conftest.py
  utils/_context/_scenarios.py
Labels: run-all-scenarios, run-parametric-scenario

#1783 [Tracing] Add endpoints to Python Weblog application related to Kafka Producer and Consumer calls
  .github/workflows/ci.yml
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/test_crossed_integrations.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/build/build_tracer_buddies.sh
  utils/build/docker/python/flask/app.py
  utils/interfaces/__init__.py
  utils/interfaces/_library/core.py
  utils/proxy/core.py
Labels: run-all-scenarios

#1771 Hardcoded secrets test [APPSEC-11807]
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php_appsec.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/_test_iast_fixtures.py
  tests/appsec/iast/sink/test_hardcoded_secrets.py
  utils/build/docker/nodejs/express4/iast/index.js
Labels: run-all-scenarios

#1796 parametric/otel tests: fixed wrong asssertion, must set span kind not type
  tests/apm_tracing_e2e/test_otel.py
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
Labels: run-open-telemetry-scenarios

#1810 Fix B3 parametric tests when 128-bit trace id generation is enabled
  tests/parametric/test_headers_b3.py
  tests/parametric/test_headers_b3multi.py
Labels: run-parametric-scenario

#1803 Unskip test (DBMON-3088)
  tests/integrations/test_db_integrations_sql.py
Labels: run-integration-scenarios

#1819 Add a test to parametric test suit for OpenTelemetry -> Datadog name conventions
  tests/parametric/test_otel_span_methods.py
Labels: run-parametric-scenario

#1815 Fix truncate the compared trace id for headers
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#1814 [parametric] Add system-test for client libraries to generate 128 bit trace-id's by default
  tests/parametric/test_128_bit_traceids.py
Labels: run-parametric-scenario

#1817 Opt-out SWC compiler for NextJS app
  utils/build/docker/nodejs/nextjs/.babelrc
  utils/build/docker/nodejs/nextjs/next.config.js
  utils/build/docker/nodejs/nextjs/package-lock.json
Labels: run-all-scenarios

#1800 Enable parametric OpenTelemetry span naming tests for Java tracer
  tests/parametric/test_otel_span_methods.py
Labels: java, run-parametric-scenario

#1801 [node.js] express4 app linter [APPSEC-10464]
  .github/actions/lint_code/action.yaml
  utils/build/docker/nodejs/express4/.eslintrc.json
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/auth.js
  utils/build/docker/nodejs/express4/graphql.js
  utils/build/docker/nodejs/express4/iast/index.js
  utils/build/docker/nodejs/express4/iast/sources.js
  utils/build/docker/nodejs/express4/integrations/db/mssql.js
  utils/build/docker/nodejs/express4/integrations/db/mysql.js
  utils/build/docker/nodejs/express4/integrations/db/postgres.js
  utils/build/docker/nodejs/express4/integrations/ldap.js
  utils/build/docker/nodejs/express4/package-lock.json
  utils/build/docker/nodejs/express4/package.json
Labels: run-all-scenarios

#1779 Fixes a panic related to noop embeded span context in ddtrace/opentelemetry
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
  utils/build/docker/golang/parametric/main.go
  utils/build/docker/golang/parametric/otel.go
Labels: run-all-scenarios, mergequeue-status: removed

#1809 wait for a heartbeat with reqired service
  tests/remote_config/test_remote_configuration.py
Labels: run-all-scenarios

#1827 Update dotnet.yml
  manifests/dotnet.yml
Labels: run-appsec-scenarios

#1829 When no span.kind, name should default to `internal`
  tests/parametric/test_otel_span_methods.py
Labels: run-parametric-scenario

#1795 [parametric] Add tests for updated default W3C propagation behaviors
  tests/parametric/test_headers_precedence.py
  tests/parametric/test_headers_tracestate_dd.py
Labels: run-parametric-scenario

#1804 [GO]: OTel API operation naming: Unskipped / Fixed the tests in accordance to OTel attributes remapping
  tests/apm_tracing_e2e/test_otel.py
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_otel_span_with_w3c.py
  tests/parametric/test_otel_tracer.py
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
  utils/build/docker/golang/parametric/otel.go
Labels: run-open-telemetry-scenarios, run-parametric-scenario, mergequeue-status: removed

#1837 feat(python/iast): vulnerability deduplication
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/fastapi.Dockerfile
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/pylons.Dockerfile
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
Labels: run-appsec-scenarios

#1836 [dotnet] IAST header value test
  manifests/dotnet.yml
  tests/appsec/iast/source/test_header_value.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: run-all-scenarios

#1845 Parametric: Timeout to running subprocess
  tests/parametric/conftest.py
Labels: run-parametric-scenario

#1811 Add system tests for span links
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  requirements.txt
  tests/parametric/conftest.py
  tests/parametric/test_span_links.py
  utils/build/docker/php/parametric/Dockerfile
  utils/build/docker/php/parametric/server.php
  utils/parametric/_library_client.py
  utils/parametric/protos/apm_test_client.proto
  utils/parametric/protos/apm_test_client_pb2.py
  utils/parametric/protos/apm_test_client_pb2_grpc.py
Labels: run-parametric-scenario

#1852 remove test skip + go.mod update
  tests/parametric/test_headers_precedence.py
  utils/build/docker/golang/parametric/datadog.go
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
Labels: run-parametric-scenario

#1854 golang/parametric: dont restart tracer on span creation
  utils/build/docker/golang/parametric/datadog.go
  utils/build/docker/golang/parametric/main.go
Labels: run-parametric-scenario

#1818 Update Java tracer parametric tests
  tests/parametric/test_128_bit_traceids.py
  tests/parametric/test_headers_precedence.py
  tests/parametric/test_headers_tracestate_dd.py
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_otel_span_with_w3c.py
  tests/parametric/test_otel_tracer.py
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/OpenTelemetryClient.java
Labels: run-parametric-scenario

#1757 [DSM] Update kafka context propagation test
  tests/integrations/test_dsm.py
Labels: run-integration-scenarios

#1849 OTel:Minor typo on test assertion
  tests/parametric/test_headers_precedence.py
  tests/parametric/test_otel_span_methods.py
Labels: run-parametric-scenario

#1857 Update tests for cpp@0.1.12
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#1860 Enable tracer-flare system-tests for Java tracer 1.25.0 and later
  manifests/java.yml
Labels: run-parametric-scenario

#1456 Enable OpenTelemetry tests for Ruby
  manifests/ruby.yml
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_otel_span_with_w3c.py
  tests/parametric/test_otel_tracer.py
  utils/build/docker/ruby/parametric/Gemfile
  utils/build/docker/ruby/parametric/ddtracer_version.Dockerfile
  utils/build/docker/ruby/parametric/server.rb
Labels: run-parametric-scenario

#1862 [PHP] Support unified package
  utils/build/docker/php/apache-mod/build.sh
  utils/build/docker/php/common/install_ddtrace.sh
Labels: run-parametric-scenario

#1864 If no dd= data is to be propagated, it might be completely missing
  tests/parametric/test_headers_tracestate_dd.py
Labels: run-parametric-scenario

#1866 Follow-up to #1864, tracestate itself may also be lacking then
  tests/parametric/test_headers_tracestate_dd.py
Labels: run-parametric-scenario

#1872 [Ruby 1.17.0] Parametric missing feature: test_headers_precedence_propagationstyle_default
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#1841 parametric: [golang] unskip the dot notation tests
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
Labels: run-parametric-scenario, mergequeue-status: error
