Repository DataDog/system-tests, pull requests merged in 2023-08, with the labels that each got.

#1451 Retry when hitting backend API rate limit
  utils/interfaces/_backend.py
Labels: run-all-scenarios

#1448 Telemetry test fixes
  .github/workflows/ci.yml
  scenario_groups.yml
  tests/test_telemetry.py
  utils/_context/_scenarios.py
Labels: run-all-scenarios

#1457 [Java][Payara] Disable Hazelcast's phone home
  utils/build/docker/java/spring-boot-payara.Dockerfile
Labels: java

#1348 Skip scenario appsec_rate_limiter for all rails weblogs
  tests/appsec/test_rate_limiter.py
Labels: run-all-scenarios

#1458 Un-skip .NET telemetry tests
  tests/test_telemetry.py
  utils/build/docker/dotnet/poc.Dockerfile
  utils/build/docker/dotnet/uds.Dockerfile
Labels: dotnet, run-all-scenarios

#1460 [Java][Ratpack] Avoid blocking in /make_distant_call
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/Main.java
Labels: java, run-profiling-scenario

#1463 [Java][Payara] Speed up startup by disabling clustering
  utils/build/docker/java/spring-boot-payara.Dockerfile
Labels: java

#1465 Merge graalVM in base matrix
  .github/workflows/ci.yml
  tests/test_telemetry.py
Labels: run-all-scenarios

#1459 Fix pretty asserts in utilities files
  pyproject.toml
  tests/appsec/iast/_test_iast_fixtures.py
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  tests/appsec/iast/sink/test_trust_boundary_violation.py
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_unvalidated_redirect_forward.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  tests/appsec/iast/sink/test_xpath_injection.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_cookie_name.py
  tests/appsec/iast/source/test_cookie_value.py
  tests/appsec/iast/source/test_header_name.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_name.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/otel_tracing_e2e/__init__.py
  tests/otel_tracing_e2e/_test_validator_log.py
  tests/otel_tracing_e2e/_test_validator_metric.py
  tests/otel_tracing_e2e/_test_validator_trace.py
  tests/otel_tracing_e2e/test_e2e.py
Labels: run-all-scenarios

#1414 Debugger java support
  tests/debugger/test_debugger.py
  utils/_context/_scenarios.py
  utils/proxy/debugger/base_target.json
  utils/proxy/rc_debugger.py
  utils/proxy/rc_mocked_responses_debugger_line_probes_status.json
  utils/proxy/rc_mocked_responses_debugger_method_probes_status.json
Labels: run-all-scenarios

#1446 [Node.js] Enable tests.
  tests/appsec/test_automated_login_events.py
Labels: run-all-scenarios

#1329 parametric: enable Go for partial flushing and add additional test
  tests/parametric/test_partial_flushing.py
  utils/build/docker/dotnet/parametric/Services/ApmTestClientService.cs
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
Labels: run-parametric-scenario

#1468 Upgrade golang to 1.20 and optimize dockerfile caching
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/chi.Dockerfile
  utils/build/docker/golang/echo.Dockerfile
  utils/build/docker/golang/gin.Dockerfile
  utils/build/docker/golang/install_ddtrace.sh
  utils/build/docker/golang/net-http.Dockerfile
  utils/build/docker/golang/uds-echo.Dockerfile
Labels: go, run-all-scenarios

#1437 [parametric] Unskip Ruby parametric tests
  tests/parametric/test_headers_b3.py
  tests/parametric/test_headers_b3multi.py
  tests/parametric/test_headers_datadog.py
  tests/parametric/test_headers_none.py
  tests/parametric/test_headers_precedence.py
  tests/parametric/test_headers_tracecontext.py
  tests/parametric/test_headers_tracestate_dd.py
  utils/build/docker/ruby/parametric/generate_proto.sh
  utils/build/docker/ruby/parametric/server.rb
Labels: run-parametric-scenario

#1474 Fix net/http sample_rate_route endpoint
  tests/test_standard_tags.py
  utils/build/docker/golang/app/net-http.go
Labels: go, run-sampling-scenario

#1469 Allow other tags to be present in the telemetry metrics and distributions payload
  tests/appsec/waf/test_telemetry.py
Labels: run-all-scenarios

#1479 tests/parametric: align Go with client-stats spec
  tests/parametric/test_library_tracestats.py
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
Labels: run-parametric-scenario

#1482 Skip failing test on ASM/java
  tests/appsec/waf/test_blocking.py
Labels: run-all-scenarios

#1077 [Telemetry] Enable telemetry tests for php, and V2 for python
  tests/test_telemetry.py
  utils/interfaces/schemas/miscs/telemetry/common/events/dependencies-loaded.json
  utils/interfaces/schemas/miscs/telemetry/common/events/generate-metrics.json
  utils/interfaces/schemas/miscs/telemetry/common/events/integrations-change.json
  utils/interfaces/schemas/miscs/telemetry/v2/objects/header.json
Labels: do-not-merge, run-all-scenarios

#1344 Implement OTel smoke tests in Java library
  tests/apm_tracing_e2e/test_otel.py
  utils/_context/_scenarios.py
  utils/build/docker/java/spring-boot/pom.xml
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
Labels: java, run-all-scenarios

#1491 Refactor Interface object
  tests/otel_tracing_e2e/test_e2e.py
  tests/test_the_test/test_stdout_reader.py
  utils/_context/_scenarios.py
  utils/interfaces/_agent.py
  utils/interfaces/_backend.py
  utils/interfaces/_core.py
  utils/interfaces/_library/_utils.py
  utils/interfaces/_library/core.py
  utils/interfaces/_logs.py
  utils/interfaces/_open_telemetry.py
  utils/tools.py
Labels: run-all-scenarios

#1492 Provide an universal way to send message to stdout
  conftest.py
  utils/_context/_scenarios.py
  utils/tools.py
Labels: run-all-scenarios

#1493 Refactor log collection
  utils/_context/_scenarios.py
  utils/_context/containers.py
Labels: run-all-scenarios

#1496 Add stdout interface for postgres DB container
  tests/fuzzer/main.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/interfaces/__init__.py
  utils/interfaces/_logs.py
Labels: run-all-scenarios

#1464 Cleanup sampling test cases
  tests/test_sampling_rates.py
  utils/interfaces/_library/core.py
Labels: run-sampling-scenario

#1498 Pylint utils/parametric/ folder
  pyproject.toml
  utils/parametric/_library_client.py
  utils/parametric/spec/otel_trace.py
  utils/parametric/spec/trace.py
  utils/parametric/spec/tracecontext.py
Labels: run-parametric-scenario

#1501 update sampling tags tests based on wiki
  tests/parametric/test_sampling_span_tags.py
  utils/parametric/spec/trace.py
Labels: run-parametric-scenario

#1499 Add conditions to custom rules with errors for waf 1.13
  tests/appsec/custom_rules_with_errors.json
Labels: run-all-scenarios

#1497 add support for insecure cookies in Python
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/app.sh
Labels: do-not-merge, python

#1461 Add telemetry metric tests
  .github/workflows/ci.yml
  scenario_groups.yml
  tests/appsec/iast/_test_iast_fixtures.py
  tests/test_telemetry.py
  utils/_context/_scenarios.py
  utils/interfaces/_library/core.py
Labels: run-all-scenarios

#1517 Skip failing test on ruby
  tests/appsec/test_request_blocking.py
Labels: run-all-scenarios

#1487 parametric tests for sampling-related span tagging
  tests/parametric/test_sampling_span_tags.py
  utils/parametric/spec/trace.py
Labels: run-parametric-scenario

#1516 Fix OTel e2e test
  tests/otel_tracing_e2e/_test_validator_log.py
  tests/otel_tracing_e2e/_test_validator_trace.py
  tests/otel_tracing_e2e/test_e2e.py
  utils/interfaces/_backend.py
Labels: run-open-telemetry-scenarios

#1476 Add new test_sample_rate_function
  tests/fixtures/sampling_rates.csv
  tests/test_sampling_rates.py
  utils/_weblog.py
Labels: run-sampling-scenario

#1521 Add debugger label
  .github/workflows/ci.yml
  .github/workflows/compute-scenarios.yml
  docs/CI/labels.md
Labels: run-debugger-scenarios

#1527 enable automated user login events for ruby in production
  tests/appsec/test_automated_login_events.py
Labels: run-all-scenarios

#1172 parametric: add dynamic config tests
  requirements.txt
  tests/parametric/conftest.py
  tests/parametric/test_dynamic_configuration.py
  utils/_decorators.py
  utils/build/docker/dotnet/parametric/Program.cs
  utils/build/docker/nodejs/parametric/servicer.js
  utils/build/docker/python/parametric/apm_test_client/protos/apm_test_client_pb2.py
  utils/build/docker/python/parametric/apm_test_client/protos/apm_test_client_pb2_grpc.py
  utils/build/docker/python/parametric/apm_test_client/server.py
  utils/build/docker/python/parametric/generate_protos.sh
  utils/build/docker/python_http/parametric/Dockerfile
  utils/build/docker/ruby/parametric/server.rb
  utils/parametric/_library_client.py
  utils/parametric/generate_protos.sh
  utils/parametric/protos/apm_test_client.proto
  utils/parametric/protos/apm_test_client_pb2.py
  utils/parametric/protos/apm_test_client_pb2_grpc.py
  utils/parametric/spec/remoteconfig.py
Labels: run-parametric-scenario

#1522 Julio/graphql test
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/blocking_rule.json
  tests/appsec/test_blocking_addresses.py
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4-typescript/graphql.ts
  utils/build/docker/nodejs/express4-typescript/package-lock.json
  utils/build/docker/nodejs/express4-typescript/package.json
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/graphql.js
  utils/build/docker/nodejs/express4/package-lock.json
  utils/build/docker/nodejs/express4/package.json
Labels: run-all-scenarios

#1543 Deserilize appsec tags in deserializer
  tests/appsec/iast/_test_iast_fixtures.py
  tests/appsec/test_conf.py
  tests/appsec/test_traces.py
  utils/interfaces/_agent.py
  utils/interfaces/_library/core.py
  utils/interfaces/schemas/library/v0.4/misc/trace-item.json
  utils/proxy/_deserializer.py
  utils/tools.py
Labels: run-all-scenarios
