Repository DataDog/system-tests, pull requests merged in 2023-12, with the labels that each got.

#1884 Update active tests for Java client library
  tests/parametric/test_headers_tracestate_dd.py
  tests/parametric/test_otel_span_methods.py
Labels: java, run-parametric-scenario

#1883 Add feature decorator
  .vscode/launch.json
  .vscode/settings.json
  conftest.py
  pyproject.toml
  tests/test_the_test/test_json_report.py
  utils/__init__.py
  utils/_features.py
Labels: run-all-scenarios

#1882 Ruby:Upgrade Ruby version for older apps
  utils/build/docker/ruby/sinatra14.Dockerfile
Labels: run-all-scenarios

#1816 Add trace sampling rules tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_trace_sampling.py
Labels: run-parametric-scenario

#1889 Fix parametric http docs
  docs/scenarios/parametric.md
  requirements.txt
  utils/build/docker/python_http/parametric/requirements.txt
  utils/scripts/parametric/run_reference_http.sh
Labels: run-parametric-scenario

#1813 [APM][Context Propagation] Add Golang endpoints for Kafka produce and consume
  manifests/golang.yml
  tests/integrations/test_crossed_integrations.py
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/app/net-http.go
Labels: run-integration-scenarios

#1895 chore(python): activate more fast api coverage
  manifests/python.yml
Labels: run-all-scenarios

#1890 Report for Feature Parity Dashbaord
  conftest.py
  tests/test_the_test/test_decorators.py
  utils/_context/_scenarios.py
  utils/_decorators.py
Labels: run-all-scenarios

#1896 [opentelemetry] Fix trace and log test
  tests/otel_tracing_e2e/_test_validator_trace.py
  utils/interfaces/_backend.py
Labels: run-open-telemetry-scenarios

#1485 Testing All DBM Possible Setting Tag Behavior
  docs/weblog/README.md
  tests/integrations/test_dbm.py
  utils/_context/_scenarios.py
  utils/build/docker/dotnet/Constants.cs
  utils/build/docker/python/flask/app.py
Labels: run-all-scenarios

#1912 Display library version in stdout for parametric scenario
  utils/_context/_scenarios.py
Labels: run-parametric-scenario

#1910 Decorate every tests with known feature ids
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_hardcoded_secrets.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_cookie_name.py
  tests/appsec/iast/source/test_cookie_value.py
  tests/appsec/iast/source/test_header_name.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_name.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/appsec/test_alpha.py
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_conf.py
  tests/appsec/test_docs.py
  tests/appsec/test_event_tracking.py
  tests/appsec/test_identify.py
  tests/appsec/test_reports.py
  tests/appsec/test_shell_execution.py
  tests/appsec/test_traces.py
  tests/appsec/waf/test_addresses.py
  tests/appsec/waf/test_miscs.py
  tests/appsec/waf/test_reports.py
  tests/test_identify.py
  tests/test_library_conf.py
  tests/test_miscs.py
  tests/test_semantic_conventions.py
  tests/test_smoke.py
  tests/test_standard_tags.py
  utils/_features.py
  utils/scripts/update_features.py
Labels: run-all-scenarios

#1877 nodejs: going to drop instrumentation v1 support
  tests/test_telemetry.py
Labels: run-all-scenarios

#1913 parametric: fix Go versions for running otel span array attribute tests
  tests/parametric/test_otel_span_methods.py
Labels: run-parametric-scenario

#1899 Replace Datadog.Trace.Bundle with DLLs for .NET parametric tests
  tests/parametric/conftest.py
  tests/parametric/test_headers_precedence.py
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/dotnet/parametric/ApmTestClient.csproj
  utils/build/docker/dotnet/parametric/Dockerfile
  utils/build/docker/dotnet/parametric/Services/ApmTestClientService.Otel.cs
  utils/build/docker/dotnet/parametric/ddtracer_version.Dockerfile
  utils/build/docker/dotnet/parametric/install_ddtrace.sh
Labels: run-parametric-scenario

#1891 Zachg enable span link and 128-bit tests for python-http
  manifests/python.yml
  tests/parametric/test_128_bit_traceids.py
  tests/parametric/test_span_links.py
  utils/build/docker/python_http/parametric/apm_test_client/server.py
Labels: run-parametric-scenario

#1900 parametric: add nodejs-http implementation
  tests/parametric/conftest.py
  tests/parametric/test_dynamic_configuration.py
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/nodejs/parametric/.gitignore
  utils/build/docker/nodejs/parametric/package-lock.json
  utils/build/docker/nodejs/parametric/package.json
  utils/build/docker/nodejs/parametric/server.js
  utils/build/docker/nodejs/parametric/servicer.js
  utils/parametric/_library_client.py
Labels: run-parametric-scenario

#1902 chore(python): enable more tests for fastapi
  manifests/python.yml
  tests/appsec/test_conf.py
  tests/appsec/waf/test_telemetry.py
Labels: python, run-all-scenarios

#1923 Adds a test that verify all tests has a features decorator
  conftest.py
  manifests/java.yml
  pyproject.toml
  tests/test_the_test/test_coverage.py
  tests/test_the_test/test_decorators.py
  tests/test_the_test/test_features.py
  tests/test_the_test/test_json_report.py
Labels: run-all-scenarios

#1911 improve compatibility with `colima` as a Docker driver on macOS
  utils/_context/containers.py
  utils/_weblog.py
Labels: run-all-scenarios

#1918 Update test_telemetry.py after dd-trace-js migrates to telemetry v2
  tests/appsec/waf/test_telemetry.py
Labels: run-appsec-scenarios

#1926 Fix appsec_rules check on scenario
  tests/appsec/test_ip_blocking_full_denylist.py
  utils/_context/containers.py
Labels: run-appsec-scenarios

#1904 [Trace Sampling] Add `DD_TRACE_SAMPLING_RULES_FORMAT` to the trace sampling rule tests
  tests/parametric/test_trace_sampling.py
Labels: run-parametric-scenario

#1933 tests scanners for api security
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php_appsec.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/api_security/test_schemas.py
  utils/_features.py
Labels: run-appsec-scenarios

#1870 go: enable API Security tests subset
  manifests/golang.yml
  utils/build/docker/golang/app/chi.go
  utils/build/docker/golang/app/echo.go
  utils/build/docker/golang/app/gin.go
Labels: run-appsec-scenarios

#1934 tests/apm_tracing_e2e: increase retries in OTel tests from 5 to 10
  tests/apm_tracing_e2e/test_otel.py
  utils/interfaces/_backend.py
Labels: run-open-telemetry-scenarios

#1939 Fix opentemetry distro version for python (due to a bug on opentelemt…
  utils/build/docker/python_otel/flask-poc-otel.Dockerfile
Labels: run-open-telemetry-scenarios

#1937 Parametric: Add client: java version: dev
  .github/workflows/parametric.yml
Labels: run-parametric-scenario

#1863 Header injection tests for nodejs
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php_appsec.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/sink/test_header_injection.py
  utils/_features.py
  utils/build/docker/nodejs/express4/iast/index.js
Labels: run-appsec-scenarios

#1940 Fix telemetry v2 app-client-configuration-change schema
  utils/interfaces/schemas/miscs/telemetry/v2/events/client-configuration-change.json
Labels: run-all-scenarios

#1941 Parametric: Add client: nodejs version: dev
  .github/workflows/parametric.yml
  docs/scenarios/parametric.md
  tests/parametric/conftest.py
  utils/build/docker/nodejs/parametric/Dockerfile
  utils/build/docker/nodejs/parametric/ddtracer_version.Dockerfile
  utils/build/docker/nodejs/parametric/ddtracer_version.sh
Labels: run-parametric-scenario

#1944 activate api security tests for python fastapi
  manifests/python.yml
  tests/appsec/api_security/test_schemas.py
  utils/build/docker/python/fastapi/main.py
Labels: run-appsec-scenarios

#1943 Fix dynamic config v2 tests and enable for .net
  manifests/dotnet.yml
  tests/parametric/conftest.py
  tests/parametric/test_dynamic_configuration.py
Labels: run-parametric-scenario

#1952 Add features decorators
  pyproject.toml
  tests/debugger/test_debugger.py
  tests/integrations/test_cassandra.py
  tests/integrations/test_db_integrations_sql.py
  tests/integrations/test_dbm.py
  tests/integrations/test_dsm.py
  tests/integrations/test_mongo.py
  tests/integrations/test_open_telemetry.py
  tests/integrations/test_sql.py
  tests/parametric/test_dynamic_configuration.py
  tests/parametric/test_headers_b3.py
  tests/parametric/test_headers_b3multi.py
  tests/parametric/test_headers_datadog.py
  tests/parametric/test_library_tracestats.py
  tests/parametric/test_partial_flushing.py
  tests/parametric/test_span_sampling.py
  tests/parametric/test_trace_sampling.py
  tests/parametric/test_tracer_flare.py
  tests/test_profiling.py
  tests/test_the_test/test_json_report.py
  utils/_features.py
Labels: run-parametric-scenario

#1914 [PHP] Extended sampling support
  manifests/php.yml
Labels: run-parametric-scenario

#1948 Parametric: Add client: golang version: dev
  .github/workflows/parametric.yml
  manifests/golang.yml
  tests/parametric/conftest.py
  utils/build/docker/golang/parametric/Dockerfile
  utils/build/docker/golang/parametric/ddtracer_version.Dockerfile
  utils/build/docker/golang/parametric/ddtracer_version.sh
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
Labels: run-parametric-scenario

#1958 Support span links v0.5 trace API
  tests/parametric/test_span_links.py
Labels: run-parametric-scenario

#1957 Parametric: Mute output on ddtracer_version docker build
  utils/_context/_scenarios.py
Labels: run-parametric-scenario

#1922 [OTel] Test `analytics.event` override with respect to OTLP Code
  tests/parametric/test_otel_span_methods.py
Labels: run-parametric-scenario

#1041 Mtoff/header tags tests
  .github/workflows/ci.yml
  .vscode/launch.json
  docs/execute/run.md
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  run.sh
  scenario_groups.yml
  tests/test_library_conf.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/_context/header_tag_vars.py
  utils/_weblog.py
Labels: run-all-scenarios

#1949 Add NodeJS to the Crossed Tracer integration tests
  manifests/nodejs.yml
  tests/integrations/test_crossed_integrations.py
  utils/build/docker/nodejs/express4/app.js
Labels: mergequeue-status: error, run-integration-scenarios

#1961 Remove legacy coverages
  docs/edit/coverage.md
  docs/internals/RFC/RFC-feature-coverage.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php_appsec.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/test_PII.py
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_conf.py
  tests/appsec/test_docs.py
  tests/appsec/test_traces.py
  tests/appsec/waf/test_addresses.py
  tests/test_the_test/test_coverage.py
  utils/coverage.py
Labels: run-all-scenarios

#1960 Add Ruby to the Crossed Tracer integration tests
  manifests/ruby.yml
  tests/integrations/test_crossed_integrations.py
  utils/build/docker/ruby/rails70/Gemfile
  utils/build/docker/ruby/rails70/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails70/config/routes.rb
Labels: ruby, run-integration-scenarios

#1959 Parametric: Add client: python (previously python_http) version: dev
  .github/workflows/parametric.yml
  conftest.py
  docs/scenarios/parametric.md
  parametric/run.ps1
  requirements.txt
  run.sh
  tests/parametric/conftest.py
  tests/parametric/test_128_bit_traceids.py
  tests/parametric/test_dynamic_configuration.py
  tests/parametric/test_headers_b3.py
  tests/parametric/test_headers_b3multi.py
  tests/parametric/test_headers_precedence.py
  tests/parametric/test_headers_tracecontext.py
  tests/parametric/test_headers_tracestate_dd.py
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_otel_span_with_w3c.py
  tests/parametric/test_otel_tracer.py
  tests/parametric/test_partial_flushing.py
  tests/parametric/test_sampling_span_tags.py
  tests/parametric/test_span_links.py
  tests/parametric/test_span_sampling.py
  tests/parametric/test_tracer.py
  utils/_context/_scenarios.py
  utils/_decorators.py
  utils/build/build.sh
  utils/build/docker/python/parametric/.gitignore
  utils/build/docker/python/parametric/Dockerfile
  utils/build/docker/python/parametric/README.md
  utils/build/docker/python/parametric/__init__.py
  utils/build/docker/python/parametric/apm_test_client/__init__.py
  utils/build/docker/python/parametric/apm_test_client/__main__.py
  utils/build/docker/python/parametric/apm_test_client/protos/__init__.py
  utils/build/docker/python/parametric/apm_test_client/protos/apm_test_client_pb2.py
  utils/build/docker/python/parametric/apm_test_client/protos/apm_test_client_pb2_grpc.py
  utils/build/docker/python/parametric/apm_test_client/server.py
  utils/build/docker/python/parametric/ddtracer_version.Dockerfile
  utils/build/docker/python/parametric/generate_protos.ps1
  utils/build/docker/python/parametric/generate_protos.sh
  utils/build/docker/python/parametric/requirements.txt
  utils/build/docker/python_http/parametric/Dockerfile
  utils/build/docker/python_http/parametric/apm_test_client/__init__.py
  utils/build/docker/python_http/parametric/apm_test_client/__main__.py
  utils/build/docker/python_http/parametric/apm_test_client/server.py
  utils/build/docker/runner.Dockerfile
Labels: run-parametric-scenario

#1965 Debug flakyness otel_tracing_e2e
  tests/otel_tracing_e2e/_test_validator_trace.py
Labels: run-open-telemetry-scenarios

#1970 Upgrade node version used for system tests
  lib-injection/build/docker/nodejs/sample-app/Dockerfile
  utils/build/docker/nodejs/express4-typescript.Dockerfile
  utils/build/docker/nodejs/express4.Dockerfile
  utils/build/docker/nodejs/uds-express4.Dockerfile
  utils/build/docker/nodejs_otel/express4-otel.Dockerfile
Labels: run-all-scenarios

#1966 Run OTel parametric tests for PHP
  manifests/php.yml
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_otel_span_with_w3c.py
  tests/parametric/test_otel_tracer.py
  utils/build/docker/php/parametric/composer.json
  utils/build/docker/php/parametric/composer.lock
  utils/build/docker/php/parametric/server.php
Labels: run-parametric-scenario
