Repository DataDog/system-tests, pull requests merged in 2023-10, with the labels that each got.

#1632 [Debugger] Add mix log test scenario + refactor
  .github/workflows/ci.yml
  manifests/cpp.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  scenario_groups.yml
  tests/debugger/test_debugger.py
  utils/_context/_scenarios.py
  utils/build/docker/dotnet/Controllers/DebuggerController.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/DebuggerController.java
  utils/proxy/core.py
  utils/proxy/rc_debugger.py
  utils/proxy/rc_mocked_responses_debugger_line_probes_snapshot.json
  utils/proxy/rc_mocked_responses_debugger_line_probes_status.json
  utils/proxy/rc_mocked_responses_debugger_method_probes_snapshot.json
  utils/proxy/rc_mocked_responses_debugger_method_probes_status.json
  utils/proxy/rc_mocked_responses_debugger_mix_log_probe.json
Labels: run-debugger-scenarios

#1631 Check the seq_id of the app-started request [APPSEC-10465]
  tests/test_telemetry.py
Labels: run-all-scenarios

#1613 open telemetry db integrations
  .github/workflows/ci.yml
  tests/integrations/test_db_integrations_sql.py
  tests/otel_tracing_e2e/test_e2e.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/_decorators.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/BaseCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/DBFactory.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mssql/MssqlCRUDOperation.java
  utils/build/docker/java_otel/app.sh
  utils/build/docker/java_otel/install_opentelemetry.sh
  utils/build/docker/java_otel/spring-boot-native.Dockerfile
  utils/build/docker/java_otel/spring-boot-native/pom.xml
  utils/build/docker/java_otel/spring-boot-otel.Dockerfile
  utils/build/docker/nodejs/express4/integrations/db/mssql.js
  utils/build/docker/python/flask/integrations/db/mssql.py
  utils/tools.py
Labels: run-open-telemetry-scenarios

#1642 [Debugger] Wait for all probes before sending requests
  manifests/dotnet.yml
  tests/debugger/test_debugger.py
  utils/build/docker/dotnet/Controllers/DebuggerController.cs
Labels: run-debugger-scenarios

#1628 [python] open telemetry db integrations
  .github/workflows/ci.yml
  manifests/parser/core.py
  manifests/python_otel.yml
  tests/integrations/test_db_integrations_sql.py
  utils/_decorators.py
  utils/build/build.sh
  utils/build/docker/python_otel/flask-poc-otel.Dockerfile
  utils/build/docker/python_otel/flask-poc-otel/app.py
  utils/build/docker/python_otel/flask-poc-otel/app.sh
  utils/tools.py
Labels: run-open-telemetry-scenarios

#1648 Skip test_input_exclusion_positive_test on nodejs/main
  tests/appsec/waf/test_exclusions.py
Labels: run-appsec-scenarios

#1634 [nodejs] open telemetry db integrations
  .github/workflows/ci.yml
  tests/integrations/test_db_integrations_sql.py
  utils/_decorators.py
  utils/build/build.sh
  utils/build/docker/nodejs_otel/express4-otel.Dockerfile
  utils/build/docker/nodejs_otel/express4-otel/app.js
Labels: run-open-telemetry-scenarios

#1658 Update version number for python/api-security
  manifests/python.yml
  tests/test_the_test/test_version.py
Labels: run-appsec-scenarios

#1633 [OTEL-953][opentelemetry] Increase backend timeout and ignore if unable to fetch from backend
  tests/otel_tracing_e2e/_test_validator_trace.py
  tests/otel_tracing_e2e/test_e2e.py
  utils/interfaces/_backend.py
Labels: run-open-telemetry-scenarios

#1661 Python3.12 is now supported on released python library
  .github/workflows/ci.yml
  manifests/python.yml
  utils/_context/containers.py
Labels: run-all-scenarios

#1665 Mark irrelevant test for legacy b3 propagation style
  tests/parametric/test_headers_b3multi.py
Labels: run-parametric-scenario

#1650 [APPSEC-10967] Update ruby weblog variants for API security response body test
  utils/build/docker/ruby/rails32/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails32/config/routes.rb
  utils/build/docker/ruby/rails40/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails40/config/routes.rb
  utils/build/docker/ruby/rails41/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails41/config/routes.rb
  utils/build/docker/ruby/rails42/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails42/config/routes.rb
  utils/build/docker/ruby/rails50/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails50/config/routes.rb
  utils/build/docker/ruby/rails51/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails51/config/routes.rb
  utils/build/docker/ruby/rails52/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails52/config/routes.rb
  utils/build/docker/ruby/rails60/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails60/config/routes.rb
  utils/build/docker/ruby/rails61/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails61/config/routes.rb
  utils/build/docker/ruby/rails70/app/controllers/system_test_controller.rb
  utils/build/docker/ruby/rails70/config/routes.rb
  utils/build/docker/ruby/sinatra14/app.rb
  utils/build/docker/ruby/sinatra20/app.rb
  utils/build/docker/ruby/sinatra21/app.rb
Labels: run-all-scenarios

#1659 Parametric: dump scenario context to json report
  tests/parametric/conftest.py
  utils/_context/_scenarios.py
  utils/_context/core.py
Labels: run-parametric-scenario

#1666 Prevent XCONTENTTYPE_HEADER_MISSING from showing in arbitrary endpoints
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/AppSecIast.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/WebMvcConfig.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/iast/XContentTypeInterceptor.java
Labels: java

#1664 chore(python): enable telemetry tests for executed sinks
  tests/appsec/iast/sink/test_sql_injection.py
Labels: run-appsec-scenarios

#1656 Update OTel span attribute parametric tests
  tests/parametric/test_otel_span_methods.py
Labels: java, run-parametric-scenario

#1663 chore(python): add new FastAPI variant
  .github/workflows/ci.yml
  docs/execute/build.md
  manifests/python.yml
  tests/test_semantic_conventions.py
  utils/build/docker/python/fastapi.Dockerfile
  utils/build/docker/python/fastapi.base.Dockerfile
  utils/build/docker/python/fastapi/app.sh
  utils/build/docker/python/fastapi/log_conf.yaml
  utils/build/docker/python/fastapi/main.py
Labels: run-all-scenarios, build-python-base-images

#1675 [.Net] IAST Weak hash implementation
  manifests/dotnet.yml
  tests/appsec/iast/sink/test_weak_hash.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: dotnet, run-appsec-scenarios

#1660 feat(python): enable iast ssrf vulnerability
  manifests/python.yml
  tests/appsec/iast/sink/test_ssrf.py
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
Labels: run-appsec-scenarios

#1677 chore(python): fix route for fastapi variant
  manifests/python.yml
  utils/build/docker/python/fastapi/main.py
Labels: run-all-scenarios

#1643 Add NoSQL injection iast test for mongodb in nodejs
  .github/workflows/ci.yml
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php_appsec.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/sink/test_nosql_mongodb_injection.py
  utils/build/docker/nodejs/express4/iast/index.js
  utils/build/docker/nodejs/express4/package-lock.json
  utils/build/docker/nodejs/express4/package.json
Labels: run-appsec-scenarios

#1685 Enable GraphQL tests for node tracer v4.16.0.
  manifests/nodejs.yml
Labels: run-all-scenarios

#1678 Enable schema extraction test for Ruby
  manifests/ruby.yml
Labels: run-appsec-scenarios

#1687 Update DSM system tests to not fail on extra tags
  tests/integrations/test_dsm.py
Labels: run-all-scenarios

#1692 [DSM] - Accept empty payloads for stats in DSM
  tests/integrations/test_dsm.py
Labels: run-all-scenarios

#1193 Adds /dbm Edndpoint and DB calls for PHP
  docs/weblog/README.md
  manifests/php.yml
  tests/integrations/test_dbm.py
  utils/_context/containers.py
  utils/build/docker/php/apache-mod/php.conf
  utils/build/docker/php/common/dbm.php
  utils/build/docker/php/common/php.ini
  utils/build/docker/php/php-fpm/build.sh
  utils/build/docker/php/php-fpm/php-fpm.conf
Labels: run-all-scenarios

#1702 [dotnet] Fix standard tag system tests
  tests/test_standard_tags.py
Labels: dotnet

#1704 Simplify agent build
  utils/_context/containers.py
  utils/build/build.sh
  utils/build/docker/set-system-tests-agent-env.Dockerfile
Labels: dev-x

#1680 [node.js] Test waf telemetry metrics
  manifests/nodejs.yml
Labels: run-appsec-scenarios

#1703 When proxy fails to deserialize, improve stdout
  utils/_context/_scenarios.py
  utils/interfaces/_core.py
Labels: dev-x, run-all-scenarios

#1708 chore(python): fix Weak Hash and Weak Cipher version
  manifests/python.yml
Labels: run-appsec-scenarios

#1716 [python] Skip Test_DsmKafka as bug
  manifests/python.yml
Labels: run-appsec-scenarios

#1715 [internal] Revamp IAST sink fixture
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php_appsec.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/_test_iast_fixtures.py
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_hsts_missing_header.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_nosql_mongodb_injection.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  tests/appsec/iast/sink/test_trust_boundary_violation.py
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_unvalidated_redirect_forward.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  tests/appsec/iast/sink/test_xcontent_sniffing.py
  tests/appsec/iast/sink/test_xpath_injection.py
  tests/appsec/iast/sink/test_xss.py
  utils/_weblog.py
Labels: run-appsec-scenarios

#1713 [.Net] Add parameter values for dotnet
  manifests/dotnet.yml
  tests/appsec/iast/source/test_parameter_value.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: dotnet, run-appsec-scenarios

#1732 Skip Test_Login_Events_Extended on PHP
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_rate_limiter.py
Labels: run-appsec-scenarios

#1726 [.Net] Test query parameter names
  manifests/dotnet.yml
  tests/appsec/iast/source/test_parameter_name.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: dotnet

#1731 feat(python): enable iast cmdi vulnerability
  manifests/python.yml
  tests/appsec/iast/sink/test_command_injection.py
Labels: run-appsec-scenarios

#1741 [opentelemetry] Skip validation on trace ingestion reasons
  tests/otel_tracing_e2e/_test_validator_trace.py
Labels: run-open-telemetry-scenarios

#1686 [node.js] Enable some iast tests
  manifests/nodejs.yml
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_parameter_value.py
  utils/build/docker/nodejs/express4/iast/index.js
  utils/build/docker/nodejs/express4/iast/sources.js
  utils/build/docker/nodejs/express4/integrations/ldap.js
  utils/build/docker/nodejs/express4/package-lock.json
  utils/build/docker/nodejs/express4/package.json
Labels: run-all-scenarios

#1746 [.Net] IAST: No http only cookie vulnerability test
  manifests/dotnet.yml
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: dotnet

#1739 [internal] Miscs fixes
  .github/workflows/ci.yml
  .vscode/launch.json
  tests/appsec/iast/source/test_parameter_name.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/debugger/test_debugger.py
  tests/integrations/test_db_integrations_sql.py
  tests/test_sampling_rates.py
  utils/interfaces/_library/core.py
Labels: run-all-scenarios, run-sampling-scenario

#1725 [dotnet] IAST SqlInjection
  manifests/dotnet.yml
  tests/appsec/iast/sink/test_sql_injection.py
  tests/remote_config/test_remote_configuration.py
  tests/test_semantic_conventions.py
  utils/build/docker/dotnet/Constants.cs
  utils/build/docker/dotnet/Controllers/IastController.cs
  utils/build/docker/dotnet/Dependencies/Sql.cs
  utils/build/docker/dotnet/app.csproj
  utils/build/docker/dotnet/app.sh
Labels: run-all-scenarios

#1758 [.Net] SSRF tests
  manifests/dotnet.yml
  tests/appsec/iast/sink/test_ssrf.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: run-appsec-scenarios

#1662 Add nextjs application to test suite
  .github/workflows/ci.yml
  docs/execute/build.md
  manifests/nodejs.yml
  tests/appsec/test_blocking_addresses.py
  tests/appsec/test_reports.py
  tests/appsec/waf/test_rules.py
  tests/test_semantic_conventions.py
  utils/build/docker/nodejs/nextjs.Dockerfile
  utils/build/docker/nodejs/nextjs/.eslintrc.json
  utils/build/docker/nodejs/nextjs/.gitignore
  utils/build/docker/nodejs/nextjs/README.md
  utils/build/docker/nodejs/nextjs/jsconfig.json
  utils/build/docker/nodejs/nextjs/next.config.js
  utils/build/docker/nodejs/nextjs/package-lock.json
  utils/build/docker/nodejs/nextjs/package.json
  utils/build/docker/nodejs/nextjs/src/app/headers/route.js
  utils/build/docker/nodejs/nextjs/src/app/identify/route.js
  utils/build/docker/nodejs/nextjs/src/app/layout.js
  utils/build/docker/nodejs/nextjs/src/app/make_distant_call/route.js
  utils/build/docker/nodejs/nextjs/src/app/page.js
  utils/build/docker/nodejs/nextjs/src/app/status/route.js
  utils/build/docker/nodejs/nextjs/src/app/tag_value/[tag]/[status]/route.js
  utils/build/docker/nodejs/nextjs/src/app/user_login_success_event/route.js
  utils/build/docker/nodejs/nextjs/src/app/waf/legit/route.js
  utils/build/docker/nodejs/nextjs/src/app/waf/route.js
Labels: run-all-scenarios

#1753 akka-http and play appsec support
  .github/workflows/ci.yml
  manifests/java.yml
  tests/appsec/test_blocking_addresses.py
  tests/appsec/waf/test_blocking.py
  tests/appsec/waf/test_rules.py
  utils/build/docker/java/akka-http/pom.xml
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/AppSecRoutes.scala
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/IastRoutes.scala
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/Main.scala
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/package.scala
  utils/build/docker/java/app-play.sh
  utils/build/docker/java/play.Dockerfile
  utils/build/docker/java/play/app/Binders.scala
  utils/build/docker/java/play/app/Module.scala
  utils/build/docker/java/play/app/controllers/AppSecController.scala
  utils/build/docker/java/play/app/controllers/controllers.scala
  utils/build/docker/java/play/conf/application.conf
  utils/build/docker/java/play/conf/logback.xml
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/play/pom.xml
Labels: java, run-all-scenarios, run-appsec-scenarios

#1766 Re-enable Kafka tests in python for DSM
  manifests/python.yml
Labels: run-all-scenarios

#1773 Doc : Get core info on segfault
  docs/internals/generate-core-dump.md
Labels: dev-x, run-profiling-scenario

#1551 Switch Java telemetry assertions to V2
  manifests/java.yml
  tests/test_telemetry.py
Labels: run-parametric-scenario

#1777 parametric: check credentials are removed from ssh urls.
  tests/parametric/test_tracer.py
Labels: run-parametric-scenario

#1697 small fixes in fastapi weblog
  utils/build/docker/python/fastapi/main.py
Labels: run-all-scenarios
