Repository DataDog/system-tests, pull requests merged in 2024-01, with the labels that each got.

#1974 Parametric: Add client: ruby version: dev
  .github/workflows/parametric.yml
  docs/scenarios/parametric.md
  tests/parametric/conftest.py
  utils/_context/_scenarios.py
  utils/build/docker/ruby/parametric/Gemfile
  utils/build/docker/ruby/parametric/ddtracer_version.Dockerfile
Labels: run-parametric-scenario

#1972 Enable tag-based sampling tests for Java
  manifests/java.yml
Labels: run-parametric-scenario

#1975 fix debugger tests with new EMITTING probe status
  tests/debugger/test_debugger.py
Labels: run-debugger-scenarios

#1976 Parametric: Add client: dotnet version: dev
  .github/workflows/parametric.yml
  docs/scenarios/parametric.md
  tests/parametric/conftest.py
  utils/build/docker/dotnet/parametric/Dockerfile
  utils/build/docker/dotnet/parametric/ddtracer_version.Dockerfile
Labels: run-parametric-scenario

#1892 Parametric: add tests for headers precedence with conflicting context
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#1979 Parametric: Disable header precedence failing test
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#1942 parametric: Add cpp-http server
  tests/parametric/conftest.py
  utils/build/docker/cpp/parametric/http/CMakeLists.txt
  utils/build/docker/cpp/parametric/http/Dockerfile
  utils/build/docker/cpp/parametric/http/developer_noise.cpp
  utils/build/docker/cpp/parametric/http/developer_noise.h
  utils/build/docker/cpp/parametric/http/httplib.h
  utils/build/docker/cpp/parametric/http/json.hpp
  utils/build/docker/cpp/parametric/http/main.cpp
  utils/build/docker/cpp/parametric/http/manual_scheduler.h
  utils/build/docker/cpp/parametric/http/request_handler.cpp
  utils/build/docker/cpp/parametric/http/request_handler.h
  utils/build/docker/cpp/parametric/http/utils.h
Labels: run-parametric-scenario

#1983 Parametric: Add client: cpp version: dev
  .github/workflows/parametric.yml
  docs/scenarios/parametric.md
  tests/parametric/conftest.py
  utils/build/docker/cpp/parametric/ddtracer_version.Dockerfile
  utils/build/docker/cpp/parametric/http/Dockerfile
  utils/build/docker/cpp/parametric/install_ddtrace.sh
  utils/scripts/load-binary.sh
Labels: run-parametric-scenario

#1977 abstract kafka crossed integration tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/test_crossed_integrations.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/_features.py
  utils/build/build_tracer_buddies.sh
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/kafka/KafkaConnector.java
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/python/flask/app.py
  utils/interfaces/__init__.py
  utils/proxy/core.py
Labels: run-integration-scenarios, build-buddies-images

#2001 Fix telemetry v2 client-configuration-change schema
  utils/interfaces/schemas/miscs/telemetry/v2/events/client-configuration-change.json
Labels: run-all-scenarios

#1989 utils/build/docker/golang/app: update app for v2 API changes
  utils/build/docker/golang/app/chi.go
  utils/build/docker/golang/app/common.go
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/install_ddtrace.sh
  utils/build/docker/golang/parametric/apm_test_client.pb.go
  utils/build/docker/golang/parametric/apm_test_client_grpc.pb.go
  utils/build/docker/golang/parametric/generate_protos.sh
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
  utils/build/docker/golang/parametric/otel.go
  utils/parametric/protos/apm_test_client.proto
  utils/scripts/load-binary.sh
Labels: run-all-scenarios

#1823 Add time-to-first-trace tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/conftest.py
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario

#2009 Fix debugger tests for new Debugger track
  tests/debugger/test_debugger.py
Labels: run-debugger-scenarios

#2011 utils/parametric: revert protobuf schema change & dd-trace-go/v2 upgrade
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/parametric/apm_test_client.pb.go
  utils/build/docker/golang/parametric/datadog.go
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
  utils/build/docker/golang/parametric/otel.go
  utils/parametric/protos/apm_test_client.proto
Labels: go, run-all-scenarios

#2017 Use the new python3.12 base image
  .github/workflows/ci.yml
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/python3.12.base.Dockerfile
Labels: run-all-scenarios

#2020 fix open telemetry. Register new span
  tests/integrations/test_open_telemetry.py
Labels: run-open-telemetry-scenarios

#2019 activate one more test for fastapi
  manifests/python.yml
Labels: run-all-scenarios, run-appsec-scenarios

#2023 chore(api security): add test for api sec no body parsing
  .github/workflows/ci.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/api_security/test_schemas.py
  utils/_context/_scenarios.py
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
Labels: run-appsec-scenarios

#1982 feature: add AWS SQS cross-integration tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/crossed_integrations/test_kafka.py
  tests/integrations/crossed_integrations/test_sqs.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/_features.py
  utils/build/docker/java/spring-boot/pom.xml
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/SqsConnector.java
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/sqs.js
  utils/build/docker/nodejs/express4/package-lock.json
  utils/build/docker/nodejs/express4/package.json
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
Labels: run-integration-scenarios, build-buddies-images

#2025 Update python app to use ddtrace-run
  tests/parametric/conftest.py
  utils/build/docker/python/parametric/Dockerfile
  utils/parametric/spec/remoteconfig.py
Labels: run-parametric-scenario

#2030 test for api security sampling rate
  .github/workflows/ci.yml
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/api_security/test_apisec_sampling.py
  utils/_context/_scenarios.py
  utils/_features.py
Labels: run-appsec-scenarios

#1905 Implement span links parametric tests using OpenTelemetry API and JSON tag encoding
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_span_links.py
  utils/build/docker/java/parametric/pom.xml
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/OpenTelemetryClient.java
  utils/parametric/_library_client.py
  utils/parametric/protos/apm_test_client.proto
  utils/parametric/protos/apm_test_client_pb2.py
  utils/parametric/spec/tracecontext.py
Labels: java, run-parametric-scenario

#2014 Weak randomness tests for nodejs
  manifests/nodejs.yml
  tests/appsec/iast/sink/test_weak_randomness.py
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4-typescript/iast.ts
  utils/build/docker/nodejs/express4/iast/index.js
Labels: run-appsec-scenarios

#2032 span links: enable tests for python client app [and refactor/fix tests]
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_span_links.py
  utils/build/docker/python/parametric/apm_test_client/server.py
  utils/parametric/_library_client.py
  utils/parametric/spec/tracecontext.py
Labels: run-parametric-scenario

#2002 feat: add DSM test for AWS SQS
  .github/actions/pull_images/action.yml
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/test_dsm.py
  utils/_context/_scenarios.py
  utils/_decorators.py
  utils/_features.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/SqsConnector.java
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/sqs.js
  utils/build/docker/nodejs/express4/integrations/messaging/kafka/kafka.js
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/messaging/aws/sqs.py
  utils/build/docker/python/flask/integrations/messaging/kafka.py
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
Labels: run-integration-scenarios, build-buddies-images

#2048 Minor fixes on test_sqs.py
  tests/integrations/crossed_integrations/test_sqs.py
Labels: run-integration-scenarios

#2056 Cleanups on skip reason logics
  conftest.py
  tests/test_the_test/test_coverage.py
  tests/test_the_test/test_decorators.py
  tests/test_the_test/test_json_report.py
  utils/_decorators.py
  utils/coverage.py
  utils/scripts/junit_report.py
  utils/scripts/markdown_logs.py
Labels: run-all-scenarios

#2052 add rabbitmq cross integration tests for trace context propagation
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/crossed_integrations/test_rabbitmq.py
  utils/_context/_scenarios.py
  utils/_features.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rabbitmq/RabbitmqConnector.java
Labels: run-integration-scenarios, build-buddies-images

#2039 Add tests for remote disablement of APM
  manifests/python.yml
  tests/parametric/test_dynamic_configuration.py
  utils/parametric/spec/remoteconfig.py
Labels: run-parametric-scenario

#1734 Add library telemetry configuration consistency tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario

#2060 Fix parametric: dynamic config
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/ruby.yml
  tests/parametric/test_dynamic_configuration.py
Labels: run-parametric-scenario

#2035 Modify hardcode secrets test
  manifests/java.yml
  tests/appsec/iast/_test_iast_fixtures.py
  tests/appsec/iast/sink/test_hardcoded_secrets.py
  utils/build/docker/java/iast-common/src/main/java/com/datadoghq/system_tests/iast/utils/HardcodedSecretExamples.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/AppSecIast.java
Labels: java, run-appsec-scenarios

#2047 Add missing IAST endpoints in express4-typescript variant
  manifests/nodejs.yml
  tests/appsec/iast/sink/test_command_injection.py
  tests/appsec/iast/sink/test_hardcoded_secrets.py
  tests/appsec/iast/sink/test_header_injection.py
  tests/appsec/iast/sink/test_insecure_cookie.py
  tests/appsec/iast/sink/test_ldap_injection.py
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/sink/test_no_samesite_cookie.py
  tests/appsec/iast/sink/test_nosql_mongodb_injection.py
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  tests/appsec/iast/sink/test_trust_boundary_violation.py
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_weak_cipher.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  utils/build/docker/nodejs/express4-typescript.Dockerfile
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4-typescript/iast.ts
  utils/build/docker/nodejs/express4-typescript/integrations/ldap.ts
  utils/build/docker/nodejs/express4-typescript/package-lock.json
  utils/build/docker/nodejs/express4-typescript/package.json
  utils/build/docker/nodejs/express4-typescript/resources/iast-data.sql
  utils/build/docker/nodejs/express4-typescript/tsconfig.json
Labels: javascript, run-all-scenarios

#2054 Julio/fix shell execution test
  tests/appsec/test_shell_execution.py
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4/app.js
Labels: javascript, run-appsec-scenarios

#2069 Testing merges
  .github/workflows/ci.yml
Labels: build-buddies-images

#2064 IAST NodeJS Fixings
  manifests/nodejs.yml
  tests/appsec/iast/sink/test_trust_boundary_violation.py
Labels: javascript, run-integration-scenarios

#2070 Test merge2
  .gitlab-ci.yml
Labels: build-buddies-images

#2071 Test merge 3
  .github/workflows/ci.yml
Labels: build-buddies-images

#2072 test merge 4
  .gitlab-ci.yml
Labels: build-buddies-images

#2050 Enable DD_TRACE_INTERNAL_EXIT_ON_FAILURE in Java
  utils/build/docker/java/akka-http.Dockerfile
  utils/build/docker/java/jersey-grizzly2.Dockerfile
  utils/build/docker/java/play.Dockerfile
  utils/build/docker/java/ratpack.Dockerfile
  utils/build/docker/java/resteasy-netty3.Dockerfile
  utils/build/docker/java/spring-boot-3-native.Dockerfile
  utils/build/docker/java/spring-boot-jetty.Dockerfile
  utils/build/docker/java/spring-boot-openliberty.Dockerfile
  utils/build/docker/java/spring-boot-payara.Dockerfile
  utils/build/docker/java/spring-boot-undertow.Dockerfile
  utils/build/docker/java/spring-boot-wildfly.Dockerfile
  utils/build/docker/java/spring-boot.Dockerfile
  utils/build/docker/java/uds-spring-boot.Dockerfile
  utils/build/docker/java/vertx3.Dockerfile
  utils/build/docker/java/vertx4.Dockerfile
Labels: run-all-scenarios

#2051 refactor kafka cross tracer tests to use only java buddy
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/crossed_integrations/test_kafka.py
  utils/_features.py
Labels: run-integration-scenarios

#2059 Update dynamic config versions
  manifests/golang.yml
  manifests/nodejs.yml
Labels: run-parametric-scenario

#2079 Robertomonteromiguel/auto generate buddies test10
  .github/workflows/ci.yml
  .gitlab-ci.yml
  utils/build/build_tracer_buddies.sh
  utils/scripts/get_pr_merged_labels.sh
Labels: bug, build-python-base-images, build-proxy-image, build-buddies-images

#2081 add new env var for api security
  utils/_context/_scenarios.py
Labels: run-appsec-scenarios

#2068 Generate buddies on merge
  .gitlab-ci.yml
  utils/build/build_tracer_buddies.sh
  utils/scripts/get_pr_merged_labels.sh
Labels: build-buddies-images

#2083 Skip flaky test on PHP (APPSEC-51448)
  tests/appsec/test_blocking_addresses.py
  tests/appsec/waf/test_blocking.py
Labels: run-appsec-scenarios

#2086 Pin openliberty version
  utils/build/docker/java/spring-boot/pom.xml
Labels: java, run-all-scenarios

#2067 Enable Test_LibraryHeaders for Java v1.29.0+
  manifests/java.yml
  tests/test_data_integrity.py
Labels: java

#2090 Skip other tests impacted by APPSEC-51448
  tests/appsec/test_blocking_addresses.py
Labels: run-appsec-scenarios
