Repository DataDog/system-tests, pull requests merged in 2024-12, with the labels that each got.

#3606 K8s generate djm image
  lib-injection/build/build_lib_injection_images.sh
Labels: run-libinjection-scenarios, build-lib-injection-app-images

#3607 k8s force djm weblog generation
  lib-injection/build/build_lib_injection_images.sh
Labels: build-lib-injection-app-images

#3610 [dotnet] Enable tests for metastruct
  manifests/dotnet.yml
Labels: run-appsec-scenarios

#3617 K8s remove bug markers image validator
  pyproject.toml
  tests/k8s_lib_injection/test_k8s_init_image_validator.py
Labels: run-libinjection-scenarios

#3654 Enable SCA IAST Standalone billing tests in JAVA
  manifests/java.yml
  utils/_context/_scenarios/__init__.py
  utils/telemetry_utils.py
Labels: run-appsec-scenarios

#3291 Add tests for user and session tracking/blocking
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/test_automated_user_and_session_tracking.py
Labels: run-appsec-scenarios

#3680 [.NET][parametric] Fix reflection issue in .NET parametric app
  .github/workflows/run-parametric.yml
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
Labels: dotnet, run-parametric-scenario

#3692 Disable IAST in appsec_runtime_activation scenario
  utils/_context/_scenarios/__init__.py
Labels: bug, run-appsec-scenarios

#3696 [revamp] Each scenario handles how to start docker network
  tests/fuzzer/main.py
  tests/test_the_test/test_docker_scenario.py
  utils/_context/_scenarios/docker_ssi.py
  utils/_context/_scenarios/endtoend.py
  utils/_context/_scenarios/k8s_lib_injection.py
  utils/_context/containers.py
Labels: run-all-scenarios

#3682 [.NET][parametric] code clean up in .NET parametric app
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
Labels: dotnet, run-parametric-scenario

#3663 update stack trace iast test for python and python manifest
  manifests/python.yml
  tests/appsec/iast/utils.py
Labels: do-not-merge

#3435 Add asm standalone tests for PHP
  manifests/php.yml
  utils/build/docker/php/apache-mod/entrypoint.sh
  utils/build/docker/php/apache-mod/php.conf
  utils/build/docker/php/common/php.ini
  utils/build/docker/php/common/requestdownstream.php
  utils/build/docker/php/common/returnheaders.php
  utils/build/docker/php/php-fpm/entrypoint.sh
  utils/build/docker/php/php-fpm/php-fpm.conf
Labels: run-appsec-scenarios

#3724 unhide directories called `build` from github file search
  .gitattributes
Labels: dev-x

#3597 Add V3 for the login events appsec test suite
  docs/weblog/README.md
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/test_automated_login_events.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/security/AppSecAuthenticationFilter.java
  utils/dd_constants.py
Labels: run-appsec-scenarios

#3691 Add Command and Shell injections test for Java
  manifests/java.yml
  tests/appsec/rasp/test_cmdi.py
  tests/appsec/rasp/test_shi.py
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/RaspRoutes.scala
  utils/build/docker/java/iast-common/src/main/java/com/datadoghq/system_tests/iast/utils/CmdExamples.java
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/RaspResource.java
  utils/build/docker/java/play/app/controllers/RaspController.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/RaspHandlers.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/RaspResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rasp/RaspController.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/rasp/RaspRouteProvider.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/rasp/RaspRouteProvider.java
Labels: java, run-appsec-scenarios

#3720 [dotnet] change how we get library version
  utils/_context/_scenarios/parametric.py
  utils/build/docker/dotnet/GetAssemblyVersion/GetAssemblyVersion.csproj
  utils/build/docker/dotnet/GetAssemblyVersion/Program.cs
  utils/build/docker/dotnet/install_ddtrace.sh
  utils/build/docker/dotnet/parametric/system_tests_library_version.sh
  utils/build/docker/dotnet/poc.Dockerfile
  utils/build/docker/dotnet/uds.Dockerfile
  utils/build/docker/dotnet/weblog/Endpoints/HealthcheckEndpoint.cs
  utils/build/docker/dotnet/weblog/app.csproj
Labels: run-parametric-scenario

#3713 [Debugger] Implement python exception replay tests
  manifests/python.yml
  tests/debugger/approvals/exception_replay_inner_python_snapshots_expected.json
  tests/debugger/approvals/exception_replay_inner_python_spans_expected.json
  tests/debugger/approvals/exception_replay_recursion_20_python_snapshots_expected.json
  tests/debugger/approvals/exception_replay_recursion_20_python_spans_expected.json
  tests/debugger/approvals/exception_replay_rockpaperscissors_dotnet_snapshots_expected.json
  tests/debugger/approvals/exception_replay_rockpaperscissors_dotnet_spans_expected.json
  tests/debugger/approvals/exception_replay_rockpaperscissors_java_snapshots_expected.json
  tests/debugger/approvals/exception_replay_rockpaperscissors_java_spans_expected.json
  tests/debugger/approvals/exception_replay_rockpaperscissors_python_snapshots_expected.json
  tests/debugger/approvals/exception_replay_rockpaperscissors_python_spans_expected.json
  tests/debugger/approvals/exception_replay_simple_python_snapshots_expected.json
  tests/debugger/approvals/exception_replay_simple_python_spans_expected.json
  tests/debugger/test_debugger_exception_replay.py
  tests/debugger/utils.py
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/debugger/exception_replay.py
  utils/build/docker/python/flask/exception_replay_controller.py
Labels: python

#3734 Remove php bug tag on a test
  tests/appsec/test_rate_limiter.py
Labels: run-appsec-scenarios

#3740 [java] Improve parametric Java client
  utils/_context/_scenarios/parametric.py
  utils/build/docker/java/parametric/pom.xml
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/controller/ConfigHelper.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/controller/TraceController.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/dto/GetTraceConfigResult.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/metrics/controller/MetricsController.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentelemetry/controller/OpenTelemetryController.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentelemetry/controller/OpenTelemetryTypeHelper.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentelemetry/dto/HttpHeader.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentelemetry/dto/KeyValue.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentelemetry/dto/SpanLink.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentelemetry/dto/StartSpanArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentracing/controller/OpenTracingController.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentracing/dto/SpanExtractHeadersResult.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/opentracing/dto/SpanLinks.java
Labels: java, run-parametric-scenario
