Repository DataDog/system-tests, pull requests merged in 2024-06, with the labels that each got.

#2501 parametric(cpp): enable prod and more parametric tests
  .github/workflows/run-parametric.yml
  manifests/cpp.yml
  tests/parametric/test_dynamic_configuration.py
  tests/parametric/test_headers_tracecontext.py
  tests/parametric/test_trace_sampling.py
Labels: run-parametric-scenario

#2476 [parametric] Add test for remapping the OTel API http.response.status_code span attribute
  tests/parametric/test_otel_span_methods.py
Labels: run-parametric-scenario

#2520 [java] Mark some telemetry parametric tests as supported
  manifests/java.yml
Labels: run-parametric-scenario

#2524 [python] full django app, add login event endpoint with custom user class
  manifests/python.yml
  tests/appsec/test_automated_login_events.py
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/django-poc.base.Dockerfile
  utils/build/docker/python/django/app.sh
  utils/build/docker/python/django/app/__init__.py
  utils/build/docker/python/django/app/admin.py
  utils/build/docker/python/django/app/apps.py
  utils/build/docker/python/django/app/migrations/__init__.py
  utils/build/docker/python/django/app/models.py
  utils/build/docker/python/django/app/tests.py
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/django/app/views.py
  utils/build/docker/python/django/app_3.12.sh
  utils/build/docker/python/django/django_app/__init__.py
  utils/build/docker/python/django/django_app/settings.py
  utils/build/docker/python/django/django_app/urls.py
  utils/build/docker/python/django/django_app/wsgi.py
  utils/build/docker/python/django/manage.py
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/python3.12.base.Dockerfile
Labels: python, build-python-base-images, run-appsec-scenarios

#2530 [Debugger] Remove PII redaction keywords
  tests/debugger/test_debugger_pii.py
  utils/build/docker/dotnet/Models/Debugger/Pii.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/Pii.java
Labels: run-debugger-scenarios

#2509 add system tests for otel env var mapping
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_otel_env_vars.py
  tests/parametric/test_telemetry.py
  utils/build/docker/nodejs/parametric/server.js
  utils/parametric/_library_client.py
  utils/parametric/protos/apm_test_client.proto
Labels: run-parametric-scenario

#2527 [Java] enable tracecontext test for java tracer v1.35
  tests/parametric/test_headers_tracecontext.py
Labels: run-parametric-scenario

#2105 [nodejs] enable response blocking tests
  manifests/nodejs.yml
  tests/appsec/test_blocking_addresses.py
Labels: javascript

#2544 [dotnet] Try fix parameteric tests
  tests/parametric/test_otel_span_methods.py
Labels: run-parametric-scenario

#2534 [nodejs] Enable rasp ssrf metrics system tests in nodejs
  manifests/nodejs.yml
  tests/appsec/rasp/test_span_tags.py
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4-typescript/rasp.ts
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/rasp.js
  utils/build/docker/nodejs/nextjs/src/app/rasp/ssrf/route.js
Labels: run-appsec-scenarios

#2410 [parametric] Enable OTEL Span Link tests for PHP
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/php/parametric/server.php
Labels: run-parametric-scenario

#2546 [parametric] [otel] Enables testing for otel http status tag remapping
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApiOtel.cs
Labels: run-parametric-scenario

#2543 .NET OTEL/Activity SpanLinks Setup & Configuration
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApiOtel.cs
Labels: dotnet, run-parametric-scenario

#2334 [.NET] enable parametric trace sampling tests, redux
  .dockerignore
  manifests/dotnet.yml
  tests/parametric/conftest.py
  utils/build/docker/dotnet/parametric/.dockerignore
  utils/build/docker/dotnet/parametric/Dockerfile
Labels: dotnet, run-parametric-scenario

#2562 Simplify test_user_blocking_full_denylist.py asserts
  tests/appsec/test_user_blocking_full_denylist.py
Labels: run-appsec-scenarios

#2525 [Debugger] Expression language - accessing variables
  .github/workflows/run-end-to-end.yml
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  scenario_groups.yml
  tests/debugger/test_debugger_expression_language.py
  tests/debugger/utils.py
  utils/_context/_scenarios.py
  utils/_features.py
  utils/build/docker/dotnet/Controllers/DebuggerController.cs
  utils/build/docker/dotnet/Models/Debugger/ExpressionTestStruct.cs
  utils/proxy/core.py
  utils/proxy/rc_mocked_responses_debugger_expression_language.json
Labels: dotnet, run-debugger-scenarios

#2556 [java] Enable some blocking test and simplify asserts
  manifests/java.yml
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_user_blocking_full_denylist.py
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/AppSecRoutes.scala
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/MyResource.java
  utils/build/docker/java/play/app/controllers/AppSecController.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/Main.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/MyResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
Labels: java, run-appsec-scenarios

#2551 [go] implement RASP endpoints
  utils/build/docker/golang/app/chi/main.go
  utils/build/docker/golang/app/echo/main.go
  utils/build/docker/golang/app/gin/main.go
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/app/internal/rasp/rasp.go
  utils/build/docker/golang/app/net-http/main.go
  utils/build/docker/golang/go.work.sum
Labels: go, run-appsec-scenarios

#2576 [golang] Enable RASP SSRF tests
  manifests/golang.yml
Labels: run-appsec-scenarios

#2570 fix(injection): Some fixes for Deb->OCI migration of the injector
  utils/build/virtual_machine/provisions/auto-inject/auto-inject-environment.yml
  utils/build/virtual_machine/provisions/auto-inject/auto-inject-installer-tested_components.yml
  utils/build/virtual_machine/provisions/auto-inject/auto-inject-tested_components.yml
  utils/build/virtual_machine/provisions/auto-inject/docker/docker-compose-agent-prod.yml
  utils/build/virtual_machine/provisions/auto-inject/repositories/autoinstall/execute_install_script.sh
  utils/build/virtual_machine/provisions/container-auto-inject-install-script/auto-inject_container_script.yml
  utils/build/virtual_machine/provisions/container-auto-inject/auto-inject_container_manual.yml
  utils/build/virtual_machine/provisions/host-auto-inject-install-script/auto-inject_host_script.yml
  utils/build/virtual_machine/provisions/installer-auto-inject/provision.yml
Labels: run-libinjection-scenarios

#2567 [java] Add support for auto user events in java
  tests/appsec/test_automated_login_events.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/WebSecurityConfig.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/security/AppSecAuthenticationFilter.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/security/AppSecAuthenticationProvider.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/security/AppSecSdkToken.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/security/AppSecUser.java
Labels: java, run-appsec-scenarios

#2553 [.NET] enable parametric tests for remote sampling rules
  manifests/dotnet.yml
  tests/parametric/test_dynamic_configuration.py
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
Labels: dotnet, run-parametric-scenario

#2584 [python] Add logs for django
  utils/build/docker/python/django/django_app/settings.py
Labels: python, run-all-scenarios

#2574 RASP SQLi: enhance test & activate for Go
  manifests/golang.yml
  tests/appsec/rasp/test_sqli.py
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/app/internal/rasp/rasp.go
  utils/build/docker/golang/go.work.sum
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: run-appsec-scenarios

#2571 [Debugger] Enable expression language tests for java
  manifests/java.yml
  tests/debugger/test_debugger_expression_language.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/ExpressionTestStruct.java
  utils/proxy/rc_mocked_responses_debugger_expression_language.json
Labels: java, run-debugger-scenarios

#2588 fix calling the wrong B3 headers test
  tests/parametric/test_headers_b3.py
Labels: run-parametric-scenario

#2587 [.NET] enable XPASS parametric tests for dotnet
  manifests/dotnet.yml
  tests/parametric/test_128_bit_traceids.py
  tests/parametric/test_headers_b3.py
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_otel_tracer.py
Labels: dotnet, run-parametric-scenario

#2572 Add support for remote config in auto user events
  .github/workflows/run-end-to-end.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  scenario_groups.yml
  tests/appsec/test_automated_login_events.py
  utils/_context/_scenarios.py
  utils/_remote_config.py
Labels: run-appsec-scenarios

#2585 [.NET] enable another parametric test for remote sampling rules
  tests/parametric/test_dynamic_configuration.py
Labels: dotnet, run-parametric-scenario

#2611 [cpp] Optimize docker pull by using docker compose
  .github/actions/pull_images/action.yml
  .github/workflows/run-end-to-end.yml
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/scripts/get-image-list.py
  utils/tools.py
Labels: run-all-scenarios

#2541 Enable appsec headers collection tests in nodejs and ignore content-encoding
  manifests/nodejs.yml
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_event_tracking.py
Labels: run-appsec-scenarios

#2624 add `.gitattributes` file
  .gitattributes
  utils/scripts/compute_impacted_scenario.py
Labels: dev-x

#2628 [.NET] remove trailing whitespace and UTF-8 BOM
  utils/build/docker/dotnet/Controllers/IastController.cs
  utils/build/docker/dotnet/Controllers/LoginController.cs
  utils/build/docker/dotnet/IdentityStores/RoleStore.cs
  utils/build/docker/dotnet/IdentityStores/UserStoreMemory.cs
  utils/build/docker/dotnet/ModelBinderSwitchProvider.cs
  utils/build/docker/dotnet/Models/Debugger/ExpressionTestStruct.cs
  utils/build/docker/dotnet/Models/Debugger/Pii.cs
  utils/build/docker/dotnet/Models/IValidable.cs
  utils/build/docker/dotnet/Models/LoginModel.cs
  utils/build/docker/dotnet/Models/String.cs
  utils/build/docker/dotnet/app.csproj
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApiOtel.cs
Labels: dotnet

#2629 [.NET] quote curly braces in bash script
  utils/build/docker/dotnet/app.sh
Labels: dotnet

#2603 Remove redundant blocking tests
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/test_blocking_addresses.py
Labels: run-appsec-scenarios

#2612 Add trace ID high order bits context leak test
  tests/parametric/test_headers_tracecontext.py
Labels: run-parametric-scenario

#2634 [python] enable new tests for login events
  manifests/python.yml
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: python
