Repository DataDog/system-tests, pull requests merged in 2024-10, with the labels that each got.

#3150 [golang] Attacker Fingerprinting
  manifests/golang.yml
  utils/build/docker/golang/app/chi/main.go
  utils/build/docker/golang/app/echo/main.go
  utils/build/docker/golang/app/gin/main.go
  utils/build/docker/golang/app/net-http/main.go
Labels: go

#3156 [dotnet][IAST] Reactivate flaky tests after fix
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/iast/sink/test_weak_randomness.py
  tests/appsec/iast/sink/test_xpath_injection.py
Labels: run-all-scenarios

#3162 [APMAPM-474] Adding tracerConfig support for `dd_trace_agent_url`
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/trace/controller/TraceController.java
Labels: mergequeue-status: rejected

#3190 AMLII-2060 is fixed, reuse dev agent
  .github/workflows/ci.yml
Labels: run-sampling-scenario, run-profiling-scenario, run-debugger-scenarios, run-appsec-scenarios, run-integration-scenarios, run-graphql-scenarios

#3140 [SVLS-5268] mark the span pointer tests as released
  manifests/python.yml
  utils/build/build_python_base_images.sh
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/django-poc.base.Dockerfile
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/fastapi.Dockerfile
  utils/build/docker/python/fastapi.base.Dockerfile
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/python3.12.base.Dockerfile
Labels: build-python-base-images

#3217 [python] fix return value for endpoint in fastapi weblog
  utils/build/docker/python/fastapi/main.py
Labels: python

#3228 [python] fix for flask-poc
  utils/build/docker/python/flask/app.py
Labels: python

#3207 chore: rearrange some code to prepare for more span pointers
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/serverless/__init__.py
  tests/serverless/span_pointers/__init__.py
  tests/serverless/span_pointers/aws/__init__.py
  tests/serverless/span_pointers/aws/test_s3_span_pointers.py
  tests/serverless/span_pointers/utils.py
  tests/serverless/test_span_pointers.py
  utils/_features.py
  utils/build/build_python_base_images.sh
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/fastapi.Dockerfile
  utils/build/docker/python/fastapi.base.Dockerfile
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/python3.12.Dockerfile
Labels: build-python-base-images

#3240 [golang] Implement /make_distant_call endpoint
  utils/build/docker/golang/app/chi/main.go
  utils/build/docker/golang/app/echo/main.go
  utils/build/docker/golang/app/gin/main.go
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/app/net-http/main.go
Labels: go

#1625 [nodejs] Enable path_params blocking tests
  manifests/nodejs.yml
Labels: run-appsec-scenarios

#3159 Enable session fingerprint and capabilities tests
  manifests/java.yml
  tests/appsec/test_fingerprinting.py
Labels: run-appsec-scenarios

#3265 [Python] IAST debug env var
  utils/build/docker/set-system-tests-weblog-env.Dockerfile
Labels: run-all-scenarios

#3296 nodejs: fix AWS bug where messages aren't being consumed
  utils/build/docker/nodejs/express4/integrations/messaging/aws/kinesis.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/sns.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/sqs.js
Labels: javascript

#3292 [python] enable fastapi cookies
  manifests/python.yml
  utils/build/docker/python/fastapi/main.py
Labels: python

#3286 Make DD_API_KEY optional
  .github/workflows/run-docker-mode.yml
  .github/workflows/run-end-to-end.yml
  .github/workflows/run-external-processing.yml
  .github/workflows/run-graphql.yml
  README.md
  docs/CI/README.md
  docs/CI/github-actions.md
  docs/CI/gitlab-ci.md
  docs/README.md
  docs/execute/README.md
  utils/_context/_scenarios/__init__.py
  utils/_context/_scenarios/endtoend.py
  utils/_context/_scenarios/open_telemetry.py
  utils/_context/containers.py
  utils/proxy/core.py
Labels: run-all-scenarios

#3279 [Ruby] Convert parametric implementation from grpc to http
  tests/parametric/test_crashtracking.py
  tests/parametric/test_headers_tracestate_dd.py
  utils/_context/_scenarios/parametric.py
  utils/build/docker/ruby/parametric/Gemfile
  utils/build/docker/ruby/parametric/generate_proto.sh
  utils/build/docker/ruby/parametric/server.rb
Labels: run-parametric-scenario

#3310 [python] semver format
  manifests/python.yml
Labels: python

#3318 [python] semver format. fix a search and replace error
  manifests/python.yml
Labels: python

#3329 Add updated links to flushing.md
  docs/internals/flushing.md
Labels: documentation

#3315 enable Python & NodeJS Kafka DSM test with new Cluster ID tag
  manifests/nodejs.yml
  manifests/python.yml
  tests/integrations/test_dsm.py
Labels: python

#3320 Updating how to run binaries for Golang
  docs/execute/binaries.md
Labels: mergequeue-status: removed

#3313 Create system tests for Standalone Code Security billing
  .github/workflows/run-end-to-end.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  scenario_groups.yml
  tests/appsec/test_asm_standalone.py
  utils/_context/_scenarios/__init__.py
  utils/_features.py
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/AppSecRoutes.scala
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/MyResource.java
  utils/build/docker/java/play/app/controllers/AppSecController.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/Main.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/MyResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
Labels: run-appsec-scenarios
