Repository DataDog/system-tests, pull requests merged in 2024-03, with the labels that each got.

#2187 Add a kafka endpoint to the dotnet weblog
  manifests/dotnet.yml
  utils/build/docker/dotnet/Dependencies/KafkaHelper.cs
  utils/build/docker/dotnet/Endpoints/DsmEndpoint.cs
  utils/build/docker/dotnet/Endpoints/MessagingEndpoints.cs
Labels: run-integration-scenarios, build-buddies-images

#2186 [dotnet][IAST] Add Reflection Injection tests
  manifests/dotnet.yml
  tests/appsec/iast/sink/test_reflection_injection.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: dotnet

#2190 Fix Open-Telemetry-Manual scenario
  tests/otel_tracing_e2e/_test_validator_log.py
Labels: run-open-telemetry-scenarios

#2195 Fix open telemetry manual logs validator
  tests/otel_tracing_e2e/_test_validator_log.py
Labels: run-open-telemetry-scenarios

#2199 [nodejs] Re-enable API Sec sampling test for Node
  tests/appsec/api_security/test_apisec_sampling.py
Labels: run-appsec-scenarios

#2119 span_links: refactor tests
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_span_links.py
  utils/build/docker/python/parametric/apm_test_client/server.py
  utils/parametric/_library_client.py
Labels: run-parametric-scenario

#2180 add sqs endpoints for dotnet
  manifests/dotnet.yml
  tests/integrations/crossed_integrations/test_sqs.py
  utils/build/docker/dotnet/Endpoints/DsmEndpoint.cs
  utils/build/docker/dotnet/Endpoints/MessagingEndpoints.cs
  utils/build/docker/dotnet/app.csproj
Labels: dotnet, .NET, run-integration-scenarios, build-buddies-images

#2198 activate python tests and sample delay to 0.
  manifests/python.yml
  utils/_context/_scenarios.py
Labels: run-appsec-scenarios

#2207 Fix pr labels: generate docker images lib-injeciton
  .github/workflows/run-lib-injection.yml
  .gitlab-ci.yml
  utils/scripts/get_pr_merged_labels.sh
Labels: run-libinjection-scenarios

#1871 Explicity library flushing
  docs/internals/flushing.md
  docs/weblog/README.md
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/nextjs/src/app/flush/route.js
Labels: javascript, run-all-scenarios

#2159 DSM Tests for each DSM Context Hashing Version
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  requirements.txt
  tests/integrations/test_dsm.py
  utils/_context/containers.py
  utils/_features.py
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/integrations/messaging/rabbitmq/rabbitmq.js
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/messaging/aws/kinesis.py
  utils/build/docker/python/flask/integrations/messaging/aws/sns.py
  utils/build/docker/python/flask/integrations/messaging/aws/sqs.py
  utils/build/docker/python/flask/integrations/messaging/rabbitmq.py
Labels: run-integration-scenarios, build-buddies-images

#2204 Added node versions for test_telemetry
  manifests/nodejs.yml
Labels: run-parametric-scenario

#2213 Fix integrations dsm tests in replay mode
  .github/workflows/run-end-to-end.yml
  tests/integrations/test_dsm.py
Labels: run-integration-scenarios

#2215 Try catch nodejs kafka key consumer
  utils/build/docker/nodejs/express4-typescript/iast.ts
  utils/build/docker/nodejs/express4/iast/sources.js
Labels: run-integration-scenarios

#2208 Lib-Injection migration v2
  .github/workflows/run-lib-injection.yml
  tests/k8s_lib_injection/conftest.py
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
  tests/k8s_lib_injection/test_k8s_manual_inject.py
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
  utils/k8s_lib_injection/k8s_logger.py
  utils/k8s_lib_injection/k8s_weblog.py
Labels: run-libinjection-scenarios

#2223 k8s-lib-injection: run in parallel
  run.sh
  tests/k8s_lib_injection/conftest.py
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
  tests/k8s_lib_injection/test_k8s_manual_inject.py
  utils/k8s_lib_injection/k8s_command_utils.py
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
  utils/k8s_lib_injection/k8s_kind_cluster.py
  utils/k8s_lib_injection/k8s_sync_kubectl.py
  utils/k8s_lib_injection/k8s_weblog.py
  utils/k8s_lib_injection/resources/kind-config-template.yaml
  utils/k8s_lib_injection/resources/operator/operator-helm-values-auto.yaml
  utils/k8s_lib_injection/resources/operator/operator-helm-values-uds.yaml
  utils/k8s_lib_injection/resources/operator/operator-helm-values.yaml
Labels: run-libinjection-scenarios

#2227 Log injection can be enabled by default
  .github/CODEOWNERS
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario

#2216 Enable PHP RC ASM_FEATURES scenarios
  tests/remote_config/test_remote_configuration.py
  utils/build/docker/php/apache-mod/entrypoint.sh
  utils/build/docker/php/common/install_ddtrace.sh
Labels: run-all-scenarios

#2231 Java OpenTelemetry Auto: Fix for 2.2.0 and obfuscation test issues
  tests/integrations/test_open_telemetry.py
Labels: run-open-telemetry-scenarios

#2128 Add OTel Interoperability System tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_otel_api_interoperability.py
  tests/parametric/test_otel_sdk_interoperability.py
  utils/_features.py
  utils/build/docker/php/parametric/server.php
  utils/parametric/_library_client.py
  utils/parametric/protos/apm_test_client.proto
  utils/parametric/protos/apm_test_client_pb2.py
  utils/parametric/protos/apm_test_client_pb2_grpc.py
  utils/parametric/spec/trace.py
Labels: run-parametric-scenario

#2228 Lib injection: auto lib-injection
  .github/workflows/run-lib-injection.yml
  tests/k8s_lib_injection/conftest.py
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
  utils/_context/_scenarios.py
  utils/k8s_lib_injection/k8s_command_utils.py
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
  utils/k8s_lib_injection/k8s_kind_cluster.py
  utils/k8s_lib_injection/k8s_logger.py
  utils/k8s_lib_injection/k8s_weblog.py
  utils/k8s_lib_injection/resources/operator/operator-helm-values-auto.yaml
Labels: run-libinjection-scenarios, build-lib-injection-app-images

#2230 [Debugger] Add PII Redaction
  .github/workflows/run-end-to-end.yml
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  scenario_groups.yml
  tests/debugger/test_debugger.py
  tests/debugger/test_debugger_base.py
  tests/debugger/test_debugger_pii.py
  utils/_context/_scenarios.py
  utils/_features.py
  utils/build/docker/dotnet/Controllers/DebuggerController.cs
  utils/build/docker/dotnet/Models/Debugger/Pii.cs
  utils/proxy/core.py
  utils/proxy/rc_mocked_responses_debugger_line_probes_snapshot.json
  utils/proxy/rc_mocked_responses_debugger_mix_log_probe.json
  utils/proxy/rc_mocked_responses_debugger_pii_redaction.json
  utils/proxy/rc_mocked_responses_debugger_probes_status.json
Labels: run-debugger-scenarios

#2226 fix: tracer configuration usage
  .github/workflows/run-parametric.yml
  tests/parametric/conftest.py
  utils/build/docker/cpp/parametric/http/CMakeLists.txt
  utils/build/docker/cpp/parametric/http/Dockerfile
  utils/build/docker/cpp/parametric/http/developer_noise.cpp
  utils/build/docker/cpp/parametric/http/developer_noise.h
  utils/build/docker/cpp/parametric/http/httplib.h
  utils/build/docker/cpp/parametric/http/json.hpp
  utils/build/docker/cpp/parametric/http/main.cpp
  utils/build/docker/cpp/parametric/http/manual_scheduler.h
  utils/build/docker/cpp/parametric/http/request_handler.cpp
  utils/build/docker/cpp/parametric/http/request_handler.h
  utils/build/docker/cpp/parametric/http/utils.h
  utils/build/docker/cpp/parametric/install_ddtrace.sh
  utils/build/docker/cpp/parametric/main.cpp
Labels: run-parametric-scenario

#2233 k8s-lib-injection: Add ruby variants
  .github/workflows/run-lib-injection.yml
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
Labels: run-libinjection-scenarios, build-lib-injection-app-images

#2238 Lib Injection: downgrade buildx version
  .github/workflows/run-lib-injection.yml
Labels: run-libinjection-scenarios, build-lib-injection-app-images

#2236 fix(otel): Strict attributes and tracestate comparisons
  tests/parametric/test_otel_api_interoperability.py
  tests/parametric/test_otel_sdk_interoperability.py
Labels: run-parametric-scenario

#2241 Parametric tarcestate: annotate bug python release
  tests/parametric/test_headers_tracestate_dd.py
Labels: run-parametric-scenario

#2243 K8s Lib Injection: Docs
  docs/lib-injection/k8s_lib_injections_folders.png
  docs/lib-injection/k8s_lib_injections_log_folders.png
  docs/scenarios/k8s_lib_injection.md
  tests/k8s_lib_injection/README.md
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
  utils/k8s_lib_injection/k8s_weblog.py
Labels: run-libinjection-scenarios

#2251 K8s Lib Injection: Add debug traces
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
  utils/k8s_lib_injection/k8s_weblog.py
Labels: run-libinjection-scenarios

#2237 K8s Lib Injection: add dotnet tests
  .github/workflows/run-lib-injection.yml
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
Labels: run-libinjection-scenarios, build-lib-injection-app-images

#2250 Ignore SIDECAR telemetry events
  tests/parametric/conftest.py
Labels: run-parametric-scenario

#2210 go: enable custom blocking response tests
  manifests/golang.yml
  tests/appsec/waf/test_blocking.py
Labels: run-appsec-scenarios

#2254 Remove false positive in telemetry test
  tests/test_telemetry.py
Labels: run-all-scenarios

#2245 tests: Enable PHP XPASS tests
  manifests/php.yml
  tests/appsec/test_rate_limiter.py
  tests/parametric/test_128_bit_traceids.py
  tests/parametric/test_headers_precedence.py
  tests/parametric/test_headers_tracestate_dd.py
  tests/remote_config/test_remote_configuration.py
  tests/test_standard_tags.py
Labels: run-all-scenarios

#2255 K8s Lib Injection: Fixes
  tests/k8s_lib_injection/conftest.py
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
  utils/k8s_lib_injection/k8s_command_utils.py
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
  utils/k8s_lib_injection/k8s_weblog.py
Labels: run-libinjection-scenarios

#2256 go: bump custom blocking test version
  manifests/golang.yml
Labels: run-appsec-scenarios

#2259 python: activate more easy_wins
  manifests/python.yml
  tests/test_semantic_conventions.py
Labels: run-all-scenarios

#2258 k8s lib injection: api wrapper
  tests/k8s_lib_injection/conftest.py
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
  tests/k8s_lib_injection/test_k8s_manual_inject.py
  utils/k8s_lib_injection/k8s_command_utils.py
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
  utils/k8s_lib_injection/k8s_weblog.py
  utils/k8s_lib_injection/k8s_wrapper.py
Labels: run-libinjection-scenarios

#2257 [Debugger] Mark golang, ruby and nodejs as missing feature
  manifests/golang.yml
  manifests/nodejs.yml
  manifests/ruby.yml
Labels: run-debugger-scenarios

#2267 Fix left over on IAST test/.NET
  tests/appsec/iast/sink/test_nosql_mongodb_injection.py
Labels: run-integration-scenarios

#2264 [dotnet][IAST] Fix tests with incorrect status code
  tests/appsec/iast/sink/test_path_traversal.py
  tests/appsec/iast/sink/test_reflection_injection.py
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/sink/test_ssrf.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: dotnet

#2263 k8s lib injection: Don't build weblog images on schedule run
  .github/workflows/run-lib-injection.yml
  requirements.txt
  run.sh
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
  tests/k8s_lib_injection/test_k8s_manual_inject.py
  utils/_context/_scenarios.py
  utils/k8s_lib_injection/k8s_command_utils.py
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
  utils/k8s_lib_injection/k8s_weblog.py
  utils/k8s_lib_injection/k8s_wrapper.py
Labels: run-libinjection-scenarios

#2246 Add more ruby apps
  .github/workflows/run-end-to-end.yml
  manifests/ruby.yml
  utils/build/docker/ruby/rack/Gemfile.lock
  utils/build/docker/ruby/sinatra14/Gemfile.lock
  utils/build/docker/ruby/sinatra20/Gemfile.lock
  utils/build/docker/ruby/sinatra21/Gemfile.lock
  utils/build/docker/ruby/sinatra22.Dockerfile
  utils/build/docker/ruby/sinatra22/.dockerignore
  utils/build/docker/ruby/sinatra22/Gemfile
  utils/build/docker/ruby/sinatra22/Gemfile.lock
  utils/build/docker/ruby/sinatra22/app.rb
  utils/build/docker/ruby/sinatra22/config.ru
  utils/build/docker/ruby/sinatra30.Dockerfile
  utils/build/docker/ruby/sinatra30/.dockerignore
  utils/build/docker/ruby/sinatra30/Gemfile
  utils/build/docker/ruby/sinatra30/Gemfile.lock
  utils/build/docker/ruby/sinatra30/app.rb
  utils/build/docker/ruby/sinatra30/config.ru
  utils/build/docker/ruby/sinatra31.Dockerfile
  utils/build/docker/ruby/sinatra31/.dockerignore
  utils/build/docker/ruby/sinatra31/Gemfile
  utils/build/docker/ruby/sinatra31/Gemfile.lock
  utils/build/docker/ruby/sinatra31/app.rb
  utils/build/docker/ruby/sinatra31/config.ru
  utils/build/docker/ruby/sinatra32.Dockerfile
  utils/build/docker/ruby/sinatra32/.dockerignore
  utils/build/docker/ruby/sinatra32/Gemfile
  utils/build/docker/ruby/sinatra32/Gemfile.lock
  utils/build/docker/ruby/sinatra32/app.rb
  utils/build/docker/ruby/sinatra32/config.ru
  utils/build/docker/ruby/sinatra40.Dockerfile
  utils/build/docker/ruby/sinatra40/.dockerignore
  utils/build/docker/ruby/sinatra40/Gemfile
  utils/build/docker/ruby/sinatra40/Gemfile.lock
  utils/build/docker/ruby/sinatra40/app.rb
  utils/build/docker/ruby/sinatra40/config.ru
Labels: run-all-scenarios

#2265 Fix trace disablement test to properly test telemetry events
  tests/parametric/test_dynamic_configuration.py
Labels: run-parametric-scenario

#2260 [Java] Enable all test for Payara
  manifests/java.yml
  tests/appsec/test_blocking_addresses.py
  tests/appsec/waf/test_addresses.py
Labels: run-appsec-scenarios

#2270 [dotnet][ASM][IAST] Fix the left over test
  tests/appsec/iast/sink/test_nosql_mongodb_injection.py
  utils/build/docker/dotnet/Controllers/IastController.cs
Labels: dotnet, run-integration-scenarios

#2274 K8s Lib Injection: New test added
  tests/k8s_lib_injection/test_k8s_manual_inject.py
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
Labels: run-libinjection-scenarios

#2268 python: enable one more test
  tests/test_data_integrity.py
Labels: run-all-scenarios

#2253 go: enable custom response tests for Gin
  manifests/golang.yml
  tests/appsec/waf/test_blocking.py
Labels: run-appsec-scenarios

#2218 [OTEL-1734][opentelemetry] Extend test to OTLP metrics intake
  tests/otel_tracing_e2e/_test_validator_metric.py
  tests/otel_tracing_e2e/test_e2e.py
  utils/_context/_scenarios.py
  utils/build/docker/java_otel/spring-boot-native/src/main/java/com/datadoghq/springbootnative/App.java
  utils/build/docker/java_otel/spring-boot-native/src/main/java/com/datadoghq/springbootnative/WebController.java
  utils/proxy/core.py
Labels: run-open-telemetry-scenarios

#2276 update slack channel to apm-shared-testing
  docs/execute/README.md
Labels: documentation

#2275 Remove stale test_app_dependencies_loaded_not_sent
  tests/test_telemetry.py
Labels: run-all-scenarios

#2279 Update address in body raw test
  tests/appsec/waf/test_addresses.py
Labels: run-appsec-scenarios

#2281 Merge some tests with negative searchs to avoid false positive
  tests/appsec/test_customconf.py
Labels: run-appsec-scenarios
