Repository DataDog/system-tests, pull requests merged in 2024-09, with the labels that each got.

#2940 [Debugger] Fix exception replay scrub + ensure `exceptionId` exists
  manifests/java.yml
  tests/debugger/approvals/exception_replay_simple_dotnet_snapshot_expected.json
  tests/debugger/approvals/exception_replay_simple_java_snapshot_expected.json
  tests/debugger/test_debugger_exception_replay.py
Labels: run-debugger-scenarios

#2954 [Java] Setting version for W3C Sampling Tag Test
  manifests/java.yml
Labels: mergequeue-status: in_progress

#2951 [python] Code Security: body source
  manifests/python.yml
  tests/appsec/iast/source/test_body.py
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/flask/app.py
Labels: python

#2969 Clean a little bit Scenario API
  conftest.py
  docs/edit/from-scratch.md
  tests/appsec/test_automated_login_events.py
  tests/auto_inject/utils.py
  tests/test_the_test/test_docker_scenario.py
  utils/_context/_scenarios/__init__.py
  utils/_context/_scenarios/auto_injection.py
  utils/_context/_scenarios/core.py
  utils/_context/_scenarios/endtoend.py
  utils/_context/_scenarios/k8s_lib_injection.py
  utils/_context/_scenarios/open_telemetry.py
  utils/_context/_scenarios/parametric.py
  utils/_context/_scenarios/performance.py
  utils/_context/containers.py
  utils/_context/core.py
Labels: run-all-scenarios

#2841 [PHP] Enabling SpanEvents Tests
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/php/parametric/server.php
Labels: run-parametric-scenario

#2974 [python] move to python 3.11 for python weblogs
  utils/build/docker/python/django-poc.base.Dockerfile
  utils/build/docker/python/fastapi.base.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/uwsgi-poc.base.Dockerfile
Labels: build-python-base-images

#2975 [Java] Setting version for Dynamic Config Tests
  manifests/java.yml
Labels: mergequeue-status: in_progress

#1531 [cpp] Enable test_sample_rate_function for cpp
  tests/test_sampling_rates.py
Labels: run-sampling-scenario

#3000 Revert "skip APPSEC_MISSING_RULES for ruby (APPSEC-54708)"
  .github/workflows/run-end-to-end.yml
Labels: ruby, run-all-scenarios

#2378 sampling: added a test verifying manual keep is having precedence over rules
  tests/parametric/test_trace_sampling.py
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
Labels: run-parametric-scenario

#2912 Print weblog crash logs
  utils/_context/_scenarios/endtoend.py
  utils/_context/containers.py
Labels: dev-x

#3004 [ruby] Add graphql-ruby 2.3 weblog in get_github_parameters
  .github/workflows/run-graphql.yml
  utils/scripts/get_github_parameters.py
Labels: run-graphql-scenarios

#3014 k8s: Enable all python tests
  tests/k8s_lib_injection/test_k8s_manual_inject.py
Labels: run-libinjection-scenarios

#2976 Config Consistency DD_TRACE_ENABLED system test.
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_config_consistency.py
Labels: mergequeue-status: in_progress

#2862 [nodejs] Add and enable rasp sqli tests in nodejs
  manifests/nodejs.yml
  utils/build/docker/nodejs/express4-typescript/rasp.ts
  utils/build/docker/nodejs/express4/rasp.js
  utils/build/docker/nodejs/nextjs/package-lock.json
  utils/build/docker/nodejs/nextjs/package.json
  utils/build/docker/nodejs/nextjs/src/app/rasp/sqli/route.js
Labels: run-appsec-scenarios

#3020 Fix K8s Lib Injection push FPD
  .github/workflows/run-lib-injection.yml
  utils/scripts/compute_impacted_scenario.py
Labels: run-libinjection-scenarios

#2963 Docker SSI tests
  .github/workflows/run-docker-ssi.yml
  .github/workflows/system-tests.yml
  conftest.py
  lib-injection/build/docker/java/enterprise/ee-app-ear/pom.xml
  lib-injection/build/docker/java/enterprise/order-service/pom.xml
  lib-injection/build/docker/java/enterprise/order-service/src/main/java/com/andrea/MainServlet.java
  lib-injection/build/docker/java/enterprise/order-service/src/main/webapp/WEB-INF/web.xml
  lib-injection/build/docker/java/enterprise/order-service/src/main/webapp/index.html
  lib-injection/build/docker/java/enterprise/order-service/untitled-web2.iml
  lib-injection/build/docker/java/enterprise/payment-service/pom.xml
  lib-injection/build/docker/java/enterprise/payment-service/src/main/java/com/sample/MainServlet.java
  lib-injection/build/docker/java/enterprise/payment-service/src/main/webapp/WEB-INF/web.xml
  lib-injection/build/docker/java/enterprise/payment-service/src/main/webapp/index.html
  lib-injection/build/docker/java/enterprise/pom.xml
  lib-injection/build/docker/java/jdk7-app/Dockerfile
  lib-injection/build/docker/java/jdk7-app/SimpleHttpServer.java
  lib-injection/build/docker/java/jetty-app/JettyServletMain.java
  manifests/dd_apm_inject.yml
  manifests/java.yml
  manifests/parser/core.py
  requirements.txt
  tests/docker_ssi/test_docker_ssi.py
  utils/_context/_scenarios/__init__.py
  utils/_context/_scenarios/core.py
  utils/_context/_scenarios/docker_ssi.py
  utils/_context/_scenarios/k8s_lib_injection.py
  utils/_context/containers.py
  utils/_context/core.py
  utils/_decorators.py
  utils/_features.py
  utils/build/ssi/base/base_deps.Dockerfile
  utils/build/ssi/base/base_lang.Dockerfile
  utils/build/ssi/base/base_ssi.Dockerfile
  utils/build/ssi/base/base_ssi_installer.Dockerfile
  utils/build/ssi/base/healthcheck.sh
  utils/build/ssi/base/install_os_deps.sh
  utils/build/ssi/base/install_script_ssi.sh
  utils/build/ssi/base/install_script_ssi_installer.sh
  utils/build/ssi/base/java_install_runtimes.sh
  utils/build/ssi/base/tested_components.sh
  utils/build/ssi/build_local.sh
  utils/build/ssi/java/java-app.Dockerfile
  utils/build/ssi/java/java7-app.Dockerfile
  utils/build/ssi/java/jetty-app.Dockerfile
  utils/build/ssi/java/tomcat-app.Dockerfile
  utils/docker_ssi/docker_ssi_definitions.py
  utils/docker_ssi/docker_ssi_matrix_builder.py
  utils/docker_ssi/docker_ssi_matrix_utils.py
  utils/docker_ssi/docker_ssi_model.py
  utils/interfaces/__init__.py
  utils/interfaces/_test_agent.py
  utils/scripts/compute_impacted_scenario.py
  utils/scripts/get_github_parameters.py
Labels: run-all-scenarios

#3013 K8s Lib Injection V2 autoinject
  .github/workflows/run-lib-injection.yml
  .gitlab-ci.yml
  lib-injection/build/build_lib_injection_images.sh
  lib-injection/build/build_lib_injection_weblog.sh
  tests/k8s_lib_injection/conftest.py
  utils/_context/_scenarios/k8s_lib_injection.py
  utils/_context/core.py
  utils/k8s_lib_injection/k8s_command_utils.py
  utils/k8s_lib_injection/k8s_datadog_kubernetes.py
  utils/k8s_lib_injection/k8s_weblog.py
  utils/k8s_lib_injection/resources/operator/operator-helm-values-auto.yaml
  utils/k8s_lib_injection/resources/operator/operator-helm-values.yaml
Labels: run-libinjection-scenarios, build-lib-injection-app-images

#2763 dsm manual checkpoint tests
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/test_dsm.py
  utils/_features.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/data_streams/DSMContextCarrier.java
  utils/build/docker/nodejs/express4/dsm.js
  utils/build/docker/python/flask/app.py
Labels: run-integration-scenarios

#2733 Change AWS messaging propagation & DSM tests to use actual AWS
  .github/workflows/run-end-to-end.yml
  docs/weblog/README.md
  manifests/java.yml
  manifests/nodejs.yml
  manifests/python.yml
  requirements.txt
  tests/integrations/crossed_integrations/test_kinesis.py
  tests/integrations/crossed_integrations/test_sns_to_sqs.py
  tests/integrations/crossed_integrations/test_sqs.py
  tests/integrations/test_dsm.py
  tests/integrations/utils.py
  utils/_context/_scenarios/__init__.py
  utils/_context/_scenarios/core.py
  utils/_context/_scenarios/endtoend.py
  utils/_context/_scenarios/integrations.py
  utils/_context/containers.py
  utils/build/build_tracer_buddies.sh
  utils/build/docker/dotnet/weblog/Endpoints/DsmEndpoint.cs
  utils/build/docker/dotnet/weblog/Endpoints/MessagingEndpoints.cs
  utils/build/docker/java/spring-boot/pom.xml
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/KinesisConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/SnsConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/SqsConnector.java
  utils/build/docker/nodejs/express4.Dockerfile
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/dsm.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/kinesis.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/sns.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/sqs.js
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/messaging/aws/kinesis.py
  utils/build/docker/python/flask/integrations/messaging/aws/sns.py
  utils/build/docker/python/flask/integrations/messaging/aws/sqs.py
  utils/build/docker/python/install_ddtrace.sh
  utils/scripts/compute_impacted_scenario.py
  utils/scripts/get-image-list.py
Labels: java, python, run-integration-scenarios, build-buddies-images

#3021 Test that RASP capabilities are added
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/python.yml
  tests/appsec/rasp/test_lfi.py
  tests/appsec/rasp/test_shi.py
  tests/appsec/rasp/test_sqli.py
  tests/appsec/rasp/test_ssrf.py
  tests/parametric/conftest.py
  tests/parametric/test_dynamic_configuration.py
  utils/dd_constants.py
  utils/interfaces/_library/core.py
  utils/parametric/spec/remoteconfig.py
Labels: run-all-scenarios

#3010 Add config consistency tests for DD_VERSION
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_config_consistency.py
  utils/build/docker/python/parametric/apm_test_client/server.py
Labels: mergequeue-status: in_progress

#3052 Use a proper Content-Type header in the login events tests
  tests/appsec/test_automated_login_events.py
Labels: run-appsec-scenarios

#3032 Add config consistency tests for DD_ENV (Parametric)
  tests/parametric/test_config_consistency.py
Labels: mergequeue-status: rejected

#3057 Configure Kind in Gitlab to allow kubernetes injection tests to run
  tests/k8s_lib_injection/test_k8s_manual_inject.py
  utils/k8s_lib_injection/k8s_command_utils.py
  utils/k8s_lib_injection/k8s_kind_cluster.py
Labels: bug

#2947 [java] Add java endpoint for RASP LFI
  manifests/java.yml
  tests/appsec/rasp/test_lfi.py
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/RaspRoutes.scala
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/RaspResource.java
  utils/build/docker/java/play/app/controllers/RaspController.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/RaspHandlers.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/RaspResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rasp/RaspController.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/rasp/RaspRouteProvider.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/rasp/RaspRouteProvider.java
Labels: run-appsec-scenarios

#3087 Enabling Already Consistent .NET Tests
  manifests/dotnet.yml
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
Labels: dotnet, run-parametric-scenario

#3076 [serverless] Add hash pointer validation
  .github/CODEOWNERS
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/serverless/test_span_pointers.py
  utils/_features.py
  utils/_weblog.py
  utils/build/build_python_base_images.sh
  utils/build/docker/python/fastapi.Dockerfile
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
  utils/build/docker/python/uwsgi-poc.base.Dockerfile
  utils/interfaces/_library/core.py
  utils/interfaces/schemas/library/v0.4/misc/trace-item.json
Labels: build-python-base-images

#3111 feat(python): enable fastapi sink points
  manifests/python.yml
  utils/build/docker/python/fastapi.base.Dockerfile
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: build-python-base-images

#3060 Config Consistency Tests for DD_TRACE_<INTEGRATION>_ENABLED
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/test_config_consistency.py
  utils/_context/_scenarios/__init__.py
Labels: dotnet

#2914 Add test section for OTLP Log ingestion in backend
  tests/otel_tracing_e2e/test_e2e.py
  utils/_context/_scenarios/__init__.py
  utils/build/docker/java_otel/spring-boot-native/src/main/java/com/datadoghq/springbootnative/App.java
  utils/otel_validators/validator_log.py
  utils/proxy/core.py
Labels: run-open-telemetry-scenarios, mergequeue-status: in_progress

#3135 Fix crashtracking tests
  tests/parametric/test_crashtracking.py
Labels: run-parametric-scenario
