Repository DataDog/system-tests, pull requests merged in 2024-11, with the labels that each got.

#3339 Add a test to verify that crashtracking properly times out
  manifests/cpp.yml
  manifests/golang.yml
  manifests/nodejs.yml
  tests/parametric/conftest.py
  tests/parametric/test_crashtracking.py
  utils/_context/_scenarios/parametric.py
  utils/_context/containers.py
  utils/build/docker/ruby/parametric/server.rb
Labels: run-parametric-scenario

#3332 [golang] Migrate Parametric app from grpc to http
  utils/_context/_scenarios/parametric.py
  utils/build/docker/golang/parametric/apm_test_client.pb.go
  utils/build/docker/golang/parametric/apm_test_client_grpc.pb.go
  utils/build/docker/golang/parametric/datadog.go
  utils/build/docker/golang/parametric/helpers.go
  utils/build/docker/golang/parametric/main.go
  utils/build/docker/golang/parametric/otel.go
Labels: run-parametric-scenario

#3368 Java: add reactive (R2DBC) database operations
  utils/build/docker/java/spring-boot/pom.xml
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/ICRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/IDBConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mssql/MssqlConnection.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mysql/MysqlCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mysql/MysqlConnection.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/postgres/PostgresConnection.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/BaseCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/DBFactory.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/ICRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/ReactiveCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/mssql/MssqlCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/mssql/ReactiveMssqlCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/mysql/MysqlCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/mysql/ReactiveMysqlCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/postgres/PostgresCRUDOperation.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/postgres/ReactivePostgresCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/pom.xml
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/ICRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/IDBConnector.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mssql/MssqlConnection.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mysql/MysqlCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mysql/MysqlConnection.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/postgres/PostgresConnection.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/BaseCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/DBFactory.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/ICRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/ReactiveCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/mssql/MssqlCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/mssql/ReactiveMssqlCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/mysql/MysqlCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/mysql/ReactiveMysqlCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/postgres/PostgresCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/postgres/ReactivePostgresCRUDOperation.java
Labels: java, run-all-scenarios

#3353 Avoid false positive, for tracer without appsec/iast
  tests/appsec/test_asm_standalone.py
Labels: run-appsec-scenarios

#2832 Tracer flare debug logs tests
  tests/parametric/conftest.py
  tests/parametric/test_tracer_flare.py
Labels: run-parametric-scenario

#3409 [python] replace os.kill(os.getpid()) with ctypes.string_at(0)
  utils/build/docker/python/parametric/apm_test_client/server.py
Labels: run-parametric-scenario

#3416 Enabling Consistent Configs for PHP
  manifests/php.yml
  tests/parametric/test_config_consistency.py
  utils/build/docker/php/parametric/server.php
Labels: run-parametric-scenario

#3379 INPLAT-156: Added redhat 7.9 AMIs (x86_64), 9.0 (x86_64, aarch64)
  .gitlab-ci.yml
  conftest.py
  tests/auto_inject/test_auto_inject_chaos.py
  tests/auto_inject/test_auto_inject_install.py
  tests/auto_inject/test_blocklist_auto_inject.py
  utils/_context/_scenarios/auto_injection.py
  utils/_context/virtual_machines.py
  utils/build/virtual_machine/provisions/auto-inject/docker/amazon-ecr-credential-helper.yml
  utils/build/virtual_machine/provisions/auto-inject/docker/auto-inject_prepare_docker.yml
  utils/build/virtual_machine/weblogs/dotnet/provision_test-app-dotnet.yml
  utils/build/virtual_machine/weblogs/nodejs/provision_test-app-nodejs.yml
  utils/build/virtual_machine/weblogs/php/provision_test-app-php-container-56.yml
  utils/build/virtual_machine/weblogs/php/provision_test-app-php.yml
  utils/build/virtual_machine/weblogs/ruby/provision_test-app-ruby.yml
Labels: run-libinjection-scenarios, run-onboarding-scenarios

#3403 Enable docker_ssi telemetry test for Python, Ruby and Java
  tests/docker_ssi/test_docker_ssi.py
  utils/_context/_scenarios/docker_ssi.py
  utils/build/ssi/base/php_install_runtimes.sh
  utils/build/ssi/base/tested_components.sh
  utils/docker_ssi/docker_ssi_definitions.py
Labels: run-docker-ssi-scenarios

#3243 add smoke test for crash logs from python [INPLAT-36]
  lib-injection/build/docker/python/dd-lib-python-init-test-django/django_app.py
  manifests/dd_apm_inject.yml
  tests/docker_ssi/test_docker_ssi_crash.py
  utils/_context/_scenarios/docker_ssi.py
  utils/_features.py
  utils/interfaces/_test_agent.py
Labels: run-docker-ssi-scenarios

#3367 [dotnet] activate standalone iast tests
  docs/weblog/README.md
  manifests/dotnet.yml
  utils/build/docker/dotnet/weblog/Constants.cs
  utils/build/docker/dotnet/weblog/Endpoints/RequestDownStreamEndpoint.cs
  utils/build/docker/dotnet/weblog/Endpoints/VulnerableRequestDownstreamEndpoint.cs
  utils/build/docker/dotnet/weblog/Helper.cs
Labels: run-all-scenarios

#3421 Add a new integration test for "Custom Instrumentation Telemetry RFC"
  .shellcheck
  docs/execute/binaries.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/test_otel_drop_in.py
  utils/_context/_scenarios/endtoend.py
  utils/_context/_scenarios/integrations.py
  utils/build/docker/java/app.sh
  utils/build/docker/java/install_drop_in.sh
  utils/build/docker/java/spring-boot.Dockerfile
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/ReactiveCRUDOperation.java
  utils/build/docker/java_otel/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integrations/db/ReactiveCRUDOperation.java
Labels: run-all-scenarios

#1627 [parametric] Update parametric tests for b3 trace context propagation headers
  tests/parametric/test_headers_b3.py
  tests/parametric/test_headers_b3multi.py
Labels: run-parametric-scenario

#1875 [parametric] Update test skips in test_headers_precedence.py for language tracers
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#3480 [golang] Cleanup weblog codeowner broadening
  .github/CODEOWNERS
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/chi.Dockerfile
  utils/build/docker/golang/echo.Dockerfile
  utils/build/docker/golang/gin.Dockerfile
  utils/build/docker/golang/go.work.sum
  utils/build/docker/golang/gqlgen.Dockerfile
  utils/build/docker/golang/graph-gophers.Dockerfile
  utils/build/docker/golang/graphql-go.Dockerfile
  utils/build/docker/golang/net-http.Dockerfile
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
  utils/build/docker/golang/uds-echo.Dockerfile
Labels: go

#3509 Enable more PHP docker-ssi tests
  tests/docker_ssi/test_docker_ssi.py
  utils/docker_ssi/docker_ssi_definitions.py
Labels: run-docker-ssi-scenarios

#3504 [.NET] Add onboarding tests for unsupported runtime version
  .gitlab-ci.yml
  lib-injection/build/docker/dotnet/dd-lib-dotnet-init-test-app-unsupported/Dockerfile
  lib-injection/build/docker/dotnet/dd-lib-dotnet-init-test-app-unsupported/MinimalWebApp.csproj
  lib-injection/build/docker/dotnet/dd-lib-dotnet-init-test-app-unsupported/Program.cs
  lib-injection/build/docker/dotnet/dd-lib-dotnet-init-test-app-unsupported/appsettings.json
  lib-injection/build/docker/dotnet/dd-lib-dotnet-init-test-app-unsupported/build.sh
  utils/build/virtual_machine/weblogs/dotnet/provision_test-app-dotnet-unsupported.yml
  utils/build/virtual_machine/weblogs/dotnet/test-app-dotnet-unsupported/test-app-dotnet-unsupported_run.sh
Labels: run-onboarding-scenarios

#3530 [nodejs] add nodejs docker_ssi test app
  lib-injection/build/docker/nodejs/sample-app/index.js
  tests/docker_ssi/test_docker_ssi.py
  tests/docker_ssi/test_docker_ssi_crash.py
  utils/_context/_scenarios/docker_ssi.py
  utils/build/ssi/base/healthcheck.sh
  utils/build/ssi/base/js_install_runtimes.sh
  utils/build/ssi/base/tested_components.sh
  utils/build/ssi/build_local.sh
  utils/build/ssi/nodejs/js-app.Dockerfile
  utils/build/ssi/nodejs/run.sh
  utils/docker_ssi/docker_ssi_definitions.py
  utils/docker_ssi/docker_ssi_matrix_utils.py
Labels: javascript, run-docker-ssi-scenarios

#3523 [python] remove INPLAT-220 skips from test cases
  tests/auto_inject/test_auto_inject_chaos.py
  tests/auto_inject/test_auto_inject_install.py
  tests/auto_inject/test_blocklist_auto_inject.py
Labels: run-onboarding-scenarios

#3556 [nodejs] skip docker_ssi telemetry_abort test for unsupported node.js versions
  tests/docker_ssi/test_docker_ssi.py
Labels: javascript, run-onboarding-scenarios, run-docker-ssi-scenarios

#3559 [nodejs] remove SSI skips
  tests/auto_inject/test_auto_inject_guardrail.py
  tests/auto_inject/test_auto_inject_install.py
Labels: javascript, run-onboarding-scenarios

#3557 [ASM][ASTO] Acitvate some tests: headers are now collected on login events
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_event_tracking.py
Labels: run-appsec-scenarios

#3590 [java] Fix missing feature decorator in data integrity test for java
  tests/test_data_integrity.py
Labels: java

#3593 Remove user deny list testing since the feature is deprecated
  tests/auto_inject/test_blocklist_auto_inject.py
  utils/_features.py
Labels: run-onboarding-scenarios
