Repository DataDog/system-tests, pull requests merged in 2024-02, with the labels that each got.

#1886 Hide some expected error logs
  utils/build/docker/nodejs/express4/iast/sources.js
Labels: run-all-scenarios

#2096 Add decode support for capability byte arrays
  tests/parametric/conftest.py
Labels: run-parametric-scenario

#2066 feat: add rabbitmq sample apps
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/crossed_integrations/test_rabbitmq.py
  tests/integrations/test_dsm.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rabbitmq/RabbitmqConnector.java
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/sqs.js
  utils/build/docker/nodejs/express4/integrations/messaging/rabbitmq/rabbitmq.js
  utils/build/docker/nodejs/express4/package-lock.json
  utils/build/docker/nodejs/express4/package.json
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/messaging/rabbitmq.py
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
Labels: run-integration-scenarios, build-buddies-images

#2049 API Security RC tests
  .github/workflows/ci.yml
  docs/RC/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  scenario_groups.yml
  tests/appsec/api_security/test_api_security_rc.py
  utils/_context/_scenarios.py
  utils/proxy/rc_mocked_responses_appsec_api_security_rc.json
Labels: run-appsec-scenarios

#2097 Test coherence of waf.requests metric and number of traces
  tests/appsec/waf/test_telemetry.py
Labels: run-appsec-scenarios

#1808 Activate api security tests dotnet
  manifests/dotnet.yml
  utils/_context/_scenarios.py
  utils/build/docker/dotnet/Controllers/TagValueController.cs
  utils/build/docker/dotnet/Models/ApiSecurity/RequestBodyModel.cs
Labels: run-appsec-scenarios

#2102 api security tests: fix equal_value
  tests/appsec/api_security/test_schemas.py
Labels: run-appsec-scenarios

#1981 Added a W3C test to the new sampling by tags & resource test suite
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_trace_sampling.py
  utils/build/docker/dotnet/parametric/Protos/apm_test_client.proto
  utils/build/docker/golang/parametric/apm_test_client.pb.go
  utils/build/docker/golang/parametric/apm_test_client_grpc.pb.go
  utils/build/docker/golang/parametric/datadog.go
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
  utils/parametric/_library_client.py
  utils/parametric/protos/apm_test_client.proto
  utils/parametric/protos/apm_test_client_pb2.py
  utils/parametric/protos/apm_test_client_pb2_grpc.py
Labels: run-sampling-scenario, run-parametric-scenario

#1924 Enable telemetry log collection
  utils/build/docker/set-system-tests-weblog-env.Dockerfile
Labels: run-all-scenarios

#2107 [nodejs] Enable FormData address test for nextjs
  manifests/nodejs.yml
Labels: run-appsec-scenarios

#2101 Revert PHP skips on ZTS/PHP 7.0/7.1
  tests/appsec/test_blocking_addresses.py
  tests/appsec/waf/test_blocking.py
Labels: run-appsec-scenarios

#2111 [Api Security] Test_Schema_Request_FormUrlEncoded_Body expect float for value and 1 for nullable property
  tests/appsec/api_security/test_schemas.py
Labels: run-appsec-scenarios

#1853 [GO]: parametic/ test default propagation style
  docs/scenarios/parametric.md
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#2036 [nodejs] enable api security tests
  docs/weblog/README.md
  manifests/nodejs.yml
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/nextjs/src/app/tag_value/[tag]/[status]/route.js
Labels: run-appsec-scenarios

#2118 enable/fix more DSM and Context Propagation Messaging Tests
  manifests/python.yml
  tests/integrations/crossed_integrations/test_kafka.py
  tests/integrations/crossed_integrations/test_sqs.py
  tests/integrations/test_dsm.py
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/integrations/messaging/aws/sqs.js
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/messaging/rabbitmq.py
Labels: run-integration-scenarios, build-buddies-images

#2120 fix python rabbitmq tests
  manifests/python.yml
  tests/integrations/test_dsm.py
Labels: run-integration-scenarios

#2112 python: update default propagation style headers [distributed tracing]
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#2123 Mitigate parametric test blocked
  .github/workflows/parametric.yml
  tests/parametric/conftest.py
Labels: run-parametric-scenario

#2126 activate already passing tests for python
  manifests/python.yml
  tests/test_standard_tags.py
Labels: run-all-scenarios

#2116 Enable API Security RC tests in nodejs
  manifests/nodejs.yml
Labels: run-appsec-scenarios

#2135 [NodeJS] Enable ResponseBody api security tests in node
  manifests/nodejs.yml
Labels: run-appsec-scenarios

#2080 Kafka key and value as IAST sources
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/_test_iast_fixtures.py
  tests/appsec/iast/source/test_kafka_key.py
  tests/appsec/iast/source/test_kafka_value.py
  utils/_features.py
  utils/build/docker/nodejs/express4/iast/sources.js
Labels: run-integration-scenarios

#2130 [dotnet][IAST] Add NoSQL MongoDB Injection tests
  manifests/dotnet.yml
  tests/appsec/iast/sink/test_nosql_mongodb_injection.py
  utils/build/docker/dotnet/Controllers/IastController.cs
  utils/build/docker/dotnet/Dependencies/MongoDbHelper.cs
  utils/build/docker/dotnet/app.csproj
Labels: dotnet, run-appsec-scenarios

#2129 [dotnet] Fix dotnet project for arm64 architecture
  utils/build/docker/dotnet/app.csproj
Labels: dev-x, dotnet

#2132 Feb2024 Extended Sampling API Revision Tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_trace_sampling.py
Labels: run-parametric-scenario

#2139 enable remote tracing disablement test for python tracer
  manifests/python.yml
  tests/parametric/test_dynamic_configuration.py
Labels: run-parametric-scenario

#2137 fix flaking nodejs sqs test
  manifests/python.yml
  tests/integrations/crossed_integrations/test_sqs.py
Labels: run-integration-scenarios, build-buddies-images

#2144 Add sevice+env case-insensitivity test to TestDynamicConfigV1
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_dynamic_configuration.py
Labels: run-parametric-scenario

#2146 Revamp workflow to be able to define nightly job in main repo
  .github/actions/pull_images/action.yml
  .github/workflows/ci.yml
  .github/workflows/run-end-to-end.yml
  .github/workflows/run-experimental.yml
  .github/workflows/run-graphql.yml
  .github/workflows/run-parametric.yml
  .github/workflows/system-tests.yml
  conftest.py
  utils/scripts/load-binary.sh
Labels: run-profiling-scenario, run-parametric-scenario, run-graphql-scenarios

#2148 Add scenario and cases
  manifests/dotnet.yml
  tests/appsec/api_security/test_schemas.py
Labels: run-appsec-scenarios

#2150 Allow the main workflow to be called in a distant workflow
  .github/actions/install_runner/action.yaml
  .github/actions/pull_images/action.yml
  .github/workflows/ci.yml
  .github/workflows/run-end-to-end.yml
  .github/workflows/run-exotics.yml
  .github/workflows/run-graphql.yml
  .github/workflows/run-lib-injection.yml
  .github/workflows/run-open-telemetry.yml
  .github/workflows/run-parametric.yml
  .github/workflows/system-tests.yml
  .github/workflows/update-agent-protobuf.yml
  docs/CI/github-actions.md
Labels: run-all-scenarios

#2143 Conti/add aws kinesis tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/integrations/crossed_integrations/test_kinesis.py
  utils/_context/containers.py
  utils/_features.py
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/messaging/aws/kinesis.py
Labels: run-integration-scenarios, build-buddies-images

#2145 [NodeJS] Add graphql resolver arguments source test for iast
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/source/test_graphql_resolver.py
  utils/_features.py
  utils/build/docker/nodejs/express4-typescript/graphql.ts
  utils/build/docker/nodejs/express4/graphql.js
Labels: run-appsec-scenarios

#2168 span_links: make v04 and v05 tests consistent
  tests/parametric/test_otel_span_methods.py
  tests/parametric/test_span_links.py
  utils/parametric/spec/trace.py
Labels: run-parametric-scenario

#2153 Enabled TestDynamicConfigV2 for java
  manifests/java.yml
Labels: run-parametric-scenario

#2171 Support for meta_struct payloads in traces
  tests/appsec/test_blocking_addresses.py
  utils/interfaces/_agent.py
  utils/interfaces/_library/core.py
  utils/proxy/_deserializer.py
Labels: run-all-scenarios

#2160 [opentelemetry] Fix span link comparison
  tests/otel_tracing_e2e/_test_validator_trace.py
Labels: run-open-telemetry-scenarios

#2136 w3c tracestate: Tests P
  tests/parametric/test_headers_tracecontext.py
Labels: run-parametric-scenario

#2166 deactivate apisec tests for sampling
  manifests/python.yml
  tests/appsec/api_security/test_apisec_sampling.py
Labels: do-not-merge

#2172 Update configuration tests with per library keys, JSON type values
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario
