Repository DataDog/system-tests, pull requests merged in 2024-08, with the labels that each got.

#2769 Remove AppSec RuleSet tests
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/test_conf.py
Labels: run-appsec-scenarios

#2754 Fix xpassed Login events tests for java
  manifests/java.yml
  tests/appsec/test_automated_login_events.py
Labels: run-appsec-scenarios

#2856 Set @flaky to APPSEC_RASP java vertx4
  tests/appsec/waf/test_reports.py
Labels: run-appsec-scenarios

#2858 [python] weak cipher flakyness investigation
  tests/appsec/iast/sink/test_weak_cipher.py
Labels: python

#2864 Set @flaky to APPSEC_RASP java vertx3
  tests/appsec/waf/test_reports.py
Labels: run-appsec-scenarios

#2863 [PHP][ASM] Enable user login events V2 and disable V1
  manifests/php.yml
  tests/appsec/test_automated_login_events.py
Labels: run-appsec-scenarios

#2833 Disable IAST opt-out to fix test errors
  tests/appsec/test_asm_standalone.py
  utils/_context/_scenarios/__init__.py
Labels: run-appsec-scenarios

#2867 fix: suspicious attacker blocking RC payload
  manifests/java.yml
  tests/appsec/test_suspicious_attacker_blocking.py
Labels: run-appsec-scenarios

#2868 Set @flaky to APPSEC_RASP java vertx
  tests/appsec/rasp/test_sqli.py
  tests/appsec/waf/test_reports.py
Labels: run-appsec-scenarios

#2871 [PHP] Reenable remote configuration tests
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_remote_config_rule_changes.py
  tests/appsec/test_user_blocking_full_denylist.py
  tests/remote_config/test_remote_configuration.py
Labels: run-appsec-scenarios

#2829 [Debugger] Expression language tests refactoring
  tests/debugger/probes/expression_language_access_exception.json
  tests/debugger/probes/expression_language_access_variables.json
  tests/debugger/test_debugger_expression_language.py
Labels: run-debugger-scenarios

#2834 [Debugger] Refactor tests + enable line probe status tests
  tests/debugger/probes/pii.json
  tests/debugger/probes/probe_snapshot_line.json
  tests/debugger/probes/probe_snapshot_method.json
  tests/debugger/probes/probe_snapshot_mix_log.json
  tests/debugger/probes/probe_status_log.json
  tests/debugger/probes/probe_status_metric.json
  tests/debugger/probes/probe_status_span.json
  tests/debugger/probes/probe_status_spandecoration.json
  tests/debugger/test_debugger_pii.py
  tests/debugger/test_debugger_probe_snapshot.py
  tests/debugger/test_debugger_probe_status.py
  tests/debugger/utils.py
  utils/_context/_scenarios/__init__.py
Labels: run-debugger-scenarios

#2874 [dotnet][asm] update now new v2 login events are implemented
  manifests/dotnet.yml
  tests/appsec/test_automated_login_events.py
Labels: run-all-scenarios

#2878 [java] Enable AppSecRequestBlocking in all variants
  manifests/java.yml
Labels: run-appsec-scenarios

#2879 [java] Enable Test_CustomBlockingResponse in all variants
  tests/appsec/waf/test_blocking.py
Labels: run-appsec-scenarios

#2826 tests(php): Enable Test_TracerSCITagging
  manifests/php.yml
Labels: run-parametric-scenario

#2884 Add parametric tests for crashtracking
  tests/parametric/test_crashtracking.py
  utils/_context/_scenarios/parametric.py
  utils/_features.py
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
  utils/parametric/_library_client.py
Labels: run-parametric-scenario

#2825 tests: Enable some OTel PHP tests
  tests/parametric/test_otel_span_methods.py
Labels: run-parametric-scenario

#2691 K8s lib injection: Test ASM and PROFILING features
  tests/k8s_lib_injection/conftest.py
  tests/k8s_lib_injection/test_k8s_configmap_auto_inject.py
  tests/k8s_lib_injection/test_k8s_manual_inject.py
  utils/_context/_scenarios/__init__.py
  utils/k8s_lib_injection/k8s_command_utils.py
  utils/k8s_lib_injection/k8s_datadog_kubernetes.py
  utils/k8s_lib_injection/k8s_weblog.py
  utils/k8s_lib_injection/resources/datadog-agent-apm.yaml
  utils/onboarding/backend_interface.py
Labels: run-libinjection-scenarios

#2889 [nodejs] Iast kafka flaky tests again
  tests/appsec/iast/source/test_kafka_key.py
  tests/appsec/iast/source/test_kafka_value.py
  utils/build/docker/nodejs/express4-typescript/iast.ts
  utils/build/docker/nodejs/express4/iast/sources.js
Labels: run-integration-scenarios

#2883 [Debugger] Enable python tests
  manifests/python.yml
  tests/debugger/probes/probe_snapshot_line.json
  tests/debugger/probes/probe_snapshot_method.json
  tests/debugger/probes/probe_status_metric.json
  tests/debugger/probes/probe_status_spandecoration.json
  tests/debugger/test_debugger_expression_language.py
  tests/debugger/test_debugger_pii.py
  tests/debugger/test_debugger_probe_snapshot.py
  tests/debugger/utils.py
  tests/test_schemas.py
  tests/test_the_test/test_remote_config.py
  utils/_context/_scenarios/__init__.py
  utils/_remote_config.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/CollectionFactory.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/debugger/collection_factory.py
  utils/build/docker/python/flask/debugger/expression_test_struct.py
  utils/build/docker/python/flask/debugger/pii.py
  utils/build/docker/python/flask/debugger_controller.py
Labels: run-debugger-scenarios

#2869 [java] Use HTTP interface for parametric test
  utils/_context/_scenarios/parametric.py
  utils/build/docker/java/parametric/README.md
  utils/build/docker/java/parametric/pom.xml
  utils/build/docker/java/parametric/run.sh
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/ApmCompositeClient.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/ApmTestClient.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/App.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/LoggingResponseBodyAdvice.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/OpenTelemetryClient.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/OpenTracingClient.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/metrics/controller/MetricsController.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/controller/OpenTelemetryController.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/AddEventArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/EndSpanArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/FlushArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/FlushResult.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/HttpHeader.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/IsRecordingArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/IsRecordingResult.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/KeyValue.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/RecordExceptionArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/SetAttributesArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/SetNameArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/SetStatusArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/SpanContextArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/SpanContextResult.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/SpanLink.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/StartSpanArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentelemetry/dto/StartSpanResult.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/controller/OpenTracingController.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/KeyValue.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/SpanErrorArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/SpanFinishArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/SpanInjectHeadersArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/SpanInjectHeadersResult.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/SpanLinks.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/SpanSetMetaArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/SpanSetMetricArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/StartSpanArgs.java
  utils/build/docker/java/parametric/src/main/java/com/datadoghq/opentracing/dto/StartSpanResult.java
  utils/scripts/compute_impacted_scenario.py
Labels: java

#2909 [Python] mark iast parameter value test as irrelevant
  tests/appsec/iast/source/test_parameter_value.py
Labels: python, run-appsec-scenarios

#2896 [java] Set @flaky to APPSEC_RASP java
  tests/appsec/rasp/test_sqli.py
Labels: run-appsec-scenarios

#2916 [Debugger] Fix java exception replay inconsistency
  manifests/java.yml
  tests/debugger/test_debugger_exception_replay.py
Labels: run-debugger-scenarios

#2930 [Debugger] Validate exception replay tags
  tests/debugger/approvals/exception_replay_simple_dotnet_tags_expected.json
  tests/debugger/approvals/exception_replay_simple_java_tags_expected.json
  tests/debugger/test_debugger_exception_replay.py
Labels: run-debugger-scenarios

#2938 [python] Code Security: path source
  manifests/python.yml
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/flask/app.py
Labels: python

#2925 [python] Code Security: FastAPI sources
  manifests/python.yml
  utils/build/docker/python/fastapi/main.py
Labels: python

#2927 [java] enable RASP SQLi tests
  manifests/java.yml
  tests/appsec/rasp/test_sqli.py
Labels: run-appsec-scenarios

#2911 [java] Enable Test_RemoteConfigurationExtraServices
  manifests/java.yml
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/AppSecRoutes.scala
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/MyResource.java
  utils/build/docker/java/play/app/controllers/AppSecController.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/Main.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/MyResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
Labels: run-appsec-scenarios
