Repository DataDog/system-tests, pull requests merged in 2024-07, with the labels that each got.

#2640 Avoid blocking on content-language: en-us
  tests/appsec/blocking_rule.json
  tests/appsec/test_blocking_addresses.py
Labels: run-appsec-scenarios

#2641 PROF-9979: Remove the workaround now that installer script has been fixed
  utils/build/virtual_machine/provisions/host-auto-inject-install-script/auto-inject_host_script.yml
Labels: run-libinjection-scenarios, mergequeue-status: in_progress

#2643 [python] Debug message, install rust on base images
  format.sh
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/build/build_python_base_images.sh
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/django-poc.base.Dockerfile
  utils/build/docker/python/fastapi.Dockerfile
  utils/build/docker/python/fastapi.base.Dockerfile
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/flask/app.sh
  utils/build/docker/python/install_ddtrace.sh
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/python3.12.base.Dockerfile
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
  utils/build/docker/python/uwsgi-poc.base.Dockerfile
Labels: build-python-base-images

#2626 Universal replay mode
  conftest.py
  tests/appsec/test_blocking_addresses.py
  tests/integrations/test_dbm.py
  tests/integrations/utils.py
  utils/_context/_scenarios.py
  utils/_weblog.py
  utils/buddies.py
  utils/properties_serialization.py
  utils/scripts/replay_scenarios.sh
Labels: dev-x

#2642 [FA] Update tracer flare test
  tests/parametric/test_tracer_flare.py
Labels: run-parametric-scenario

#2644 `build.sh`: fix typo in help text
  utils/build/build.sh
Labels: dev-x

#2618 [Debugger] Use RC api
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/debugger/probes/expression_language_access_exception.json
  tests/debugger/probes/expression_language_access_variables.json
  tests/debugger/probes/pii.json
  tests/debugger/probes/probe_snapshot_line.json
  tests/debugger/probes/probe_snapshot_method.json
  tests/debugger/probes/probe_snapshot_mix_log.json
  tests/debugger/probes/probe_status_method_log.json
  tests/debugger/probes/probe_status_method_metric.json
  tests/debugger/probes/probe_status_method_span.json
  tests/debugger/probes/probe_status_method_spandecoration.json
  tests/debugger/test_debugger_expression_language.py
  tests/debugger/test_debugger_pii.py
  tests/debugger/test_debugger_probe_snapshot.py
  tests/debugger/test_debugger_probe_status.py
  tests/debugger/utils.py
  utils/_context/_scenarios.py
  utils/_remote_config.py
  utils/proxy/core.py
  utils/proxy/rc_debugger.py
  utils/proxy/rc_mocked_responses_debugger_expression_language.json
  utils/proxy/rc_mocked_responses_debugger_line_probes_snapshot.json
  utils/proxy/rc_mocked_responses_debugger_method_probes_snapshot.json
  utils/proxy/rc_mocked_responses_debugger_mix_log_probe.json
  utils/proxy/rc_mocked_responses_debugger_probes_status.json
Labels: run-debugger-scenarios

#2601 [java] Enable more XPASS tests
  manifests/java.yml
  tests/appsec/iast/sink/test_no_httponly_cookie.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_value.py
  tests/test_semantic_conventions.py
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/IastSinkResource.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/IastSinkResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/AppSecIast.java
Labels: java

#2639 [java] Add requires endpoints for SQLi protection in RASP
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/IastRoutes.scala
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/Main.scala
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/RaspRoutes.scala
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/RaspResource.java
  utils/build/docker/java/play.Dockerfile
  utils/build/docker/java/play/app/Module.scala
  utils/build/docker/java/play/app/controllers/RaspController.scala
  utils/build/docker/java/play/app/resources/Resources.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/play/pom.xml
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/Main.java
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/RaspHandlers.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/Main.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/RaspResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rasp/RaspController.java
  utils/build/docker/java/vertx3/pom.xml
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/rasp/RaspRouteProvider.java
  utils/build/docker/java/vertx4/pom.xml
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/rasp/RaspRouteProvider.java
Labels: java

#2655 [python] pin gunicorn version to 21.2.0
  utils/build/docker/python/django-poc.base.Dockerfile
Labels: build-python-base-images

#2649 [Debugger] Assert RC requests have no errors
  tests/debugger/test_debugger_expression_language.py
  tests/debugger/test_debugger_pii.py
  tests/debugger/test_debugger_probe_snapshot.py
  tests/debugger/test_debugger_probe_status.py
  tests/debugger/utils.py
Labels: run-debugger-scenarios

#2606 [.NET] clean up build scripts
  .dockerignore
  .gitignore
  tests/parametric/conftest.py
  utils/build/docker/dotnet/.gitignore
  utils/build/docker/dotnet/install_ddtrace.sh
  utils/build/docker/dotnet/parametric/Dockerfile
  utils/build/docker/dotnet/parametric/ddtracer_version.Dockerfile
  utils/build/docker/dotnet/parametric/placeholder.nupkg
  utils/build/docker/dotnet/poc.Dockerfile
  utils/build/docker/dotnet/query-versions.fsx
  utils/build/docker/dotnet/uds.Dockerfile
  utils/build/docker/dotnet/weblog/app.csproj
  utils/build/docker/dotnet/weblog/app.sh
  utils/scripts/load-binary.sh
Labels: dev-x, dotnet, run-parametric-scenario

#2638 [.NET] fix compiler warnings in `weblog` app
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApiOtel.cs
  utils/build/docker/dotnet/weblog/Controllers/IastController.cs
  utils/build/docker/dotnet/weblog/Controllers/LoginController.cs
  utils/build/docker/dotnet/weblog/Controllers/TagValueController.cs
  utils/build/docker/dotnet/weblog/Endpoints/DsmEndpoint.cs
  utils/build/docker/dotnet/weblog/Endpoints/HeadersEndpoint.cs
  utils/build/docker/dotnet/weblog/IdentityStores/RoleStore.cs
  utils/build/docker/dotnet/weblog/IdentityStores/UserStoreMemory.cs
  utils/build/docker/dotnet/weblog/Models/ApiSecurity/RequestBodyModel.cs
Labels: dev-x, dotnet

#2665 [.NET] skip flaky test `test_otel_get_span_context` for now
  tests/parametric/test_otel_span_methods.py
Labels: dotnet

#2653 [java] Update java metadata and assertions for automated login events
  tests/appsec/test_automated_login_events.py
Labels: java

#2663 [Debugger] Expression Language - comparison operators
  tests/debugger/probes/expression_language_comparison_operators.json
  tests/debugger/test_debugger_expression_language.py
  tests/debugger/utils.py
  utils/build/docker/dotnet/weblog/Controllers/DebuggerController.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
Labels: run-debugger-scenarios

#2654 Use statements instead of prepared ones in RASP java weblogs
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/RaspRoutes.scala
  utils/build/docker/java/iast-common/src/main/resources/schema.sql
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/RaspResource.java
  utils/build/docker/java/play/app/controllers/RaspController.scala
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/RaspHandlers.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/RaspResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rasp/RaspController.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/rasp/RaspRouteProvider.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/rasp/RaspRouteProvider.java
Labels: java

#2630 Enable ASM Standalone billing tests for Java
  manifests/java.yml
  tests/appsec/test_asm_standalone.py
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/AppSecRoutes.scala
  utils/build/docker/java/iast-common/src/main/java/com/datadoghq/system_tests/iast/utils/Utils.java
  utils/build/docker/java/jersey-grizzly2/pom.xml
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/MyResource.java
  utils/build/docker/java/play/app/controllers/AppSecController.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/ratpack/pom.xml
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/Main.java
  utils/build/docker/java/resteasy-netty3/pom.xml
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/MyResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/vertx3/pom.xml
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx4/pom.xml
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
Labels: run-appsec-scenarios

#2657 [nodejs] Enable Standalone ASM tests for node
  manifests/nodejs.yml
  utils/build/docker/nodejs/express4-typescript/app.ts
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/nextjs/src/app/requestdownstream/route.js
Labels: run-appsec-scenarios

#2689 [nodejs] Fix XPASS in Test_MissingRules
  manifests/nodejs.yml
Labels: run-appsec-scenarios

#2696 [golang] Upgrade base image: 1.20 -> 1.21
  utils/build/docker/golang/chi.Dockerfile
  utils/build/docker/golang/echo.Dockerfile
  utils/build/docker/golang/gin.Dockerfile
  utils/build/docker/golang/gqlgen.Dockerfile
  utils/build/docker/golang/graph-gophers.Dockerfile
  utils/build/docker/golang/graphql-go.Dockerfile
  utils/build/docker/golang/net-http.Dockerfile
  utils/build/docker/golang/uds-echo.Dockerfile
Labels: go

#2660 [python] pin gunicorn in flask-base-docker
  utils/build/build_python_base_images.sh
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/flask/app.sh
  utils/build/docker/python/uds-flask.Dockerfile
Labels: build-python-base-images

#2676 [ASM] Fix Standalone Billing tests on propagated tags
  tests/appsec/test_asm_standalone.py
Labels: bug, run-appsec-scenarios

#2706 [dotnet] Fix binaries copy folder
  utils/build/docker/dotnet/poc.Dockerfile
  utils/build/docker/dotnet/uds.Dockerfile
Labels: dotnet

#2715 Remove IAST and ASM standalone billing java xpassed tests
  manifests/java.yml
  tests/appsec/iast/sink/test_weak_hash.py
  tests/appsec/test_asm_standalone.py
Labels: run-appsec-scenarios

#2724 [golang] Upgrade go version 1.20 -> 1.21
  utils/_context/_scenarios/parametric.py
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/go.work
Labels: go, run-parametric-scenario

#2705 [Debugger] Add expression language `instanceof` tests
  tests/debugger/probes/expression_language_instance_of.json
  tests/debugger/test_debugger_expression_language.py
  tests/debugger/utils.py
Labels: run-debugger-scenarios

#2731 [java] Enable more request blocking tests
  manifests/java.yml
  tests/appsec/test_blocking_addresses.py
Labels: run-appsec-scenarios

#2737 Fix SQL Server healthcheck in systems with IPv6
  utils/_context/containers.py
Labels: run-integration-scenarios

#2700 Missing appsec rules test: check request succeeds
  tests/appsec/test_customconf.py
Labels: run-appsec-scenarios

#2720 make disk cleanup optional when pulling images
  .github/actions/pull_images/action.yml
Labels: run-all-scenarios

#2758 [Debugger] Refactor + Add logical operators tests
  tests/debugger/probes/expression_language_comparison_operators.json
  tests/debugger/probes/expression_language_instance_of.json
  tests/debugger/probes/expression_probe_base.json
  tests/debugger/test_debugger_expression_language.py
  utils/build/docker/dotnet/weblog/Controllers/DebuggerController.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
Labels: run-debugger-scenarios

#2756 [Python] enable easy win tests for API features
  tests/test_telemetry.py
Labels: python, run-parametric-scenario

#2774 Add APPSEC_RASP to APPSEC_SCENARIOS
  scenario_groups.yml
Labels: run-appsec-scenarios

#2757 Add better support for the new RC API
  docs/edit/remote-config.md
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/api_security/utils.py
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_request_blocking.py
  tests/appsec/test_runtime_activation.py
  tests/appsec/utils.py
  utils/_remote_config.py
Labels: enhancement

#2766 [nodejs] try fix iast kafka flaky tests
  utils/build/docker/nodejs/express4-typescript/iast.ts
  utils/build/docker/nodejs/express4/iast/sources.js
Labels: run-integration-scenarios

#2713 [php] Remove flaky flag from schema extraction tests on php
  tests/appsec/api_security/test_schemas.py
Labels: run-appsec-scenarios

#2675 [.NET][ASM] Enable tests for ASM Standalone Billing for dotnet
  manifests/dotnet.yml
  utils/build/docker/dotnet/weblog/Endpoints/RequestDownStreamEndpoint.cs
  utils/build/docker/dotnet/weblog/Endpoints/ReturnHeadersEndpoint.cs
Labels: dotnet, run-appsec-scenarios

#2765 [Debugger] Add string operations tests
  tests/debugger/test_debugger_expression_language.py
  utils/build/docker/dotnet/weblog/Controllers/DebuggerController.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
Labels: run-debugger-scenarios

#2796 [Debugger] Remove expression language isEmpty test for null
  tests/debugger/test_debugger_expression_language.py
Labels: run-debugger-scenarios

#2808 [nodejs] Enable test_remote_config_rule_changes for >=4.1.0 versions
  manifests/nodejs.yml
Labels: run-appsec-scenarios

#2810 [java] Update manifest for java login events V2
  manifests/java.yml
Labels: run-appsec-scenarios

#2798 [Debugger] Expression language collection operations
  tests/debugger/test_debugger_expression_language.py
  utils/build/docker/dotnet/weblog/Controllers/DebuggerController.cs
  utils/build/docker/dotnet/weblog/Models/Debugger/CollectionFactory.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/CollectionFactory.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
Labels: run-debugger-scenarios

#2782 [java] Add Untrusted Deserialization tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/sink/test_untrusted_deserialization.py
  utils/_features.py
  utils/build/docker/java/iast-common/src/main/java/com/datadoghq/system_tests/iast/utils/DeserializationExamples.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/AppSecIast.java
Labels: mergequeue-status: in_progress

#2815 Update the expected telemetry tags for OTel env-var mapping
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario

#2817 [Debugger] Expression language add `check for null` tests
  tests/debugger/test_debugger_expression_language.py
  utils/build/docker/dotnet/weblog/Controllers/DebuggerController.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
Labels: run-debugger-scenarios

#2830 [ASM][RASP] Shell Injection Tests
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/rasp/rasp_ruleset.json
  tests/appsec/rasp/test_shi.py
  utils/_features.py
Labels: run-appsec-scenarios

#2621 Enable rasp blocking tests
  manifests/nodejs.yml
  tests/appsec/rasp/test_ssrf.py
  tests/appsec/rasp/test_stack_traces.py
  utils/build/docker/nodejs/express4-typescript/rasp.ts
  utils/build/docker/nodejs/express4/rasp.js
Labels: run-appsec-scenarios
