Repository DataDog/system-tests, pull requests merged in 2024-05, with the labels that each got.

#2412 [ASM] Collect headers on user SDK events
  tests/appsec/test_automated_login_events.py
  tests/appsec/test_event_tracking.py
Labels: run-appsec-scenarios

#2414 add kafka dsm golang test
  docs/weblog/README.md
  manifests/dotnet.yml
  manifests/golang.yml
  requirements.txt
  tests/integrations/crossed_integrations/test_kafka.py
  tests/integrations/crossed_integrations/test_sqs.py
  tests/integrations/test_dsm.py
  tests/test_data_integrity.py
  utils/build/docker/golang/app/net-http/main.go
  utils/build/docker/golang/go.work.sum
  utils/build/docker/golang/net-http.Dockerfile
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/Carrier.java
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/python/flask/app.py
Labels: go, run-integration-scenarios

#2393 Fix warnings in lib-injection
  .github/workflows/run-lib-injection.yml
  docs/scenarios/k8s_lib_injection.md
  lib-injection/runner/action.yml
Labels: build-python-base-images, run-libinjection-scenarios, run-integration-scenarios, build-buddies-images, build-lib-injection-app-images

#2415 Unskip tests for Ruby 2.0 sampling
  manifests/ruby.yml
Labels: run-parametric-scenario

#2413 [ASM] Add RASP category of tests, including LFI, SQLi and SSRF
  .github/workflows/run-end-to-end.yml
  .gitignore
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/rasp/rasp_ruleset.json
  tests/appsec/rasp/test_lfi.py
  tests/appsec/rasp/test_sqli.py
  tests/appsec/rasp/test_ssrf.py
  utils/_context/_scenarios.py
  utils/_features.py
  utils/build/docker/php/apache-mod/build.sh
  utils/build/docker/php/apache-mod/php.conf
  utils/build/docker/php/common/rasp/lfi.php
  utils/build/docker/php/common/rasp/sqli.php
  utils/build/docker/php/common/rasp/ssrf.php
  utils/build/docker/php/php-fpm/build.sh
  utils/build/docker/php/php-fpm/php-fpm.conf
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
  utils/build/docker/set-system-tests-weblog-env.Dockerfile
  utils/interfaces/_library/core.py
Labels: python, run-appsec-scenarios

#2382 dbm propagation comment tests
  manifests/dotnet.yml
  manifests/nodejs.yml
  manifests/python.yml
  requirements.txt
  tests/integrations/test_dbm.py
  utils/_context/containers.py
  utils/_features.py
  utils/build/build_python_base_images.sh
  utils/build/docker/dotnet/Constants.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/mysql/MysqlConnection.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/integerations/db/postgres/PostgresConnection.java
  utils/build/docker/nodejs/express4-typescript.Dockerfile
  utils/build/docker/nodejs/express4.Dockerfile
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/integrations/db/mysql.js
  utils/build/docker/nodejs/express4/integrations/db/postgres.js
  utils/build/docker/nodejs/express4/integrations/db/utils.js
  utils/build/docker/nodejs/express4/package-lock.json
  utils/build/docker/nodejs/express4/package.json
  utils/build/docker/nodejs/uds-express4.Dockerfile
  utils/build/docker/nodejs_otel/express4-otel.Dockerfile
  utils/build/docker/php/common/dbm.php
  utils/build/docker/postgres-init-db.sh
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/db/mysqldb.py
  utils/build/docker/python/flask/integrations/db/postgres.py
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
  utils/build/docker/python/uwsgi-poc.base.Dockerfile
  utils/build/docker/python_otel/flask-poc-otel.Dockerfile
Labels: python, build-python-base-images, run-integration-scenarios

#2367 parametric: Ensure spans are captured in a consistent order
  manifests/dotnet.yml
  tests/parametric/conftest.py
Labels: run-parametric-scenario

#2424 Fix typo in error message
  tests/integrations/test_dbm.py
Labels: run-appsec-scenarios, run-integration-scenarios

#2372 [nodejs] Enable DD_APPSEC_SCA_ENABLED env var test for nodejs
  manifests/nodejs.yml
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario

#2399 k8s Lib Injection: smoke tests
  .github/workflows/run-lib-injection.yml
  lib-injection/build/build_lib_injection_image_validator.sh
  lib-injection/build/docker/dotnet/dd-lib-dotnet-init-test-app/Dockerfile.lib_init_validator
  lib-injection/build/docker/java/dd-lib-java-init-test-app/Dockerfile.lib_init_validator
  lib-injection/build/docker/nodejs/sample-app/Dockerfile.lib_init_validator
  lib-injection/build/docker/python/dd-lib-python-init-test-django-gunicorn/Dockerfile.lib_init_validator
  lib-injection/build/docker/python/dd-lib-python-init-test-django-uvicorn/Dockerfile.lib_init_validator
  lib-injection/build/docker/python/dd-lib-python-init-test-django/Dockerfile.lib_init_validator
  lib-injection/build/docker/ruby/dd-lib-ruby-init-test-rails-explicit/Dockerfile.lib_init_validator
  lib-injection/build/docker/ruby/dd-lib-ruby-init-test-rails-explicit/pre_build_lib_init_validator.sh
  lib-injection/build/docker/ruby/dd-lib-ruby-init-test-rails-gemsrb/Dockerfile.lib_init_validator
  lib-injection/build/docker/ruby/dd-lib-ruby-init-test-rails-gemsrb/pre_build_lib_init_validator.sh
  lib-injection/build/docker/ruby/dd-lib-ruby-init-test-rails/Dockerfile.lib_init_validator
  lib-injection/build/docker/ruby/dd-lib-ruby-init-test-rails/pre_build_lib_init_validator.sh
  tests/k8s_lib_injection/test_k8s_init_image_validator.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
Labels: run-libinjection-scenarios

#2426 [python] more easywins for python appsec
  manifests/python.yml
  tests/appsec/test_event_tracking.py
  tests/appsec/test_ip_blocking_full_denylist.py
  tests/appsec/test_user_blocking_full_denylist.py
Labels: python, run-appsec-scenarios

#2431 [python] decrease the waiting time for python libraries from 25s to 5s
  utils/_context/_scenarios.py
Labels: python, run-all-scenarios

#2390 [python] Allow 127.0.0.1 as host for Django
  utils/build/docker/python/django-poc.base.Dockerfile
  utils/build/docker/python/python3.12.base.Dockerfile
Labels: python, run-all-scenarios, build-python-base-images

#2436 [python] Test_UserLoginSuccessEvent fails on 3.12
  manifests/python.yml
Labels: python

#2434 [python] enable iast source parameter value
  manifests/python.yml
  utils/build/docker/python/flask/app.py
Labels: python

#2433 [python] fix cookies report
  utils/build/docker/python/django/django.app.urls.py
  utils/build/docker/python/flask/app.py
Labels: python, run-appsec-scenarios

#2435 Avoid false xpass in Test_Dbm
  tests/integrations/test_dbm.py
Labels: run-appsec-scenarios, run-integration-scenarios

#2441 Avoid false xpass in Test_AppSecEventSpanTags and use informative asserts
  tests/appsec/test_traces.py
Labels: run-appsec-scenarios

#2437 [python] header injection vulnerability
  manifests/python.yml
  utils/build/docker/python/django/django.app.urls.py
Labels: python

#2429 appsec 53058, fixing appsec waf timeout possible lag
  tests/appsec/test_conf.py
Labels: run-appsec-scenarios

#2444 [python] enable python 3.12 IAST tests
  manifests/python.yml
  utils/_context/containers.py
  utils/build/docker/python/django/app.sh
Labels: python

#2448 [python] disable path traversal
  manifests/python.yml
Labels: python

#2451 [ASM][RASP] Test stack traces and span tags
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/rasp/test_span_tags.py
  tests/appsec/rasp/test_stack_traces.py
  utils/_features.py
Labels: run-appsec-scenarios

#2417 Support message-batch message for telemetry parametric tests
  manifests/dotnet.yml
  tests/parametric/conftest.py
  tests/parametric/test_telemetry.py
  utils/build/docker/dotnet/parametric/ApmTestApi.sln
Labels: run-parametric-scenario

#2454 [python] ensure rust compiler is available for package install
  utils/build/docker/python/install_ddtrace.sh
Labels: run-all-scenarios, build-python-base-images

#2457 [nodejs] Move express4 DSM endpoints to a different file
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/nodejs/express4/dsm.js
Labels: run-all-scenarios

#2459 [python] ensure rustup is on the PATH
  utils/build/docker/python/install_ddtrace.sh
Labels: build-python-base-images

#2460 [nodejs] Refactor NextJS getBody to properly consume request body
  utils/build/docker/nodejs/nextjs/src/app/tag_value/[tag]/[status]/route.js
Labels: run-all-scenarios

#2465 [python] enabling builtins.open sink point
  manifests/python.yml
Labels: python

#2462 fix nodejs otel integration test error
  utils/_context/_scenarios.py
  utils/build/docker/nodejs/express4/integrations/db/postgres.js
Labels: javascript, run-open-telemetry-scenarios

#2466 [python] ensure curl is available for parametric container
  utils/build/docker/python/parametric/ddtracer_version.Dockerfile
Labels: build-python-base-images, run-parametric-scenario

#2470 chore(security): Bump AmazonLinux2023 AMIs
  utils/_context/virtual_machines.py
Labels: dependencies

#2461 enable spantag rasp tests for python tracer
  manifests/python.yml
  tests/appsec/rasp/test_span_tags.py
Labels: run-appsec-scenarios

#2464 Lib Injection: Auto validate weblogs
  .github/workflows/run-lib-injection.yml
  docs/scenarios/k8s_lib_injection.md
  lib-injection/build/build_lib_injection_weblog.sh
  lib-injection/build/docker/dotnet/dd-lib-dotnet-init-test-app/Dockerfile
  lib-injection/build/docker/dotnet/dd-lib-dotnet-init-test-app/Dockerfile.lib_init_validator
  lib-injection/build/docker/java/dd-lib-java-init-test-app/Dockerfile
  lib-injection/build/docker/java/dd-lib-java-init-test-app/Dockerfile.lib_init_validator
  lib-injection/build/docker/java/jdk7-app/Dockerfile
  lib-injection/build/docker/java/jdk7-app/sunhttpd.java
  lib-injection/build/docker/nodejs/sample-app-node13/Dockerfile
  lib-injection/build/docker/nodejs/sample-app-node13/index.js
  lib-injection/build/docker/nodejs/sample-app/Dockerfile.lib_init_validator
  lib-injection/build/docker/python/dd-lib-python-init-test-django-gunicorn/Dockerfile.lib_init_validator
  lib-injection/build/docker/python/dd-lib-python-init-test-django-uvicorn/Dockerfile.lib_init_validator
  lib-injection/build/docker/python/dd-lib-python-init-test-django/Dockerfile.lib_init_validator
  tests/k8s_lib_injection/test_k8s_init_image_validator.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/build/virtual_machine/weblogs/java/provision_test-app-java-alpine-jdk15.yml
  utils/build/virtual_machine/weblogs/java/provision_test-app-java-alpine-jdk21.yml
  utils/build/virtual_machine/weblogs/java/provision_test-app-java-alpine.yml
  utils/build/virtual_machine/weblogs/java/provision_test-app-java-container-jdk15.yml
  utils/build/virtual_machine/weblogs/java/provision_test-app-java-container.yml
  utils/build/virtual_machine/weblogs/java/test-app-java-alpine/test-app-java_docker_compose_run.sh
  utils/build/virtual_machine/weblogs/java/test-app-java-buildpack/test-app-java_docker_compose_run_buildpack.sh
  utils/build/virtual_machine/weblogs/java/test-app-java-container/Dockerfile.jdk11
  utils/build/virtual_machine/weblogs/java/test-app-java-container/test-app-java_docker_compose_run.sh
  utils/k8s_lib_injection/k8s_weblog.py
Labels: run-libinjection-scenarios

#2471 [python] easy wins for python (iast)
  manifests/python.yml
  tests/appsec/iast/sink/test_command_injection.py
Labels: run-appsec-scenarios

#2419 [Debugger] Enable PII redaction tests dotnet/java
  docs/weblog/README.md
  manifests/dotnet.yml
  manifests/java.yml
  tests/debugger/__init__.py
  tests/debugger/test_debugger.py
  tests/debugger/test_debugger_pii.py
  tests/debugger/utils.py
  utils/build/docker/dotnet/Controllers/DebuggerController.cs
  utils/build/docker/dotnet/Models/Debugger/Pii.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/Pii.java
  utils/proxy/rc_mocked_responses_debugger_pii_redaction.json
Labels: run-debugger-scenarios

#2428 upgrade(installer): Upgrade installer tests
  .gitlab-ci.yml
  utils/_context/virtual_machines.py
  utils/build/virtual_machine/provisions/auto-inject/auto-inject-installer-tested_components.yml
  utils/build/virtual_machine/provisions/installer-auto-inject/auto-inject_installer_script.yml
  utils/build/virtual_machine/provisions/installer-auto-inject/provision.yml
  utils/build/virtual_machine/weblogs/dotnet/test-app-dotnet-container/test-app-dotnet_docker_compose_run.sh
  utils/build/virtual_machine/weblogs/python/test-app-python-alpine/test-app-python_docker_compose_run.sh
  utils/build/virtual_machine/weblogs/python/test-app-python-container/test-app-python_docker_compose_run.sh
  utils/virtual_machine/aws_provider.py
Labels: run-libinjection-scenarios

#2475 [DEBUGGER] Test custom PII redacted type and identifiers
  tests/debugger/test_debugger_pii.py
  utils/_context/_scenarios.py
  utils/build/docker/dotnet/Controllers/DebuggerController.cs
  utils/build/docker/dotnet/Models/Debugger/Pii.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/CustomPii.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/DebuggerController.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/Pii.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/debugger/PiiBase.java
Labels: run-debugger-scenarios

#2468 build(cpp): Update build args for dd-trace-cpp
  .github/workflows/run-parametric.yml
  manifests/cpp.yml
  tests/parametric/conftest.py
  utils/build/docker/cpp/parametric/install_ddtrace.sh
Labels: run-parametric-scenario

#2479 PROF-9791: Allow None as default for profiling_enabled
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario

#2473 [Java] DSM: Fix kafka test flakiness
  tests/integrations/test_dsm.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/KinesisConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/SnsConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/SqsConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/kafka/KafkaConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rabbitmq/RabbitmqConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rabbitmq/RabbitmqConnectorForDirectExchange.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rabbitmq/RabbitmqConnectorForFanoutExchange.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rabbitmq/RabbitmqConnectorForTopicExchange.java
Labels: run-integration-scenarios

#2492 fix(installer): Fix ordering
  utils/build/virtual_machine/provisions/installer-auto-inject/provision.yml
Labels: mergequeue-status: error

#2493 [Debugger] Weblog requests refactoring
  tests/debugger/test_debugger.py
  tests/debugger/test_debugger_pii.py
  tests/debugger/utils.py
Labels: run-debugger-scenarios

#2497 Remove unecessary command call to agent container
  .gitignore
  pyproject.toml
  tests/test_the_test/test_version.py
  utils/_context/_scenarios.py
  utils/_context/containers.py
  utils/_context/library_version.py
Labels: run-all-scenarios

#2489 enable otel span link system tests for golang
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/golang/parametric/otel.go
Labels: go, run-parametric-scenario

#2416 Manifest references + Node semver migration
  docs/edit/manifest.md
  manifests/nodejs.yml
  manifests/parser/core.py
  manifests/parser/schema.json
Labels: dev-x

#2496 [python] test_automated_login_events for Flask
  manifests/python.yml
  tests/appsec/test_automated_login_events.py
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/uwsgi-poc.base.Dockerfile
Labels: run-all-scenarios, build-python-base-images

#2495 [nodejs] Enable Custom Blocking Response tests
  manifests/nodejs.yml
Labels: run-appsec-scenarios

#2505 upgrade(tests): Add installer-based regular injection tests
  .gitlab-ci.yml
  utils/build/virtual_machine/weblogs/nodejs/provision_test-app-nodejs-container.yml
  utils/build/virtual_machine/weblogs/nodejs/test-app-nodejs-container/Dockerfile.template
  utils/build/virtual_machine/weblogs/nodejs/test-app-nodejs-container/test-app-nodejs_docker_compose_run.sh
  utils/build/virtual_machine/weblogs/python/provision_test-app-python-container.yml
  utils/build/virtual_machine/weblogs/python/test-app-python-container/Dockerfile.template
  utils/build/virtual_machine/weblogs/python/test-app-python-container/test-app-python_docker_compose_run.sh
  utils/build/virtual_machine/weblogs/ruby/provision_test-app-ruby-container.yml
  utils/build/virtual_machine/weblogs/ruby/test-app-ruby-container/Dockerfile.template
  utils/build/virtual_machine/weblogs/ruby/test-app-ruby-container/test-app-ruby_docker_compose_run.sh
Labels: build-lib-injection-app-images

#2516 [python] enable more easy wins
  manifests/python.yml
  tests/appsec/test_event_tracking.py
Labels: python

#2483 [parametric] Add initial span events system-tests
  tests/parametric/test_otel_span_methods.py
  utils/build/docker/dotnet/parametric/Dockerfile
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApiOtel.cs
  utils/build/docker/python/parametric/apm_test_client/server.py
  utils/parametric/_library_client.py
  utils/parametric/generate_protos.ps1
  utils/parametric/generate_protos.sh
  utils/parametric/protos/apm_test_client.proto
  utils/parametric/protos/apm_test_client_pb2.py
  utils/parametric/protos/apm_test_client_pb2_grpc.py
Labels: run-parametric-scenario
