Repository DataDog/system-tests, pull requests merged in 2024-04, with the labels that each got.

#2282 [Node.js] Enable test_client_ip_with_appsec_event_and_vendor_headers
  tests/test_standard_tags.py
Labels: run-appsec-scenarios

#2142 Add support for Kafka to IAST Java scenarios
  manifests/java.yml
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/AppSecIastSource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/kafka/KafkaConnector.java
  utils/build/docker/set-system-tests-weblog-env.Dockerfile
Labels: mergequeue-status: error, run-integration-scenarios

#2286 K8s Lib Injection: Artifact Name
  .github/workflows/run-lib-injection.yml
Labels: run-libinjection-scenarios

#2293 K8s lib injection: new python variants
  .github/workflows/run-lib-injection.yml
Labels: run-libinjection-scenarios, build-lib-injection-app-images

#2269 tests: Assert null attribute isn't set in meta
  tests/parametric/test_otel_api_interoperability.py
Labels: run-parametric-scenario

#2298 PHP: Ignore test Test_Schema_Response_Body
  manifests/php.yml
Labels: run-appsec-scenarios

#2300 Fix: Debug scenarios in replay mode
  tests/debugger/test_debugger_base.py
Labels: run-debugger-scenarios

#2290 [Debugger] Use debugger path for dotnet instead of logs
  tests/debugger/test_debugger_base.py
Labels: run-debugger-scenarios

#2289 Optional dependencies in python
  utils/_context/_scenarios.py
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/db/mssql.py
Labels: run-all-scenarios

#2280 [Node.js] re-enable sampling priority tests
  tests/appsec/test_rate_limiter.py
  tests/test_sampling_rates.py
Labels: run-sampling-scenario, run-appsec-scenarios

#2305 K8s Lib Injeciton: Debug failures
  utils/k8s_lib_injection/k8s_datadog_cluster_agent.py
Labels: run-libinjection-scenarios

#2271 Remove timeout for Ruby
  utils/_context/_scenarios.py
Labels: run-all-scenarios

#2301 Always run replay mode
  .github/workflows/run-end-to-end.yml
  utils/scripts/replay_scenarios.sh
Labels: run-all-scenarios

#2304 solve concurency error that could happen in dotnet rabbit consumer
  utils/build/docker/dotnet/Dependencies/RabbitMQHelper.cs
  utils/build/docker/dotnet/Endpoints/MessagingEndpoints.cs
Labels: run-integration-scenarios

#2306 [Java] Use 400 error rather than 500 for malformed requests
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/RejectedRequestConfig.java
Labels: java, run-appsec-scenarios

#2302 skip dotnet failures
  .vscode/launch.json
  tests/appsec/test_blocking_addresses.py
  tests/test_sampling_rates.py
  utils/_context/_scenarios.py
Labels: run-sampling-scenario, run-integration-scenarios

#2307 fix appsec blocking
  tests/appsec/test_blocking_addresses.py
Labels: run-appsec-scenarios

#2311 K8s Helm debug and CI largue runners
  .github/workflows/run-lib-injection.yml
  utils/k8s_lib_injection/k8s_command_utils.py
Labels: run-libinjection-scenarios

#2283 make dsm tests consistent
  tests/integrations/crossed_integrations/test_rabbitmq.py
  tests/integrations/test_dsm.py
  utils/build/docker/dotnet/Endpoints/DsmEndpoint.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/rabbitmq/RabbitmqConnectorForDirectExchange.java
  utils/build/docker/nodejs/express4/app.js
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/messaging/rabbitmq.py
Labels: run-integration-scenarios, build-buddies-images

#2299 [dotnet] fix build warnings
  utils/build/docker/dotnet/Controllers/DebuggerController.cs
  utils/build/docker/dotnet/Controllers/IastController.cs
  utils/build/docker/dotnet/Controllers/TagValueController.cs
  utils/build/docker/dotnet/Dependencies/KafkaHelper.cs
  utils/build/docker/dotnet/EndpointRegistry.cs
  utils/build/docker/dotnet/Endpoints/MakeDistantCallEndpoint.cs
  utils/build/docker/dotnet/Endpoints/ReadFileEndpoint.cs
  utils/build/docker/dotnet/Endpoints/SpansEndpoint.cs
  utils/build/docker/dotnet/Endpoints/StatusEndpoint.cs
  utils/build/docker/dotnet/Helper.cs
  utils/build/docker/dotnet/IdentityStores/UserStoreMemory.cs
  utils/build/docker/dotnet/ModelBinderSwitchProvider.cs
  utils/build/docker/dotnet/Models/ApiSecurity/RequestBodyModel.cs
  utils/build/docker/dotnet/Models/ApiSecurity/ResponseBodyModel.cs
  utils/build/docker/dotnet/Models/LoginModel.cs
  utils/build/docker/dotnet/app.csproj
Labels: dotnet, run-all-scenarios

#2291 weblog: Use nginx-datadog instead of dd-opentracing-cpp
  manifests/cpp.yml
  tests/test_data_integrity.py
  tests/test_semantic_conventions.py
  tests/test_telemetry.py
  utils/_context/_scenarios.py
  utils/build/docker/cpp/nginx.Dockerfile
  utils/build/docker/cpp/nginx/hello.html
  utils/build/docker/cpp/nginx/install_ddtrace.sh
  utils/build/docker/cpp/nginx/nginx.conf
Labels: run-all-scenarios

#2240 chore: update python to run lazy sampling tests
  manifests/python.yml
  utils/build/docker/python/parametric/apm_test_client/server.py
Labels: run-parametric-scenario

#2312 Adding a new test case of remote sampling rules.
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_dynamic_configuration.py
  utils/parametric/spec/remoteconfig.py
Labels: run-parametric-scenario

#2318 Skip python on failing tests on paramatric scenario
  tests/parametric/test_headers_b3.py
  tests/parametric/test_headers_b3multi.py
  tests/parametric/test_headers_datadog.py
  tests/parametric/test_headers_none.py
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#2317 [Debugger] Temporary disable debugger tests
  manifests/dotnet.yml
Labels: dotnet, run-debugger-scenarios

#2322 Revert #2318
  tests/parametric/test_headers_b3.py
  tests/parametric/test_headers_b3multi.py
  tests/parametric/test_headers_datadog.py
  tests/parametric/test_headers_none.py
  tests/parametric/test_headers_precedence.py
Labels: run-parametric-scenario

#2284 Enable several C++ tests
  .github/workflows/run-parametric.yml
  manifests/cpp.yml
  tests/parametric/conftest.py
  tests/parametric/test_128_bit_traceids.py
  tests/parametric/test_dynamic_configuration.py
  tests/parametric/test_sampling_span_tags.py
  tests/parametric/test_telemetry.py
  tests/parametric/test_trace_sampling.py
Labels: run-parametric-scenario

#2324 add default headers collections for ASM in python
  manifests/python.yml
Labels: run-appsec-scenarios

#2319 [.NET] Enable remote config test for `DD_TRACE_ENABLED`
  manifests/dotnet.yml
Labels: dotnet, run-parametric-scenario

#2320 [.NET] enable trace sampling tests
  manifests/dotnet.yml
Labels: dotnet, run-sampling-scenario

#2330 [nodejs][IAST] Fix flaky nodejs kafka tests
  utils/build/docker/nodejs/express4-typescript/iast.ts
  utils/build/docker/nodejs/express4/iast/sources.js
Labels: run-integration-scenarios

#2331 DotNet: Parametric sampling - revert
  manifests/dotnet.yml
Labels: run-parametric-scenario

#2314 Improve iast telemetry test easy wins
  manifests/java.yml
  tests/appsec/iast/_test_iast_fixtures.py
  tests/appsec/iast/source/test_body.py
  tests/appsec/iast/source/test_cookie_value.py
  tests/appsec/iast/source/test_header_value.py
  tests/appsec/iast/source/test_parameter_value.py
Labels: run-appsec-scenarios

#2332 chore(python): add one more test
  manifests/python.yml
Labels: run-all-scenarios

#2329 Parametric: mark as bug python sampling (Tags Feb2024 Revision)
  manifests/python.yml
Labels: run-parametric-scenario

#2326 Enable more telemetry tests in Java and split metrics test cases
  manifests/java.yml
  tests/test_telemetry.py
Labels: run-all-scenarios

#2337 move parametric to manifest for python
  manifests/python.yml
Labels: run-parametric-scenario

#2343 chore(python): activate more tests
  manifests/python.yml
  tests/parametric/test_dynamic_configuration.py
  tests/parametric/test_otel_tracer.py
  tests/parametric/test_tracer.py
Labels: run-all-scenarios

#2339 Enable some xpass tests for dotnet
  manifests/dotnet.yml
  tests/parametric/test_otel_span_with_w3c.py
Labels: run-parametric-scenario

#2347 update test file for blocking addresses
  tests/appsec/test_blocking_addresses.py
Labels: run-all-scenarios

#2349 remove flaky decorator for python
  tests/appsec/waf/test_telemetry.py
Labels: run-all-scenarios

#2348 less strict test for Test_Headers
  tests/appsec/waf/test_addresses.py
Labels: run-all-scenarios

#2325 DD_APPSEC_SCA_ENABLED env var test
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario

#2353 update manifest and parametric test to manage easy wins for python
  manifests/python.yml
  tests/parametric/test_headers_b3.py
  tests/parametric/test_partial_flushing.py
Labels: run-parametric-scenario

#2354 Improve output for appsec_api_security
  tests/appsec/api_security/test_schemas.py
Labels: run-appsec-scenarios

#2321 Build docker images if there is a label
  .github/workflows/run-lib-injection.yml
  .gitlab-ci.yml
  lib-injection/build/build_lib_injection_images.sh
  lib-injection/build/docker/java/dd-lib-java-init-test-app/Dockerfile
  lib-injection/build/docker/nodejs/sample-app/build.sh
  utils/build/build_python_base_images.sh
  utils/k8s_lib_injection/k8s_weblog.py
  utils/scripts/get_pr_merged_labels.sh
Labels: run-libinjection-scenarios, build-lib-injection-app-images

#2350 add test to make sure headers are stripped from blocking response
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/waf/test_blocking.py
Labels: run-appsec-scenarios

#2356 Compute dynamically the matrix
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/compute-impacted-libraries.yml
  .github/workflows/run-end-to-end.yml
  .github/workflows/run-graphql.yml
  .github/workflows/run-lib-injection.yml
  .github/workflows/run-open-telemetry.yml
  .github/workflows/run-parametric.yml
  .github/workflows/system-tests.yml
Labels: run-parametric-scenario, run-graphql-scenarios

#2364 [Go] Enabled sampling tests for Go
  manifests/golang.yml
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
Labels: run-parametric-scenario

#2365 [php] Adapt php tag value
  tests/appsec/api_security/test_schemas.py
  utils/build/docker/php/common/tag_value.php
Labels: run-all-scenarios

#2359 [Ruby] Activate SCAEnvVar and ExternalWAFRequestId test
  manifests/ruby.yml
Labels: run-all-scenarios, run-parametric-scenario

#2222 Rename gem name from `ddtrace` to `datadog`
  .github/workflows/run-docker-mode.yml
  .github/workflows/run-end-to-end.yml
  tests/test_the_test/test_version.py
  utils/_context/library_version.py
  utils/build/docker/ruby/install_ddtrace.sh
  utils/build/docker/ruby/parametric/Gemfile
  utils/build/docker/ruby/parametric/README.md
  utils/build/docker/ruby/parametric/server.rb
  utils/build/docker/ruby/rack/config.ru
  utils/build/docker/ruby/sinatra14/app.rb
  utils/build/docker/ruby/sinatra20/app.rb
  utils/build/docker/ruby/sinatra21/app.rb
  utils/build/docker/ruby/sinatra22/app.rb
  utils/build/docker/ruby/sinatra30/app.rb
  utils/build/docker/ruby/sinatra31/app.rb
  utils/build/docker/ruby/sinatra32/app.rb
  utils/build/docker/ruby/sinatra40/app.rb
  utils/scripts/load-binary.sh
Labels: ruby, run-all-scenarios

#2373 Fix ruby parametric with GRPC propagation
  .github/workflows/run-parametric.yml
  tests/parametric/test_headers_b3.py
  utils/build/docker/ruby/parametric/server.rb
Labels: ruby, run-parametric-scenario

#2375 [Telemetry] Fix telemetry logs schema
  utils/interfaces/schemas/miscs/telemetry/common/objects/logs.json
Labels: run-all-scenarios

#2370 [java] Enable DD_APPSEC_SCA_ENABLED env var test for java
  manifests/java.yml
Labels: run-parametric-scenario

#2371 Avoid Test_Metric_Generation_Disabled XPASS if telemetry is not implemented or broken
  tests/test_telemetry.py
Labels: run-all-scenarios

#2387 [nodejs] Enable incoming identify.py tests
  manifests/nodejs.yml
  tests/test_identify.py
Labels: run-appsec-scenarios

#2388 Fix warning on lib-injection CI
  .github/actions/lint_code/action.yaml
  .github/workflows/run-lib-injection.yml
Labels: run-libinjection-scenarios

#2383 Better schema test logic API
  .github/workflows/run-end-to-end.yml
  conftest.py
  tests/remote_config/test_remote_configuration.py
  tests/test_schemas.py
  utils/_context/_scenarios.py
  utils/interfaces/_agent.py
  utils/interfaces/_core.py
  utils/interfaces/_library/core.py
  utils/interfaces/_schemas_validators.py
  utils/interfaces/schemas/agent/api/v2/debugger-request.json
  utils/interfaces/schemas/library/debugger/v1/diagnostics-request.json
  utils/interfaces/schemas/library/debugger/v1/input-request.json
Labels: run-all-scenarios

#2045 Support semver version ranges for `released` decorator (and manifests)
  docs/edit/manifest.md
  manifests/parser/schema.json
  requirements.txt
  tests/test_the_test/test_decorators.py
  tests/test_the_test/test_manifest.py
  utils/_context/_scenarios.py
  utils/_decorators.py
Labels: enhancement, dev-x, run-all-scenarios

#2389 POC : debugger schemas
  utils/interfaces/_schemas_validators.py
  utils/interfaces/schemas/library/debugger/v1/diagnostics-request.json
  utils/interfaces/schemas/library/debugger/v1/input-request.json
  utils/proxy/_deserializer.py
Labels: run-debugger-scenarios

#2374 [go] easywins
  manifests/golang.yml
  tests/appsec/waf/test_rules.py
Labels: run-appsec-scenarios

#2360 feat(system-tests): Add simple injection tests for the installer
  .gitlab-ci.yml
  tests/auto_inject/test_auto_inject_install.py
  utils/_context/_scenarios.py
  utils/_features.py
  utils/build/virtual_machine/provisions/auto-inject/auto-inject-installer-tested_components.yml
  utils/build/virtual_machine/provisions/auto-inject/auto-inject-tested_components.yml
  utils/build/virtual_machine/provisions/installer-auto-inject/auto-inject_installer_script.yml
  utils/build/virtual_machine/provisions/installer-auto-inject/provision.yml
  utils/build/virtual_machine/weblogs/java/provision_test-app-java.yml
  utils/build/virtual_machine/weblogs/java/test-app-java-alpine/test-app-java_docker_compose_run.sh
  utils/build/virtual_machine/weblogs/java/test-app-java-buildpack/test-app-java_docker_compose_run_buildpack.sh
  utils/build/virtual_machine/weblogs/java/test-app-java-container/test-app-java_docker_compose_run.sh
  utils/virtual_machine/aws_provider.py
Labels: run-libinjection-scenarios

#2391 Fix blocking XPASS
  tests/appsec/test_blocking_addresses.py
Labels: run-appsec-scenarios

#2395 Removes test_client_state_errors
  tests/remote_config/test_remote_configuration.py
Labels: run-appsec-scenarios

#2397 Mark agent schema check irrelevant for crossed_tracing_libraries scen…
  tests/test_schemas.py
Labels: run-integration-scenarios

#2392 [python] activate test_library_schema_telemetry_job_object
  tests/test_schemas.py
Labels: run-appsec-scenarios

#2368 parametric(node): flush spans on tracer flush
  utils/build/docker/nodejs/parametric/server.js
Labels: run-parametric-scenario

#2402 Skip failing test on gunicorn 22.0
  .github/workflows/run-end-to-end.yml
  tests/appsec/waf/test_addresses.py
  utils/build/build_python_base_images.sh
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/python3.12.base.Dockerfile
  utils/build/docker/python/uds-flask.Dockerfile
Labels: build-python-base-images

#2401 [nodejs] special case to avoid false positive easy win
  utils/build/docker/nodejs/nextjs/src/app/tag_value/[tag]/[status]/route.js
Labels: run-appsec-scenarios

#2366 [python]: remove bug decorator for uwsgi
  manifests/python.yml
  tests/appsec/waf/test_rules.py
Labels: python, run-appsec-scenarios

#2403 [python] update python manifest
  manifests/python.yml
Labels: python, run-parametric-scenario, run-appsec-scenarios

#2405 [python] fix header test for python
  tests/appsec/waf/test_addresses.py
  utils/build/docker/python/django/app_3.12.sh
  utils/build/docker/python/flask/app.sh
  utils/build/docker/python/python3.12.Dockerfile
Labels: python, run-appsec-scenarios

#2394 Fixes decision maker tag values for remote user rules and dynamic rules
  manifests/golang.yml
  tests/parametric/test_dynamic_configuration.py
Labels: run-parametric-scenario

#2404 fix flaky sca env var test
  manifests/python.yml
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario
