Repository DataDog/system-tests, pull requests merged in 2025-05, with the labels that each got.

#4398 Updated v0.4 array serialization to match agent
  manifests/ruby.yml
  tests/parametric/test_span_events.py
  tests/test_graphql.py
Labels: run-parametric-scenario, run-graphql-scenarios

#4556 Enable stable config telemetry tests on PHP
  manifests/php.yml
  tests/parametric/test_telemetry.py
  utils/build/docker/php/parametric/server.php
Labels: mergequeue-status: rejected

#4607 feat: enable test_vulnerability_schema for Python
  manifests/python.yml
Labels: python

#4626 python(iast): env var for new sampling algorithm
  static-analysis.datadog.yml
  tests/appsec/iast/utils.py
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/django-py3.13.Dockerfile
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/fastapi.Dockerfile
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
  utils/scripts/compute_impacted_scenario.py
Labels: python

#4632 Revert "fix failing test for APPSEC-57552 (#4602)"
  tests/appsec/iast/sink/test_header_injection.py
Labels: python

#4642 easy wins for sampling
  manifests/java.yml
Labels: java, run-sampling-scenario

#4699 [Java] Update JDK versions
  docs/scenarios/docker_ssi.md
  utils/docker_ssi/docker_ssi_definitions.py
  utils/docker_ssi/docker_ssi_runtimes.json
Labels: mergequeue-status: rejected

#4694 [python] Unvalidated redirect
  manifests/python.yml
  tests/appsec/iast/sink/test_unvalidated_redirect.py
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: python

#4696 [python] new sampling algorithm
  manifests/python.yml
  tests/appsec/iast/test_sampling_by_route_method_count.py
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: python
