Repository DataDog/system-tests, pull requests merged in 2025-02, with the labels that each got.

#3945 [ASM][ATO][dotnet] activate user events v3
  manifests/dotnet.yml
  tests/appsec/test_automated_user_and_session_tracking.py
Labels: dotnet, run-appsec-scenarios

#3979 [python] update flask base image
  utils/build/build_python_base_images.sh
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/uds-flask.Dockerfile
Labels: build-python-base-images

#2512 [python] enable Python IAST+SSRF tests
  tests/appsec/iast/sink/test_ssrf.py
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: python

#3991 [python] IAST Header source in werkzeug 3.1
  manifests/python.yml
Labels: python

#3733 re-enable aws tests
  tests/integrations/crossed_integrations/test_kinesis.py
  tests/integrations/crossed_integrations/test_sns_to_sqs.py
  tests/integrations/crossed_integrations/test_sqs.py
  tests/integrations/test_dsm.py
  tests/integrations/utils.py
  utils/_context/_scenarios/endtoend.py
  utils/_context/_scenarios/integrations.py
  utils/_context/containers.py
  utils/build/docker/dotnet/weblog/Endpoints/DsmEndpoint.cs
  utils/build/docker/dotnet/weblog/Endpoints/MessagingEndpoints.cs
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/KinesisConnector.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/aws/SnsConnector.java
  utils/build/docker/nodejs/express/integrations/messaging/aws/kinesis.js
  utils/build/docker/nodejs/express/integrations/messaging/aws/shared.js
  utils/build/docker/nodejs/express/integrations/messaging/aws/sns.js
  utils/build/docker/nodejs/express/integrations/messaging/aws/sqs.js
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask/integrations/messaging/aws/kinesis.py
  utils/build/docker/python/flask/integrations/messaging/aws/sns.py
  utils/build/docker/python/flask/integrations/messaging/aws/sqs.py
Labels: build-buddies-images

#3812 Add test to check absence of client computed stats
  .github/workflows/run-end-to-end.yml
  manifests/php.yml
  tests/appsec/test_asm_standalone.py
  utils/_context/_scenarios/__init__.py
Labels: run-appsec-scenarios

#3997 [python] fix 500 errors in sql queries
  tests/appsec/iast/sink/test_sql_injection.py
  tests/appsec/iast/utils.py
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/flask/app.py
Labels: python

#4008 [python] use main again for dev branch
  utils/scripts/load-binary.sh
Labels: run-all-scenarios

#3989 Test multiple rasp during one request
  .github/workflows/run-end-to-end.yml
  docs/weblog/README.md
  manifests/dotnet.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  tests/appsec/rasp/rasp_non_blocking_ruleset.json
  tests/appsec/rasp/test_lfi.py
  utils/_context/_scenarios/__init__.py
  utils/build/docker/php/common/rasp/multiple.php
Labels: run-appsec-scenarios

#4025 [python] use last patch version of python for django weblogs
  utils/build/build_python_base_images.sh
  utils/build/docker/python/django-py3.13.Dockerfile
  utils/build/docker/python/django-py3.13.base.Dockerfile
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/python3.12.base.Dockerfile
Labels: build-python-base-images

#3956 Add before/after to login tests
  tests/appsec/test_automated_login_events.py
Labels: run-appsec-scenarios

#3968 python graphql error spans testing
  manifests/python.yml
  utils/build/build_python_base_images.sh
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/flask-poc.base.Dockerfile
  utils/build/docker/python/flask/app.py
  utils/build/docker/python/flask/integrations/graphql.py
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
  utils/build/docker/python/uwsgi-poc.base.Dockerfile
Labels: build-python-base-images

#3881 [python] remove old deduplication environment variable
  utils/build/docker/python/django-poc.Dockerfile
  utils/build/docker/python/django-py3.13.Dockerfile
  utils/build/docker/python/fastapi.Dockerfile
  utils/build/docker/python/flask-poc.Dockerfile
  utils/build/docker/python/python3.12.Dockerfile
  utils/build/docker/python/uds-flask.Dockerfile
  utils/build/docker/python/uwsgi-poc.Dockerfile
Labels: python

#4111 [JAVA] Disable ASM standalone billing tests
  tests/appsec/test_asm_standalone.py
Labels: run-appsec-scenarios

#3923 [python] xss vulnerability for Django and Jinja2
  manifests/python.yml
  tests/appsec/iast/sink/test_xss.py
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/django/django_app/settings.py
  utils/build/docker/python/django/django_app/templates/index.html
  utils/build/docker/python/fastapi.base.Dockerfile
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: python, build-python-base-images

#4107 [JAVA] enable AppSec Standalone V2 tests
  manifests/java.yml
Labels: run-appsec-scenarios

#4101 [python] add method and class_name for Python vulnerability locations
  tests/appsec/iast/utils.py
Labels: do-not-merge, python

#4118 [java] easy wins on test_cmdi
  manifests/java.yml
Labels: run-appsec-scenarios, mergequeue-status: waiting

#4108 Better docs for GraphQL test devs
  tests/test_graphql.py
Labels: documentation

#4083 [Parametric][Stable configuration] add telemetry origin tests
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/conftest.py
  tests/parametric/test_config_consistency.py
  tests/parametric/test_telemetry.py
Labels: run-parametric-scenario

#4159 [ASM][ATO][dotnet] Activate session blocking test
  manifests/dotnet.yml
  utils/build/docker/dotnet/weblog/Controllers/SessionController.cs
Labels: dotnet, run-appsec-scenarios

#4190 [ASM][ATO][dotnet] Activate fingerprint session test on dev
  manifests/dotnet.yml
Labels: dotnet

#4205 [JAVA]Enable XPASSED rasp BodyJson tests for vertx4.
  manifests/java.yml
Labels: run-appsec-scenarios

#4209 [java] API Security sampling endpoints
  docs/weblog/README.md
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/AppSecRoutes.scala
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/MyResource.java
  utils/build/docker/java/play/app/controllers/AppSecController.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/Main.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/MyResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
Labels: java

#4215 [java] Enable Xpassed tests in Test_Blocking_response_status
  tests/appsec/test_blocking_addresses.py
Labels: run-appsec-scenarios
