Repository DataDog/system-tests, pull requests merged in 2025-06, with the labels that each got.

#4715 [python] finer-grained header injection
  manifests/python.yml
  utils/build/docker/python/django/app/urls.py
Labels: python

#1759 general: update dd-trace-go to v2
  docs/execute/binaries.md
  manifests/golang.yml
  tests/appsec/test_event_tracking.py
  tests/appsec/test_event_tracking_v2.py
  tests/appsec/waf/test_reports.py
  tests/parametric/test_trace_sampling.py
  tests/test_config_consistency.py
  utils/build/docker/golang/app/_shared/common/common.go
  utils/build/docker/golang/app/_shared/common/http_client_default.go
  utils/build/docker/golang/app/_shared/common/http_client_orchestrion.go
  utils/build/docker/golang/app/_shared/common/standalone_asm.go
  utils/build/docker/golang/app/_shared/grpc/grpc.go
  utils/build/docker/golang/app/_shared/grpc/weblog_grpc.pb.go
  utils/build/docker/golang/app/_shared/rasp/rasp.go
  utils/build/docker/golang/app/chi/main.go
  utils/build/docker/golang/app/echo/main.go
  utils/build/docker/golang/app/gin/main.go
  utils/build/docker/golang/app/go.mod
  utils/build/docker/golang/app/go.sum
  utils/build/docker/golang/app/gqlgen/graph/generated.go
  utils/build/docker/golang/app/gqlgen/graph/schema.resolvers.go
  utils/build/docker/golang/app/gqlgen/server.go
  utils/build/docker/golang/app/graph-gophers/main.go
  utils/build/docker/golang/app/graphql-go/main.go
  utils/build/docker/golang/app/net-http-orchestrion/go.mod
  utils/build/docker/golang/app/net-http-orchestrion/go.sum
  utils/build/docker/golang/app/net-http-orchestrion/main.go
  utils/build/docker/golang/app/net-http-orchestrion/orchestrion.tool.go
  utils/build/docker/golang/app/net-http/main.go
  utils/build/docker/golang/chi.Dockerfile
  utils/build/docker/golang/echo.Dockerfile
  utils/build/docker/golang/gin.Dockerfile
  utils/build/docker/golang/go.work
  utils/build/docker/golang/go.work.sum
  utils/build/docker/golang/gqlgen.Dockerfile
  utils/build/docker/golang/graph-gophers.Dockerfile
  utils/build/docker/golang/graphql-go.Dockerfile
  utils/build/docker/golang/install_ddtrace.sh
  utils/build/docker/golang/install_orchestrion.sh
  utils/build/docker/golang/net-http-orchestrion.Dockerfile
  utils/build/docker/golang/net-http.Dockerfile
  utils/build/docker/golang/parametric/datadog.go
  utils/build/docker/golang/parametric/go.mod
  utils/build/docker/golang/parametric/go.sum
  utils/build/docker/golang/parametric/helpers.go
  utils/build/docker/golang/parametric/main.go
  utils/build/docker/golang/parametric/otel.go
  utils/build/docker/golang/uds-echo.Dockerfile
  utils/scripts/load-binary.sh
  utils/telemetry_utils.py
Labels: go

#4805 [ruby] Update puma gem to > 5.0 in all weblogs
  utils/build/docker/ruby/rails50/Gemfile
  utils/build/docker/ruby/rails50/Gemfile.lock
  utils/build/docker/ruby/rails51/Gemfile
  utils/build/docker/ruby/rails51/Gemfile.lock
  utils/build/docker/ruby/rails52/Gemfile
  utils/build/docker/ruby/rails52/Gemfile.lock
  utils/build/docker/ruby/rails60/Gemfile
  utils/build/docker/ruby/rails60/Gemfile.lock
Labels: mergequeue-status: in_progress

#4833 fixing weblog and enable UserEventsStandalone_SDK tests
  manifests/python.yml
  tests/appsec/test_asm_standalone.py
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: javascript, python
