Repository DataDog/system-tests, pull requests merged in 2025-03, with the labels that each got.

#4245 [java] Allow TRACE requests in Spring Boot
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/WebSecurityConfig.java
  utils/build/docker/java/spring-boot/src/main/webapp/WEB-INF/glassfish-web.xml
  utils/build/docker/java/spring-boot/src/main/webapp/WEB-INF/payara-web.xml
Labels: java

#4250 [Java] Graal native image update - debug flags
  utils/build/docker/java/spring-boot-3-native/pom.xml
Labels: build-java-base-images

#4262 [java] Enable Test_Automated_Session_Blocking in spring-boot-payara
  manifests/java.yml
Labels: run-appsec-scenarios

#4331 Ruby: turn off flakey sampling tests
  manifests/ruby.yml
Labels: run-sampling-scenario

#4328 Add library cpp_httpd
  .github/workflows/compute-impacted-libraries.yml
  manifests/cpp_httpd.yml
  manifests/parser/core.py
  tests/test_data_integrity.py
  tests/test_distributed.py
  tests/test_sampling_rates.py
  tests/test_semantic_conventions.py
  tests/test_smoke.py
  tests/test_telemetry.py
  utils/_context/_scenarios/default.py
  utils/_context/containers.py
  utils/_decorators.py
  utils/build/build.sh
  utils/build/docker/cpp_httpd/app/apache-config.conf
  utils/build/docker/cpp_httpd/httpd.Dockerfile
  utils/build/docker/cpp_httpd/install_ddtrace.sh
  utils/scripts/compute-workflow-parameters.py
  utils/scripts/get-image-list.py
  utils/scripts/load-binary.sh
Labels: run-sampling-scenario

#4267 Enables existing logs injection tests for the .NET weblog application
  manifests/dotnet.yml
  tests/test_config_consistency.py
  utils/build/docker/dotnet/weblog/Endpoints/LogEndpoint.cs
  utils/build/docker/dotnet/weblog/Startup.cs
  utils/build/docker/dotnet/weblog/app.csproj
  utils/interfaces/_logs.py
Labels: mergequeue-status: removed

#4423 [java] Add Java endpoints for ATO SDK v2 tests
  manifests/java.yml
  tests/appsec/test_event_tracking_v2.py
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/AppSecRoutes.scala
  utils/build/docker/java/install_ddtrace.sh
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/MyResource.java
  utils/build/docker/java/play/app/controllers/AppSecController.scala
  utils/build/docker/java/play/conf/routes
  utils/build/docker/java/play/pom.xml
  utils/build/docker/java/ratpack/src/main/java/com/datadoghq/ratpack/Main.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/MyResource.java
  utils/build/docker/java/spring-boot-3-native/src/main/java/com/datadoghq/springbootnative/WebController.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/App.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
Labels: run-appsec-scenarios

#4382 [asm] Split fingerprinting tests into pre/post scenarios and add fingerprint blocking tests
  .github/workflows/run-end-to-end.yml
  .gitignore
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/blocking_rule.json
  tests/appsec/test_fingerprinting.py
Labels: run-appsec-scenarios
