Repository DataDog/system-tests, pull requests merged in 2025-01, with the labels that each got.

#3779 [Python] add tests for Python FastAPI header injection
  manifests/python.yml
  utils/build/docker/python/fastapi/main.py
Labels: python

#3778 [parametric] add remote config tests with empty `DD_SERVICE` or `DD_ENV`
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/parametric/test_dynamic_configuration.py
Labels: run-parametric-scenario

#3750 [python] update test from bug to missing feature
  tests/appsec/iast/source/test_parameter_name.py
Labels: python

#3576 Add IAST Security Control tests for java springboot
  docs/weblog/README.md
  manifests/cpp.yml
  manifests/dotnet.yml
  manifests/golang.yml
  manifests/java.yml
  manifests/nodejs.yml
  manifests/php.yml
  manifests/python.yml
  manifests/ruby.yml
  tests/appsec/iast/test_security_controls.py
  utils/_context/_scenarios/default.py
  utils/_features.py
  utils/build/docker/java/akka-http/src/main/scala/com/datadoghq/akka_http/IastRoutes.scala
  utils/build/docker/java/iast-common/src/main/java/com/datadoghq/system_tests/iast/utils/SecurityControlUtil.java
  utils/build/docker/java/jersey-grizzly2/src/main/java/com/datadoghq/jersey/IastSinkResource.java
  utils/build/docker/java/resteasy-netty3/src/main/java/com/datadoghq/resteasy/IastSinkResource.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/AppSecIast.java
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/iast/routes/IastSinkRouteProvider.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/iast/routes/IastSinkRouteProvider.java
Labels: run-appsec-scenarios

#3798 [python] add new python weblog: django-py3.13
  .github/workflows/compute-workflow-parameters.yml
  .github/workflows/system-tests.yml
  manifests/python.yml
  utils/build/build_python_base_images.sh
  utils/build/docker/python/django-py3.13.Dockerfile
  utils/build/docker/python/django-py3.13.base.Dockerfile
  utils/scripts/compute-workflow-parameters.py
Labels: build-python-base-images

#3753 [python] code injection
  manifests/python.yml
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/fastapi/main.py
  utils/build/docker/python/flask/app.py
Labels: python, build-python-base-images

#3813 [python] deactivate v2 ATO tests
  manifests/python.yml
Labels: build-python-base-images

#3809 [Java] Enable session fingerprinting tests in vertx
  manifests/java.yml
  utils/build/docker/java/vertx3/src/main/java/com/datadoghq/vertx3/Main.java
  utils/build/docker/java/vertx4/src/main/java/com/datadoghq/vertx4/Main.java
Labels: run-appsec-scenarios

#3800 [python] django and flask test parameter name taint
  manifests/python.yml
  tests/appsec/iast/source/test_parameter_name.py
  utils/build/docker/python/django/app/urls.py
  utils/build/docker/python/django/django_app/settings.py
Labels: python, build-python-base-images

#3723 [dotnet] parametric app improvements
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApi.cs
  utils/build/docker/dotnet/parametric/Endpoints/ApmTestApiOtel.cs
  utils/build/docker/dotnet/parametric/Program.cs
  utils/build/docker/dotnet/parametric/appsettings.Development.json
  utils/build/docker/dotnet/parametric/appsettings.json
Labels: dev-x, dotnet, run-parametric-scenario

#3855 [JAVA] Mark as irrelevant test_login_event_blocking_auto_id
  tests/appsec/test_automated_login_events.py
Labels: run-appsec-scenarios

#3822 [Java] Enable session blocking tests in Java
  manifests/java.yml
Labels: run-appsec-scenarios

#3844 Add a parameter to define when to trigger SDK events
  docs/weblog/README.md
  tests/appsec/test_automated_user_and_session_tracking.py
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/security/AppSecAuthenticationFilter.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/security/AppSecAuthenticationProvider.java
  utils/build/docker/java/spring-boot/src/main/java/com/datadoghq/system_tests/springboot/security/AppSecToken.java
Labels: run-appsec-scenarios

#3858 [JAVA] fix easy wins for ests/appsec/test_blocking_addresses.py::Test_Suspicious_Request_Blocking
  manifests/java.yml
  tests/appsec/test_blocking_addresses.py
Labels: run-appsec-scenarios

#3856 [JAVA] Enable Test_Blocking_response_status for xpassed variants
  manifests/java.yml
Labels: run-appsec-scenarios

#3847 feature(ssi): add exponential backoff
  tests/auto_inject/utils.py
  utils/onboarding/backend_interface.py
Labels: mergequeue-status: in_progress

#3865 Fix tests/appsec/test_conf.py
  tests/appsec/test_conf.py
  utils/_context/_scenarios/__init__.py
  utils/_context/_scenarios/appsec_low_waf_timeout.py
  utils/build/docker/java/play/conf/routes
  utils/scripts/compute_impacted_scenario.py
Labels: run-appsec-scenarios

#3867 [python] taint parameter name and header name in fastapi
  manifests/python.yml
  tests/appsec/iast/utils.py
  utils/build/docker/python/fastapi/main.py
Labels: python, build-python-base-images

#3869 [dotnet] fix annotation for `DD_TRACE_ENABLED` remote config test
  tests/parametric/test_dynamic_configuration.py
Labels: dotnet, run-parametric-scenario

#3555 [golang] new orchestrion go weblog
  .github/workflows/ci.yml
  docs/execute/binaries.md
  manifests/golang.yml
  tests/test_semantic_conventions.py
  tests/test_standard_tags.py
  utils/build/docker/golang/app/internal/common/http_client_default.go
  utils/build/docker/golang/app/internal/common/http_client_orchestrion.go
  utils/build/docker/golang/app/internal/common/standalone_asm.go
  utils/build/docker/golang/app/net-http-orchestrion/main.go
  utils/build/docker/golang/install_ddtrace.sh
  utils/build/docker/golang/install_orchestrion.sh
  utils/build/docker/golang/net-http-orchestrion.Dockerfile
  utils/scripts/compute-workflow-parameters.py
  utils/scripts/load-binary.sh
Labels: go

#3877 add: test line probe expression language support alongside methods
  tests/debugger/test_debugger_expression_language.py
Labels: mergequeue-status: queued

#2966 [PHP] Add LFI endpoint
  manifests/php.yml
  utils/build/docker/php/app.sh
  utils/build/docker/php/common/php.ini
  utils/build/docker/php/common/rasp/lfi.php
Labels: run-appsec-scenarios
